.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.leftheader {
  display: flex;
  background-color: white;
  height: 34px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  width: 35%;
}

#div1 > button > i {
  margin-right: 5px;
}
.header > button > i {
  margin-right: 5px;
}

.leftheader > select {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-right: 3px;
}

.leftheader > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.leftheadersort {
  overflow: hidden;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin-top: -5px;
}

.leftheadersort i {
  color: #9795b4;
  font-size: 28px;
  margin-left: -12px;
  transform: scaleY(0.5);
  margin-top: -2px;
}

.leftheadersort i:nth-child(2) {
  display: none;
  margin-top: -9px;
}

.leftheadersearch {
  color: #9795b4;
  margin-left: 10px;
  cursor: pointer;
}

.leftheadersearch > div {
  display: flex;
  border-radius: 50px;
  border: 1px solid #eef0f5;
  height: 25px;
  align-items: center;
  width: 193px;
}

.leftheadersearch > div > i {
  margin-left: 10px;
}

.leftheadersearch > div input {
  outline: none;
  border: none;
  margin-left: 10px;
  width: 140px;
  margin-right: 12px;
}

.leftnextpage {
  display: flex;
}

.leftnextpage > p {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 13px;
  padding-right: 3px;
  margin: auto;
  color: #b8b8c8;
}

.leftnextpage > p > strong {
  color: #333333;
}

.leftnextpage button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #9795b4;
}

.leftnextpage ul {
  display: flex;
  list-style: none;
}

.leftnextpage ul li {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
  font-family: sans-serif;
  box-shadow: 0 0 black;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  color: #9795b4;
}

.leftnextpage ul li:nth-child(1) {
  background-color: #4162fb;
  color: white;
  box-shadow: 0 3px 5px #90a3ff;
}

.maindiv2 {
  margin-top: 20px;
}

.leftheadersearch > div {
  display: none;
}

.maindiv2header {
  display: flex;
  margin-bottom: 15px;
  margin-top: 30px;
}

.maindiv2header p {
  color: #78909c;
  font-family: sans-serif;
  font-size: 13px;
  width: 162px;
  font-weight: bold;
}

.itemdiv2 {
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.itemdiv2 > p {
  color: #5e6467;
  font-family: sans-serif;
  font-size: 12px;
  width: 120px;
}

#div2 {
  width: 96%;
  margin: auto;
  display: flex;
  margin-top: 70px;
  position: relative;
  flex-direction: column;
}
.leftnextpage .none {
  box-shadow: none !important;
  background-color: #f5f5fa;
}

.header > button {
  border: none;
  outline: none;
  padding: 7px 0px;
  width: 130px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  position: absolute;
  background-color: #4162fb;
  color: white;
  left: 410px;
  top: 3px;
  box-shadow: 14px 15px 35px 3px #2141d65e;
}

/*  copy header and table */

.hinhanh {
  display: flex;
  width: 220px;
  margin-left: 77px;
}

.hinhanh > div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.hinhanh > div > img {
  width: 30px;
}

.otherdiv {
  position: relative;
}

.otherdiv > div {
  background-color: #333333;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.otherdiv > p {
  position: absolute;
  color: white;
  font-family: sans-serif;
  font-size: 13px;
  width: 100%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  left: -9%;
}

.itemdiv2 > p:nth-child(1) {
  margin-left: 40px;
}

.itemdiv2 > p:nth-child(3) {
  margin-left: 30px;
  margin-right: 10px;
}

.itemdiv2 > p:nth-child(4) {
  margin-left: -20px;
}

.itemdiv2 > p:nth-child(5) {
  margin-left: -15px;
}

.itemdiv2 > p:nth-child(6) {
  margin-left: 50px;
}

.maindiv2header > p:nth-child(1) {
  margin-left: 45px;
}

.maindiv2header > p:nth-child(2) {
  margin-left: 33px;
}

.maindiv2header > p:nth-child(3) {
  transform: translateX(88px);
}

.maindiv2header > p:nth-child(4) {
  transform: translateX(37px);
}

.maindiv2header > p:nth-child(5) {
  margin-left: -20px;
}

.maindiv2header > p:nth-child(6) {
  margin-left: 9px;
}

.thu {
  color: #77a977 !important;
}

.chi {
  color: #ec3650 !important;
}

.itemdiv2 .eye {
  width: 30px;
  border-radius: 50%;
  height: 30px;
  background: white;
  cursor: pointer;
  box-shadow: 14px 15px 35px 3px #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  color: #8d8aad;
  margin-left: 31px;
}

#div1 {
  width: 96%;
  margin: auto;
  display: flex;
  margin-top: 70px;
  position: relative;
  flex-direction: column;
}

.div11 {
  display: flex;
  align-items: center;
}

.div11 > div:nth-child(1) {
  display: flex;
  background-color: white;
  height: 34px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  width: 14%;
}

.div11 > div:nth-child(1) > select {
  border: none;
  outline: none;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-right: 3px;
  margin-right: 20px;
}

.div11 > div:nth-child(1) > p {
  color: #8f8e94;
  font-family: sans-serif;
  font-size: 12px;
  margin-left: 20px;
}

.div11 > button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 64px;
  height: 29px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
  font-family: sans-serif;
  box-shadow: 0 0 black;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  color: #9795b4;
}

.activebutton {
  background-color: #4162fb !important;
  box-shadow: 14px 15px 35px 3px #2141d65e !important;
  color: white !important;
}

.nonebutton {
  background-color: #fafafa !important;
  color: #c5cbd5!important;
  box-shadow: none !important;
  cursor: auto !important;
}

.div12 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.div12item {
  background-color: white;
  border-radius: 5px;
  margin-left: 13px;
  margin-right: 13px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.div12item > div:nth-child(1) {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  width: 300px;
}

.div12item > div:nth-child(1) img {
}

.div12item > div:nth-child(1) p {
  font-size: 12.7px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  color: #888;
  margin-left: 20px;
}

.div12item h3 {
  margin: 0;
  color: #1a1a1a;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 70px;
}

.div12item > img {
  margin-left: 70px;
  margin-bottom: 30px;
}

#div1 > button {
  border: none;
  outline: none;
  padding: 7px 0px;
  width: 130px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  background-color: #4162fb;
  color: white;
  box-shadow: 14px 15px 35px 3px #2141d65e;
  margin: auto;
  margin-top: 50px;
}

#div1 {
  display: none;
}
