<div class="formYesNo" id="formYesNo">
    <div class="formYesNoHidden"></div>
    <div class="content">
        <p class="title"><i class="fa fa-cogs"></i> Bessenger </p>
        <div class="select">
            <p class="title1">Thay đổi mật khẩu</p>
            <div class="pass-content">
                <p #errorold class="error-old error" id="dn-error-1">Mật khẩu hiện tại không thể thiếu</p>
                <p  class="error-old error" id="dn-error-old-equal">Mật khẩu hiện tại không chính xác</p>
                
                <div #borderold class="input_data" id="border-old">
                    <i class="fab fa-old-republic"></i>
                    <input id="pass-old" #passwordold type="password" placeholder="Nhập mật khẩu hiện tại" (keyup)="changeInputPass(passwordold,errorold, borderold)">
                    <i #eyeold class="far fa-eye eye" id="eye-old" (click)="changeIconPass(passwordold, eyeold)"></i>
                </div>
                <p #errornew class="error-new error" id="dn-error-2">Mật khẩu mới không thể thiếu</p>
                <p  class="error-new error" id="dn-error-new-equal">Mật khẩu mới không thể giống mật khẩu hiện tại</p>
                <div #bordernew class="input_data" id="border-new">
                    <i class="fab fa-keycdn"></i>
                    <input id="pass-new" #passwordnew type="password" placeholder="Nhập mật khẩu mới" (keyup)="changeInputPass(passwordnew,errornew, bordernew)">
                    <i #eyenew class="far fa-eye eye" id="eye-new" (click)="changeIconPass(passwordnew,eyenew)"></i>
                </div>
                <p #errorconfirm class="error-confirm error" id="dn-error-3">Xác nhận mật khẩu mới không thể thiếu</p>
                <p #errorequal class="error-equal error" id="dn-error-4">Xác nhận mật khẩu không chính xác</p>
                <div #borderconfirm class="input_data" id="border-confirm">
                    <i class="fab fa-keycdn"></i>
                    <input id="pass-confirm" #passwordconfirm type="password" placeholder="Xác nhận mật khẩu mới" (keyup)="changeInputPass(passwordconfirm,errorconfirm, borderconfirm)">
                    <i #eyeconfirm class="far fa-eye eye" id="eye-confirm" (click)="changeIconPass(passwordconfirm, eyeconfirm)"></i>
                </div>
                <p class="success error" id="dn-success">Đổi mật khẩu thành công</p>
            </div>
            <div class="btn">
                <p (click)="clickOkChangePass()">Đổi mật khẩu <i class="fa fa-check"></i></p>
                <span (click)="clickClose()">Đóng <i class="fas fa-times"></i></span>
            </div>
        </div>
    </div>
</div>