* {
  margin: 0;
  padding: 0;
}

.container {
  width: 65%;
  height: 488px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  .title-header {
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 23px;
    margin-top: 30px;
    color: #23262e;
  }

  .noi-dung {
    letter-spacing: 1px;
    font-size: 11px;
    color: #888888;
    margin-top: 20px;
    font-family: "Raleway";
  }

  .level-password {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;

    .child {
      width: 50px;
      height: 4px;
      border-radius: 4px;
      background-color: #e2e2e2;
      margin-left: 2px;
      margin-right: 2px;
    }

    p {
      width: 119px;
      margin-left: 10px;
      cursor: pointer;
      color: #a7a7a7;
      font-family: "Raleway";
      font-size: 13px;
      font-weight: 600;
    }
  }

  .error {
    display: none;
    font-family: "Raleway";
    width: 326px;
    margin-top: 20px;
    color: #ff7b5c;
    font-size: 13px;
    font-weight: 600;
  }

  .input_data {
    display: flex;
    align-items: center;
    width: 326px;
    height: 40px;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    margin-top: 50px;

    i {
      color: #23262e;
      margin-left: 15px;
    }

    .eye {
      margin-left: 0px;
      cursor: pointer;
    }

    input {
      width: 247px;
      margin-left: 15px;
      outline: none;
      color: #23262e;
      border: none;

      ::placeholder {
        color: red;
      }
    }
  }

  .go-next {
    background-color: #4290f6;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 171px;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 24px;

    p {
      font-family: "Raleway";
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      color: white;
      margin-left: 10px;
    }

    i {
      font-size: 17px;
      color: white;
    }
  }
}
