* {
  margin: 0;
  padding: 0;
}

.forgot-password {
  display: flex;
  min-width: 1349px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .notification {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #e8a2a224;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;

    .content {
      width: 600px;
      height: 500px;
      display: flex;
      background-color: white;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      box-shadow: 17px 20px 14px 4px #dbdae4;
      .anim {
        width: 285px;
        margin-top: 10px;
        height: 285px;
      }

      .title {
        color: #23262e;
        font-family: "Raleway";
        line-height: 21px;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 20px;
        margin-top: 20px;
      }

      .child {
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 500;
        color: #888888;
        margin-top: 15px;
        font-family: "Raleway";
        text-align: center;
      }

      .confirm {
        border: none;
        background-color: #ff7ca9;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        cursor: pointer;
        border-radius: 5px;
        padding: 12px 24px;

        p {
          font-family: "Raleway";
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 1px;
          margin-left: 10px;
          color: white;
        }

        i {
          font-size: 20px;
          color: white;
        }
      }
    }
  }

  .loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #e8a2a224;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    .anim {
      border: 4px solid #da9696;
      border-radius: 50%;
      background: white;
      width: 300px;
      height: 300px;
    }
  }

  .container {
    width: 1244px;
    display: flex;
    flex-direction: row;
    height: 800px;
    background-color: white;
    box-shadow: 0 0 73px 10px #d7e2edd6;
    border-radius: 40px;
    margin: 50px;
  }

  .left {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 34%;
    position: relative;
    height: 100%;
    overflow: hidden;

    .img {
      width: 700px;
      position: absolute;
      top: 0px;
      transform: translateX(-100px);
      left: 0px;
      transition: all 3s ease-in-out;
    }

    &_header {
      position: absolute;
      display: flex;
      width: 100%;
      align-items: center;
      top: 50px;
      left: 50px;
      img {
        width: 24px;
      }
      p {
        color: white;
        font-size: 18px;
        margin-left: 10px;
        font-weight: 700;
        font-family: "Raleway";
      }
    }

    .bar {
      position: absolute;
      top: 730px;
      left: 50px;
      width: 320px;
      background-color: #e2e2e25c;
      border-radius: 4px;
      height: 4px;
      overflow: hidden;

      .child {
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 3s ease-in-out;
        width: 64px;
        height: 4px;
        background: white;
      }
    }

    .content_child {
      position: absolute;
      top: 0px;
      right: 0px;
      top: 752px;
      font-size: 19px;
      font-weight: 600;
      left: 314px;
      display: flex;
      font-family: "Raleway";

      p:nth-child(1) {
        transition: all 2s ease-in-out;
        color: white;
      }
      p:nth-child(2) {
        color: #e2e2e2;
      }
    }

    .thanks {
      color: white;
      font-family: "Raleway";
      left: 50px;
      position: absolute;
      top: 210px;
      font-weight: 500;
      letter-spacing: 1px;
      font-size: 15px;
    }

    .title {
      color: white;
      font-family: "Raleway";
      left: 50px;
      position: absolute;
      top: 260px;
      letter-spacing: 1px;
      font-weight: 500;
      font-size: 36px;
    }

    .content {
      color: white;
      font-family: "Raleway";
      left: 50px;
      width: 325px;
      line-height: 21px;
      letter-spacing: 1px;
      position: absolute;
      top: 389px;
      font-weight: 500;
      font-size: 13px;
    }

    .more {
      color: white;
      font-family: "Raleway";
      left: 50px;
      width: 325px;
      line-height: 21px;
      letter-spacing: 1px;
      position: absolute;
      top: 671px;
      font-weight: 500;
      font-size: 11px;
      display: flex;
      flex-direction: row;
      p {
        transform: translateY(-7px);
        margin-left: 17px;
      }
      i {
        font-size: 20px;
      }
    }
  }

  .right {
    position: relative;
    width: 66%;
    overflow: hidden;
    border-bottom-right-radius: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .header {
      width: 100%;
      height: 27%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      .title {
        color: #23262e;
        font-family: "Raleway";
        line-height: 21px;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 20px;
        margin-top: 70px;
      }

      .process {
        width: 60%;
        margin-top: 37px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;

        i {
          background: white;
          color: #4290f6;
          z-index: 2;
        }

        .line-done-1 {
          width: 50%;
          left: 0px;
          height: 2px;
          background-color: #f5f5f5;
          position: absolute;
          top: 0px;
          margin-top: 7px;
        }

        .line-done-2 {
          width: 50%;
          right: 0px;
          height: 2px;
          background-color: #f5f5f5;
          position: absolute;
          top: 0px;
          z-index: 1;
          margin-top: 7px;
        }
      }

      .process-name {
        width: 70%;
        margin-top: 15px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;

        p {
          letter-spacing: 1px;
          font-size: 12px;
          font-family: "Raleway";
          font-weight: 600;
          color: #c8c5cb;
        }
      }

      .line {
        width: 80%;
        height: 2px;
        background-color: #f5f5f5;
        position: absolute;
        bottom: 0px;
      }
    }

    .footer {
      display: flex;
      width: 72%;
      margin-left: 140px;
      height: 12%;
      color: #888888;
      font-family: "Raleway";

      p {
        line-height: 21px;
        letter-spacing: 1px;
        font-size: 11px;
        transform: translateY(-5px);
        margin-left: 17px;
      }

      i {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

}
