<div class="container" *ngIf="friendInfor.id == 1">
        <img class="bg-hands" src="assets/images/list-friends-friends-page/sends.jpg" alt="">
        <div class="bg-title">
           
            <div class="icon"><i id="icon_s" class="icon_s fas fa-paper-plane"></i></div>
            <div class="title"><span>Bạn chưa gửi yêu cầu kết bạn nào.</span></div>
        </div>
</div>
<div class="container" *ngIf="friendInfor.id != 1">
  <img  class="bg" src="{{ friendInfor.img }} || 'assets/images/loading.gif'" alt="" />
  <div class="cover-bg"></div>
  <div class="cover">
    <img src="{{ friendInfor.img }} || 'assets/images/loading.gif'" alt="" />
  </div>
 
  <div class="content">
    <img
    class="bg-sub"
    src="assets/images/list-friends-friends-page/bg-profile-myfriend7.jpg"
    alt=""
  />
  </div>
    <div class="right">
      <div class="ins">XIN CHÀO, <span>TÊN</span> TÔI LÀ</div>
       <div class="name" matTooltipClass="tooltip" matTooltip="{{friendInfor.name}}" *ngIf="friendInfor.checkLimitNameSendProfile()">{{friendInfor.getNameLimitSendProfile()}}</div>
    <div class="name" *ngIf="!friendInfor.checkLimitNameSendProfile()">{{friendInfor.name}}</div>
     
      <button (click)="undoSendRequest(friendInfor.id)" class="abort-friend btn">
        <i class="fas fa-undo"></i>Hủy yêu cầu
      </button>
      <button (click)="onClickMessage(friendInfor.id)" class="accept btn">
        <i class="fas fa-comment"></i>Nhắn tin
      </button>
    </div>
  
</div>
<div class="container" *ngIf="friendInfor == null">
  
</div>