* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 60px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 4px 8px 28px 0px #d3dceb;
  position: relative;
  align-items: center;
  display: flex;
}

.hinh-dai-dien {
  margin-left: 20px;
  position: relative;
  width: 40px;
  height: 40px;
  .nhom {
    width: 100%;
    height: 100%;
    position: relative;
    .hinh-1 {
      box-shadow: 0 0 2px #909090;
      position: absolute;
      left: 0px;
      bottom: 0px;
      z-index: 10;
      width: 26px;
      height: 26px;
      object-fit: cover;
      border-radius: 50%;
    }

    .hinh-2 {
      box-shadow: 0 0 2px #909090;
      z-index: 9;
      width: 26px;
      height: 26px;
      object-fit: cover;
      border-radius: 50%;
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
  .don {
    width: 100%;
    height: 100%;
    img {
      box-shadow: 0 0 2px #909090;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .online {
    width: 13px;
    height: 13px;
    position: absolute;
    background-color: #ffffff;
    left: 27px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    .child {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #31a24c;
    }
  }
}

.thong-tin {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 20px;
  .ten {
    font-family: "Raleway";
    word-wrap: break-word;
    font-size: 13px;
    font-weight: 600;
    width: 270px;
  }
  .trang-thai {
    width: 270px;
    color: #cbcbcb;
    font-family: "Raleway";
    word-wrap: break-word;
    font-size: 11px;
    font-weight: 500;
  }
}

.icon {
  position: absolute;
  display: flex;
  justify-content: space-between;
  right: 10px;
  .child {
    margin-left: 15px;
    margin-right: 15px;
    i {
      cursor: pointer;
    }
  }

  .hidden {
    transform: translateX(77px) scaleY(0) !important;
  }

  .box-select {
    transform: translateX(77px);
    position: absolute;
    padding: 20px 40px 5px 15px;
    box-shadow: 17px 20px 14px 4px #dbdae4;
    background-color: white;
    border-radius: 5px;
    top: 40px;
    right: 0px;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    button {
      display: flex;
      background-color: white;
      border: none;
      outline: none;
      cursor: pointer;
      width: 125px;
      color: #5e6467;
      font-family: "Raleway";
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 14px;

      i {
        color: #90a4ae;
        font-size: 17px;
        margin-right: 10px;
        margin-top: -3px;
      }
    }
  }
}
