<div class="container">
  <img class="bg" src="{{friendInfor.img}}" alt="" />
  <div class="cover-bg"></div>
  <div class="cover">
    <img src="{{friendInfor.img}}" alt="" />
    
  </div>
  <img class="bg-sub" src="assets/images/list-friends-friends-page/bg-profile-myfriend7.jpg" alt="">
 
    <div class="right">
      <div class="ins">XIN CHÀO, <span>TÊN</span> TÔI LÀ</div>
      <div class="name">{{friendInfor.name}}</div>
      <button class="message btn">
        <i class="fas fa-comment"></i>Nhắn tin
      </button>
      <button class="abort-friend btn">
        <i class="fas fa-user-times"></i>Từ chối
      </button>
      <button class="accept btn">
        <i class="fas fa-user-times"></i>Chấp nhận
      </button>
    </div>
 
</div>
