.container {
    width: 250px;
    height: 36px;
    position: relative;
    display: flex;
    align-items: center;
  
    .audio-rec {
      visibility: hidden;
      position: absolute;
      width: 0px;
      height: 0px;
    }
    .content {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 35px;
      background-color: rgba(255, 255, 255, 0.164);
      max-width: 250px;
    }
    .stroke-content {
      display: none;
      width: 60%;
      height: 35px;
      position: absolute;
      align-items: center;
      margin-left: 15px;
      .stroke {
        display: block;
        position: absolute;
        background-color: white;
        height: 60%;
        width: 1px;
        border-radius: 50px;
        animation: animate 1s linear infinite;
      }
      @keyframes animate {
        50% {
          height: 20%;
        }
        100% {
          height: 60%;
        }
      }
      .stroke:nth-child(1) {
        animation-delay: 0s;
        left: 40px;
      }
      .stroke:nth-child(2) {
        animation-delay: 0.2s;
        left: 44px;
      }
      .stroke:nth-child(3) {
        animation-delay: 0.4s;
        left: 48px;
      }
      .stroke:nth-child(4) {
        animation-delay: 0.6s;
        left: 52px;
      }
      .stroke:nth-child(5) {
        animation-delay: 0.2s;
        left: 56px;
      }
      .stroke:nth-child(6) {
        animation-delay: 0.8s;
        left: 60px;
      }
      .stroke:nth-child(7) {
        animation-delay: 0.6s;
        left: 64px;
      }
      .stroke:nth-child(8) {
        animation-delay: 0.4s;
        left: 68px;
      }
      .stroke:nth-child(9) {
        animation-delay: 0.2s;
        left: 72px;
      }
      .stroke:nth-child(10) {
        animation-delay: 0.6s;
        left: 76px;
      }
      .stroke:nth-child(11) {
        animation-delay: 0.8s;
        left: 80px;
      }
      .stroke:nth-child(12) {
        animation-delay: 1s;
        left: 84px;
      }
      .stroke:nth-child(13) {
        animation-delay: 0.2s;
        left: 88px;
      }
      .stroke:nth-child(14) {
        animation-delay: 0.6s;
        left: 92px;
      }
      .stroke:nth-child(15) {
        animation-delay: 0.2s;
        left: 96px;
      }
      .stroke:nth-child(16) {
        animation-delay: 0.8s;
        left: 100px;
      }
      .stroke:nth-child(17) {
        animation-delay: 1s;
        left: 104px;
      }
      .stroke:nth-child(18) {
        animation-delay: 0.2s;
        left: 108px;
      }
      .stroke:nth-child(19) {
        animation-delay: 0.2s;
        left: 112px;
      }
      .stroke:nth-child(20) {
        animation-delay: 0.8s;
        left: 116px;
      }
      .stroke:nth-child(21) {
        animation-delay: 1s;
        left: 120px;
      }
      .stroke:nth-child(22) {
        animation-delay: 0.2s;
        left: 124px;
      }
      .stroke:nth-child(23) {
        animation-delay: 0.8s;
        left: 128px;
      }
      .stroke:nth-child(24) {
        animation-delay: 1s;
        left: 132px;
      }
      .stroke:nth-child(25) {
        animation-delay: 0.2s;
        left: 136px;
      }
      .stroke:nth-child(26) {
        animation-delay: 0.6s;
        left: 140px;
      }
      .stroke:nth-child(27) {
        animation-delay: 0.2s;
        left: 144px;
      }
      .stroke:nth-child(28) {
        animation-delay: 0.8s;
        left: 148px;
      }
      .stroke:nth-child(29) {
        animation-delay: 1s;
        left: 152px;
      }
      .stroke:nth-child(30) {
        animation-delay: 0.2s;
        left: 156px;
      }
      .stroke:nth-child(31) {
        animation-delay: 0.2s;
        left: 160px;
      }
    }
    .seekbar {
      -webkit-appearance: none;
      height: 100%;
      width: 100%;
      margin: 0px;
      border-radius: 20px;
      background-color: transparent;
      cursor: pointer;
      outline: none;
      position: absolute;
      z-index: 1;
    }
  
    .seekbar::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1px;
      height: 35px;
      cursor: pointer;
    }
    .pause {
      width: 24px;
      height: 24px;
      margin-left: 6px;
      display: flex;
      text-align: center;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      z-index: 2;
    }
    .time {
      position: relative;
      width: 41px;
      height: 24px;
      background-color: white;
      border-radius: 40px;
      text-align: center;
      margin-left: 173px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .time-read {
        font-size: 11.5px;
        font-family: sans-serif;
        letter-spacing: 0.5px;
        color: #3275f7;
        font-weight: 600;
      }
    }
  }
  