* {
    margin: 0;
    padding: 0;
    // font-family: 'Raleway';
  }
  
  .container {
    position: relative;
    background-color: #f5f9fc;
    border-radius: 40px;
    height: 100%;
    width: 1144px;
    display: flex;
    font-family: 'Raleway';
    .main {
      position: absolute;
      border-radius: 40px;
      top: 20px;
      left: 20px;
      width: 1104px;
      height: 760px;
      background-color: white;
      overflow: hidden;
      
      .avatar-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: blur(5px);
      }
      .cover-avatar-bg {
        width: 100%;
        height: 0%;
        position: absolute;
        bottom: 0px;
        border-top-left-radius: 70%;
        border-top-right-radius: 70%;
        background-color: rgba(255, 255, 255, 0.432);
      }
      .cover-avatar-bg-animation {
        height: 50%;
        transition: all 1s;
      }
     
        .circle-right, .circle-left {
          width: 210px;
          height: 210px;
          border-radius: 50%;
          position: absolute;
          background-color: rgba(255, 255, 255, 0.5);
          top: 275px;
          .circle-sub-2 {
            width: 190px;
            height: 190px;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: white;
            cursor: pointer;
            img {
              width: 170px;
              height: 170px;
              object-fit: cover;
              border-radius: 50%;
              position: absolute;
              top: 10px;
              left: 10px;
              background-color: white;
              }
              i{
                font-size: 50px;
                position: absolute;
                color: white;
                left: 65px;
                top: 65px;
                text-shadow: 2px 2px black;
              }
          }
        }
        .circle-left {
          left: -200px;
        }
        .circle-right {
          right: -200px;
        }
      .circle-center {
        position: absolute;
        top: -200px;
        // top: 205px;
        left: 377px;
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.432);
        .circle-sub-1 {
          width: 310px;
          height: 310px;
          border-radius: 50%;
          position: absolute;
          top: 20px;
          left: 20px;
          background-color: rgba(255, 255, 255, 0.7);
          .name {
            position: absolute;
            bottom: 20px;
            left: 50px;
            border-radius: 40px;
            width: 70%;
            height: 35px;
            background-color: rgb(20, 20, 20);
            text-align: center;
            span {
              font-size: 20px;
              font-weight: bold;
              color: white;
              display: block;
              margin-top: 5px;
            }
          }
  
          .circle-sub-2 {
            width: 290px;
            height: 290px;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: white;
            cursor: pointer;
            img {
            width: 270px;
            height: 270px;
            object-fit: cover;
            border-radius: 50%;
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: white;
            }
          }
        }
      }
    
      .circle-center-animation {
        top: 205px;
        transition: all 1s;
      }
      .circle-left-animation {
        left: 120px;
        transition: all 1s;
      }
      .circle-right-animation {
        right: 120px;
        transition: all 1s;
      }
   
    }
  }
  .show-unfriend {
    transform: scaleY(1) !important;
  }
  .loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #e8a2a224;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    .anim {
      border: 4px solid #da9696;
      border-radius: 50%;
      background: white;
      width: 300px;
      height: 300px;
    }
  }
  .formYesNo {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    transition: 0.2s all ease-in-out;
    transform: scaleY(0);
  
    .formYesNoHidden {
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #e8a2a224;
      top: 0px;
      z-index: 2;
    }
  
    .content {
      border-radius: 10px;
      width: 530px;
      height: 340px;
      top: 50%;
      left: 50%;
      margin-left: -265px;
      margin-top: -170px;
      z-index: 3;
      background-color: white;
      position: absolute;
      box-shadow: 17px 20px 14px 4px #dbdae4;
  
      .title {
        text-align: center;
        font-family: sans-serif;
        color: rgb(65, 98, 251);
        font-weight: bold;
        font-size: 22px;
        margin-top: 20px;
  
        i {
          color: rgb(65, 98, 251);
        }
      }
  
      .select {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
  
        .title1 {
          color: #36363f;
          font-weight: bold;
          font-size: 18px;
          font-family: sans-serif;
          margin-bottom: 10px;
        }
        .avatar-new {
          width: 100px;
          height: 100px;
          object-fit: cover;
        }
        .title2 {
          color: #5e6477;
          font-size: 14px;
          text-align: center;
          width: 360px;
          margin-top: 35px;
          font-family: sans-serif;
        }
  
        div {
          display: flex;
          p {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            background-color: rgb(216 216 216);
            border: none;
            border-radius: 3px;
            width: 200px;
            height: 40px;
            margin-top: 30px;
            font-size: 14px;
            font-family: sans-serif;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            cursor: pointer;
            i {
              margin-left: 5px;
            }
          }
          span {
            color: white;
            background-color: rgb(65, 98, 251);
            border: none;
            border-radius: 3px;
            width: 200px;
            height: 40px;
            margin-top: 30px;
            font-size: 14px;
            font-family: sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 10px;
            cursor: pointer;
            i {
              color: white;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
  