<div class="login-page">
  <!-- Change version -->
  <app-change-version></app-change-version>

  <div class="notification" *ngIf="this.notification_login_page_ws.isShow()">
    <div class="content">
      <main lottie [options]="this.notification_login_page_ws.options"
            (animationCreated)="this.notification_login_page_ws.animationCreated($event)" class="anim"></main>
      <p class="title">{{this.notification_login_page_ws.title}}</p>
      <p class="child">{{this.notification_login_page_ws.child}}</p>
      <button class="confirm" (click)="this.notification_login_page_ws.hidden()">
        <i class="fab fa-battle-net"></i>
        <p>Tiếp tục</p>
      </button>
    </div>
  </div>

  <div class="loading" *ngIf="isLoading">
    <main lottie [options]="options" (animationCreated)="animationCreated($event)" class="anim"></main>
  </div>

  <div class="container">

    <div class="left">
      <img id="hinh1" class="img" src="assets/images/login-page/background1.jpg" alt="">
      <img id="hinh2" class="img" src="assets/images/login-page/background2.jpg" alt="">
      <img id="hinh3" class="img" src="assets/images/login-page/background3.jpg" alt="">
      <img id="hinh4" class="img" src="assets/images/login-page/background4.jpg" alt="">
      <img id="hinh5" class="img" src="assets/images/login-page/background5.jpg" alt="">

      <div class="left_header">
        <img src="assets/images/icon.ico" alt="">
        <p>Bessenger</p>
      </div>

      <p class="content">Bessenger giúp bạn kết nối và chia sẻ với mọi người trong cuộc sống của bạn.</p>

      <div id="dang-ky-2" class="login" (click)="dangKyTaoKhoanChuyenComponent()">
        <p>Đăng ký</p>
      </div>

      <div id="dang-nhap-2" style="display: none;" class="login" (click)="dangNhapChuyenComponent()">
        <p>Đăng nhập</p>
      </div>

      <div class="bar">
        <div id="child" class="child"></div>
      </div>

      <div class="content_child">
        <p id="content_child">01 </p>
        <p> - 05</p>
      </div>

    </div>

    <div class="right">
      <div class="right_header">
        <img src="assets/images/icon.ico" alt="">
        <p>Bessenger</p>
      </div>

      <div class="dang-nhap" id="dang-nhap">
        <div class="right_header2">
          <p>Đăng nhập tài khoản của bạn</p>
        </div>

        <div class="input_data" id="dn-email">
          <i class="far fa-paper-plane"></i>
          <input type="text" placeholder="Tài khoản" [(ngModel)]="userName" (ngModelChange)="dnEmail($event)">
        </div>

        <p class="error" id="dn-error-1">Email không thể thiếu</p>

        <div class="input_data" id="dn-mat-khau">
          <i class="fab fa-keycdn"></i>
          <input #password type="password" placeholder="Mật khẩu" [(ngModel)]="passWord"
                 (ngModelChange)="dnPassword($event)">
          <i #eye class="far fa-eye eye" (click)="hiddenAndShowPassword(password,eye)"></i>
        </div>

        <p class="error" id="dn-error-2">Mật khẩu không thể thiếu</p>

        <div class="re-capcha">
          <div class="card-body">
            <div #recaptcha_ws></div>
          </div>
        </div>

        <p class="error" id="dn-error-3">Bạn là Robot ư ?</p>

        <div class="login" (click)="dangNhap()">
          <p>Đăng nhập</p>
        </div>

        <div class="line"></div>

        <div class="more">
          <p (click)="dangKyTaoKhoanChuyenComponent()">Đăng ký tài khoản mới?</p>
          <p (click)="qMK()">Quên mặt khẩu?</p>
        </div>

        <div class="terms">
          <p>Chính sách bảo mật</p>
          <p>Điều khoản sử dụng</p>
        </div>
      </div>

      <div class="dang-ky" id="dang-ky">
        <div class="right_header2">
          <p>Đăng ký tài khoản của bạn</p>
        </div>

        <div class="input_data" id="dk-email">
          <i class="far fa-paper-plane"></i>
          <input type="text" placeholder="Email" [(ngModel)]="userName" (ngModelChange)="dkEmail($event)">
        </div>

        <p class="error" id="dk-error-1">Email không thể thiếu</p>

        <div class="input_data" id="dk-ten">
          <i class="fas fa-signature"></i>
          <input type="text" placeholder="Tên của bạn" [(ngModel)]="ten" (ngModelChange)="dkTen($event)">
        </div>

        <p class="error" id="dk-error-2">Tên không thể thiếu</p>

        <div class="input_data" id="dk-password">
          <i class="fab fa-keycdn"></i>
          <input #password2 type="password" placeholder="Mật khẩu" [(ngModel)]="passWord"
                 (ngModelChange)="changePassword($event)">
          <i #eye2 class="far fa-eye eye" (click)="hiddenAndShowPassword(password2,eye2)"></i>
        </div>

        <p class="error" id="dk-error-3">Mật khẩu không thể thiếu</p>

        <div class="level-password" id="level-password">
          <div class="child">
          </div>
          <div class="child">
          </div>
          <div class="child">
          </div>
          <p>Hãy nhập mật khẩu</p>
        </div>

        <p class="bao-mat">Bằng cách đăng ký, bạn xác nhận rằng đã đọc và chấp thuật <span>Thông Báo Người
                    Dùng</span> và
          <span>Chính Sách Bảo Mật</span> của
          chúng tôi
        </p>

        <div class="login" (click)="dangKy()">
          <p>Đăng ký</p>
        </div>

        <div class="terms" (click)="dangNhapChuyenComponent()">
          <p>Bạn đã có tài khoản? Đăng nhập</p>
        </div>
      </div>
    </div>

  </div>

  <div class="quen-mat-khau" id="quen-mat-khau">
    <div class="content">
      <div class="right_header2">
        <p>Quên mật khẩu</p>
      </div>
      <div class="input_data" id="qmk-email">
        <i class="far fa-paper-plane"></i>
        <input type="text" placeholder="Email" [(ngModel)]="email_quen_mat_khau"
               (ngModelChange)="quenMatKhauEmail($event)">
      </div>
      <p class="error" id="qmk-error">Email không thể thiếu</p>

      <div class="buttons">
        <div class="go-back" (click)="hiddenQMK()">
          <i class="fas fa-angle-left"></i>
          <p>Trở lại</p>
        </div>
        <div class="login" (click)="requestQMK()">
          <p>Gửi yêu cầu</p>
        </div>
      </div>
    </div>
  </div>
</div>
