<div class="container">
    <img class="bg" src="assets/images/list-friends-friends-page/bg-profile-myfriend2.jpg" alt="">
    <div class="left">
        <div class="ins">XIN CHÀO, <span>TÊN</span> TÔI LÀ</div>
        <div class="name">{{myFriend.name}}</div>
        <button class="message btn"><i class="fas fa-comment"></i>Nhắn tin</button>
        <button class="abort-friend btn"><i class="fas fa-user-times"></i>Hủy kết bạn</button>
    </div>
    <div class="right">
        <div class="cover"></div>
        <div class="avt">
            <img [src]="myFriend.link" alt="">
        </div>
        <div class="line"></div>
    </div>

</div>
