* {
    margin: 0;
    padding: 0;
  }

  .loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #e8a2a224;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    .anim {
      border: 4px solid #da9696;
      border-radius: 50%;
      background: white;
      width: 300px;
      height: 300px;
    }
  }

  .container {
    position: relative;
    background-color: #f5f9fc;
    border-radius: 40px;
    height: 800px;
    width: 1144px;
  }

  .doi-ten {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    background: #e8a2a224;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-main {
      width: 700px;
      height: 215px;
      display: flex;
      flex-direction: column;
      border-radius: 8px;
      background-color: white;
      box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a,
        inset 0 0 0 1px #ffffff80;

      &-header {
        position: relative;
        width: 100%;
        height: 60px;
        border-bottom: 1px solid #0000001a;
        display: flex;
        align-items: center;

        &-name {
          font-family: "Raleway";
          font-weight: 700;
          font-size: 20px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-icon {
          position: absolute;
          cursor: pointer;
          width: 36px;
          right: 0px;
          margin-right: 15px;
          height: 36px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #e4e6eb;
          i {
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/W6QImUVyJuR.png);
            background-position: -126px -71px;
            background-size: auto;
            width: 20px;
            height: 20px;
            background-repeat: no-repeat;
            display: inline-block;
            filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
              hue-rotate(174deg) brightness(94%) contrast(86%);
          }
        }
      }

      &-content {
        margin-top: 20px;
        width: 100%;

        .p1 {
          font-family: "Raleway";
          font-size: 13px;
          color: #65676b;
          margin-top: 9px;
          font-weight: 500;
          width: 90%;
          margin-left: auto;
          margin-right: auto;
          line-height: 20px;
        }

        &-buttons {
          margin-top: 22px;
          margin-left: 12px;
          width: 637px;
          justify-content: flex-end;
          display: flex;

          &-item {
            border-radius: 6px;
            color: #050505;
            font-weight: 700;
            font-family: "Raleway";
            height: 36px;
            width: 97px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #e4e6eb;
            margin-left: 8px;
            cursor: pointer;
          }

          &-item-select {
            background-color: #1877f2;
            color: white;
          }

          &-item-done {
            cursor: not-allowed;
            color: #bcc0c4;
            background-color: #e4e6eb;
          }
        }
      }
    }
  }


