<div class="arrow-giphy"></div>
<div class="container">
    <div class="header">
        <div class="ago"><i class="far fa-clock"></i></div>
        <div class="left">
            <!-- <div class="prev"></div> -->
            <div class="sticker" *ngFor="let item of stickerList" (click)="loadStickerDetail(item.id)" [class.sticker-selected]="item.id == selected">
                <img [src]="item.img" alt="">
            </div>
            <div class="sticker"></div>
            <div class="sticker"></div>
        </div>
        <div class="next">
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="right">
            <div class="add" (click)="stickersService.openShop()">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-sticker" *ngFor="let item of stickerDetailList">
            <img [src]="item.url" alt="">
        </div>
    </div>
</div>

