<div class="arrow-giphy"></div>
<div class="container">
    <div class="header">
        <div class="left">
            <!-- <div class="prev"></div> -->
            <div class="ago"><i class="far fa-clock"></i></div>
            <div class="sticker"></div>
            <div class="sticker"></div>
            <div class="sticker"></div>
            <div class="sticker"></div>
            <div class="next">
                <i class="fas fa-chevron-right"></i>
            </div>
        </div>
        <div class="right">
            <div class="add" (click)="stickersService.openShop()">
                <i class="fas fa-plus-circle"></i>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-sticker"></div>
    </div>
</div>

