<div class="container" *ngIf="friendInfor != null">
  <img class="bg" src="{{ friendInfor.img }}" alt="" />
  <div class="cover-bg"></div>
  <div class="cover">
    <img src="{{ friendInfor.img }}" alt="" />
  </div>
 
  <div class="content">
    <img
    class="bg-sub"
    src="assets/images/list-friends-friends-page/bg-profile-myfriend7.jpg"
    alt=""
  />
  </div>
    <div class="right">
      <div class="ins">XIN CHÀO, <span>TÊN</span> TÔI LÀ</div>
      <div class="name">{{ friendInfor.name }}</div>
     
      <button class="abort-friend btn">
        <i class="fas fa-undo"></i>Hủy yêu cầu
      </button>
      <button class="accept btn">
        <i class="fas fa-comment"></i>Nhắn tin
      </button>
    </div>
  
</div>
<div class="container" *ngIf="friendInfor == null">
  
</div>