.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway";
  background-color: white;
  border-radius: 40px;
  -webkit-box-shadow: 4px 8px 28px 0px #d3dceb;
          box-shadow: 4px 8px 28px 0px #d3dceb;
  position: relative;
}

.container .bg-hands {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .bg-title {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.container .bg-title .icon {
  position: absolute;
  left: 285px;
  top: 260px;
}

.container .bg-title .icon i {
  font-size: 140px;
  color: white;
  text-shadow: 2px 2px black;
}

.container .bg-title .title {
  position: absolute;
  top: 430px;
  left: 160px;
  text-align: center;
}

.container .bg-title .title span {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.container .bg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 70%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  position: absolute;
}

.container .cover-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffffa2), to(#568cf7));
  background-image: linear-gradient(to bottom, #ffffffa2, #568cf7);
}

.container .cover {
  position: relative;
  top: 235px;
  width: 330px;
  height: 330px;
  background-color: white;
  border-radius: 50%;
  z-index: 10;
  left: 207px;
}

.container .cover img {
  position: absolute;
  left: 15px;
  top: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: 10;
}

.container .bg-sub {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-clip-path: polygon(49% 53%, 69% 70%, 100% 70%, 100% 100%, 0 100%, 0 70%, 31% 70%);
          clip-path: polygon(49% 53%, 69% 70%, 100% 70%, 100% 100%, 0 100%, 0 70%, 31% 70%);
}

.container .content {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0px;
  border-bottom-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-clip-path: polygon(50% 50%, 70% 68.5%, 100% 68.5%, 100% 100%, 0 100%, 0 68.5%, 30% 68.5%);
          clip-path: polygon(50% 50%, 70% 68.5%, 100% 68.5%, 100% 100%, 0 100%, 0 68.5%, 30% 68.5%);
  background-color: white;
}

.container .right {
  width: 50%;
  height: 100%;
}

.container .right .ins {
  width: 350px;
  position: absolute;
  font-size: 25px;
  font-weight: bold;
  bottom: 120px;
  left: 20px;
}

.container .right .ins span {
  color: #3275f7;
}

.container .right .name {
  width: 610px;
  height: 80px;
  bottom: 20px;
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  z-index: 5;
  left: 20px;
  word-wrap: break-word;
  text-shadow: 3px 3px #3275f7;
}

.container .right .btn {
  color: white;
  outline: none;
  border: none;
  height: 45px;
  background-color: #3275f7;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
  bottom: 115px;
  position: absolute;
}

.container .right .btn i {
  margin-right: 9px;
}

.container .right .abort-friend {
  font-weight: 600;
  font-family: "Raleway";
  background-color: white;
  color: #3275f7;
  right: 163px;
  width: 140px;
  border: #3275f7 solid 2px;
}

.container .right .accept {
  font-weight: 600;
  font-family: "Raleway";
  background-color: #3275f7;
  color: white;
  right: 20px;
  width: 130px;
  border: #3275f7 solid 1px;
}
/*# sourceMappingURL=profile-send.component.css.map */