* {
  margin: 0;
  padding: 0;
}

.login-page{
  display: flex;
  min-width: 1349px;
  min-height: 100vh;
  justify-content: center;
  align-items: center;

  .quen-mat-khau {
    display: none;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #e8a2a224;
    z-index: 99;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;

    .content {
      width: 600px;
      height: 400px;
      display: flex;
      background-color: white;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 0 15px 2px #a7575782;

      .right_header2 {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 90px;
        justify-content: center;
        img {
          width: 30px;
        }
        p {
          color: #23262e;
          font-size: 24px;
          margin-left: 10px;
          font-weight: 700;
          font-family: "Raleway";
        }
      }

      .input_data {
        display: flex;
        align-items: center;
        width: 326px;
        height: 40px;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;

        i {
          color: #23262e;
          margin-left: 15px;
        }

        .eye {
          margin-left: 0px;
          cursor: pointer;
        }

        input {
          width: 247px;
          margin-left: 15px;
          outline: none;
          color: #23262e;
          border: none;

          ::placeholder {
            color: red;
          }
        }
      }

      .buttons {
        width: 326px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

        .login {
          cursor: pointer;
          width: 150px;
          height: 40px;
          border-radius: 5px;
          background-color: #4290f6;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            letter-spacing: 1px;
            font-family: "Raleway";
            font-size: 15px;
            color: white;
            font-weight: 600;
          }
        }

        .go-back {
          background-color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 5px;
          padding: 11px 24px;
          border: 1px solid #23262e;

          p {
            font-family: "Raleway";
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-left: 10px;
            color: #23262e;
          }

          i {
            font-size: 17px;
            color: #23262e;
          }
        }
      }

      .error {
        display: none;
        font-family: "Raleway";
        width: 326px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        color: #ff7b5c;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

  .notification {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #e8a2a224;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;

    .content {
      width: 600px;
      height: 500px;
      display: flex;
      background-color: white;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      box-shadow: 0 0 15px 2px #a7575782;
      .anim {
        width: 285px;
        margin-top: 10px;
        height: 285px;
      }

      .title {
        color: #23262e;
        font-family: "Raleway";
        line-height: 21px;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 20px;
        margin-top: 20px;
      }

      .child {
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 500;
        color: #888888;
        margin-top: 15px;
        font-family: "Raleway";
        text-align: center;
      }

      .confirm {
        border: none;
        background-color: #ff7ca9;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        cursor: pointer;
        border-radius: 5px;
        padding: 12px 24px;

        p {
          font-family: "Raleway";
          font-size: 13px;
          font-weight: 600;
          letter-spacing: 1px;
          margin-left: 10px;
          color: white;
        }

        i {
          font-size: 20px;
          color: white;
        }
      }
    }
  }

  .loading {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: #e8a2a224;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    .anim {
      border: 4px solid #da9696;
      border-radius: 50%;
      background: white;
      width: 300px;
      height: 300px;
    }
  }

  .container {
    width: 1244px;
    display: flex;
    flex-direction: row;
    height: 800px;
    background-color: white;
    box-shadow: 0 0 73px 10px #d7e2edd6;
    border-radius: 40px;
    margin: 50px;
  }

  .left {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    width: 62%;
    position: relative;
    height: 100%;
    overflow: hidden;

    .img {
      width: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      transition: all 3s ease-in-out;
    }

    &_header {
      position: absolute;
      display: flex;
      width: 100%;
      align-items: center;
      margin-top: 90px;
      top: 280px;
      left: 50px;
      img {
        width: 28px;
      }
      p {
        color: white;
        font-size: 22px;
        margin-left: 10px;
        font-weight: 700;
        font-family: "Raleway";
      }
    }

    .content {
      color: white;
      font-family: "Raleway";
      font-weight: 500;
      font-size: 36px;
      width: 521px;
      top: 430px;
      letter-spacing: 1px;
      left: 50px;
      position: absolute;
    }

    .login {
      cursor: pointer;
      width: 140px;
      height: 40px;
      border-radius: 10px;
      background-color: #4290f6;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 50px;
      top: 630px;
      margin-left: auto;
      margin-right: auto;

      p {
        letter-spacing: 1px;
        font-family: "Raleway";
        font-size: 15px;
        color: white;
        font-weight: 600;
      }
    }

    .bar {
      position: absolute;
      top: 730px;
      left: 50px;
      width: 400px;
      background-color: #e2e2e25c;
      border-radius: 4px;
      height: 4px;
      overflow: hidden;

      .child {
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 3s ease-in-out;
        width: 80px;
        height: 4px;
        background: white;
      }
    }

    .content_child {
      position: absolute;
      top: 0px;
      right: 0px;
      top: 719px;
      font-size: 19px;
      font-weight: 600;
      left: 471px;
      display: flex;
      font-family: "Raleway";

      p:nth-child(1) {
        transition: all 2s ease-in-out;
        color: white;
      }
      p:nth-child(2) {
        color: #e2e2e2;
      }
    }
  }

  .right {
    position: relative;
    width: 38%;
    overflow: hidden;
    border-bottom-right-radius: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;

    &_header {
      display: flex;
      width: 100%;
      align-items: center;
      margin-top: 90px;
      justify-content: center;
      img {
        width: 30px;
      }
      p {
        color: #23262e;
        font-size: 24px;
        margin-left: 10px;
        font-weight: 700;
        font-family: "Raleway";
      }
    }
    .dang-nhap {
      position: relative;
      height: 100%;
      .right_header2 {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 40px;
        justify-content: center;

        p {
          color: #23262e;
          font-size: 20px;
          margin-left: 10px;
          font-weight: 700;
          font-family: "Raleway";
        }
      }

      .input_data {
        display: flex;
        align-items: center;
        width: 326px;
        height: 40px;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;

        i {
          color: #23262e;
          margin-left: 15px;
        }

        .eye {
          margin-left: 0px;
          cursor: pointer;
        }

        input {
          width: 247px;
          margin-left: 15px;
          outline: none;
          color: #23262e;
          border: none;

          ::placeholder {
            color: red;
          }
        }
      }

      .login {
        cursor: pointer;
        width: 326px;
        height: 40px;
        border-radius: 10px;
        background-color: #4290f6;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

        p {
          letter-spacing: 1px;
          font-family: "Raleway";
          font-size: 15px;
          color: white;
          font-weight: 600;
        }
      }

      .more {
        width: 326px;
        margin-top: 30px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        align-items: center;

        p {
          cursor: pointer;
          color: #4290f6;
          font-family: "Raleway";
          font-size: 14px;
          font-weight: 600;
        }
      }

      .line {
        height: 1px;
        background-color: #e2e2e2;
        width: 326px;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
      }

      .terms {
        height: 62px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        margin-top: 15px;
        background-color: #fbfafb;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;

        p {
          margin-left: 10px;
          margin-right: 10px;
          cursor: pointer;
          color: #4290f6;
          font-family: "Raleway";
          font-size: 13px;
          font-weight: 600;
        }
      }

      .re-capcha {
        display: flex;
        justify-content: center;
        margin-top: 20px;
      }

      .error {
        display: none;
        font-family: "Raleway";
        width: 326px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        color: #ff7b5c;
        font-size: 13px;
        font-weight: 600;
      }
    }

    .dang-ky {
      display: none;
      position: relative;
      height: 100%;
      .right_header2 {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 90px;
        margin-bottom: 40px;
        justify-content: center;

        p {
          color: #23262e;
          font-size: 20px;
          margin-left: 10px;
          font-weight: 700;
          font-family: "Raleway";
        }
      }

      .input_data {
        display: flex;
        align-items: center;
        width: 326px;
        height: 40px;
        border: 1px solid #e2e2e2;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;

        i {
          color: #23262e;
          margin-left: 15px;
        }

        .eye {
          margin-left: 0px;
          cursor: pointer;
        }

        input {
          width: 247px;
          margin-left: 15px;
          outline: none;
          color: #23262e;
          border: none;

          ::placeholder {
            color: red;
          }
        }
      }

      .login {
        cursor: pointer;
        width: 326px;
        height: 40px;
        border-radius: 10px;
        background-color: #4290f6;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

        p {
          letter-spacing: 1px;
          font-family: "Raleway";
          font-size: 15px;
          color: white;
          font-weight: 600;
        }
      }

      .bao-mat {
        font-family: "Raleway";
        width: 326px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        color: #a7a7a7;
        font-size: 13px;
        letter-spacing: 1px;
        line-height: 23px;
        text-align: center;

        span {
          cursor: pointer;
          font-weight: 600;
          color: #4290f6;
        }
      }

      .terms {
        height: 62px;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        margin-top: 15px;
        background-color: #fbfafb;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;

        p {
          cursor: pointer;
          color: #4290f6;
          font-family: "Raleway";
          font-size: 13px;
          font-weight: 600;
        }
      }

      .level-password {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .child {
          width: 50px;
          height: 4px;
          border-radius: 4px;
          background-color: #e2e2e2;
          margin-left: 2px;
          margin-right: 2px;
        }

        p {
          width: 119px;
          margin-left: 10px;
          cursor: pointer;
          color: #a7a7a7;
          font-family: "Raleway";
          font-size: 13px;
          font-weight: 600;
        }
      }

      .error {
        display: none;
        font-family: "Raleway";
        width: 326px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        color: #ff7b5c;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }
}

