* {
  margin: 0;
  padding: 0;
}

.quen-mat-khau {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 99;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
}

.quen-mat-khau .content {
  width: 600px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 2px #a7575782;
          box-shadow: 0 0 15px 2px #a7575782;
}

.quen-mat-khau .content .right_header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.quen-mat-khau .content .right_header2 img {
  width: 30px;
}

.quen-mat-khau .content .right_header2 p {
  color: #23262e;
  font-size: 24px;
  margin-left: 10px;
  font-weight: 700;
  font-family: "Raleway";
}

.quen-mat-khau .content .input_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 326px;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.quen-mat-khau .content .input_data i {
  color: #23262e;
  margin-left: 15px;
}

.quen-mat-khau .content .input_data .eye {
  margin-left: 0px;
  cursor: pointer;
}

.quen-mat-khau .content .input_data input {
  width: 247px;
  margin-left: 15px;
  outline: none;
  color: #23262e;
  border: none;
}

.quen-mat-khau .content .input_data input ::-webkit-input-placeholder {
  color: red;
}

.quen-mat-khau .content .input_data input :-ms-input-placeholder {
  color: red;
}

.quen-mat-khau .content .input_data input ::-ms-input-placeholder {
  color: red;
}

.quen-mat-khau .content .input_data input ::placeholder {
  color: red;
}

.quen-mat-khau .content .buttons {
  width: 326px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.quen-mat-khau .content .buttons .login {
  cursor: pointer;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: #4290f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quen-mat-khau .content .buttons .login p {
  letter-spacing: 1px;
  font-family: "Raleway";
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.quen-mat-khau .content .buttons .go-back {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 11px 24px;
  border: 1px solid #23262e;
}

.quen-mat-khau .content .buttons .go-back p {
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 10px;
  color: #23262e;
}

.quen-mat-khau .content .buttons .go-back i {
  font-size: 17px;
  color: #23262e;
}

.quen-mat-khau .content .error {
  display: none;
  font-family: "Raleway";
  width: 326px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #ff7b5c;
  font-size: 13px;
  font-weight: 600;
}

.notification {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
}

.notification .content {
  width: 600px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 15px 2px #a7575782;
          box-shadow: 0 0 15px 2px #a7575782;
}

.notification .content .anim {
  width: 285px;
  margin-top: 10px;
  height: 285px;
}

.notification .content .title {
  color: #23262e;
  font-family: "Raleway";
  line-height: 21px;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
}

.notification .content .child {
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  color: #888888;
  margin-top: 15px;
  font-family: "Raleway";
  text-align: center;
}

.notification .content .confirm {
  border: none;
  background-color: #ff7ca9;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 24px;
}

.notification .content .confirm p {
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 10px;
  color: white;
}

.notification .content .confirm i {
  font-size: 20px;
  color: white;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
}

.loading .anim {
  border: 4px solid #da9696;
  border-radius: 50%;
  background: white;
  width: 300px;
  height: 300px;
}

.container {
  width: 1244px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 800px;
  background-color: white;
  -webkit-box-shadow: 0 0 73px 10px #d7e2edd6;
          box-shadow: 0 0 73px 10px #d7e2edd6;
  border-radius: 40px;
  margin: 50px;
}

.left {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  width: 62%;
  position: relative;
  height: 100%;
  overflow: hidden;
}

.left .img {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
}

.left_header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  top: 280px;
  left: 50px;
}

.left_header img {
  width: 28px;
}

.left_header p {
  color: white;
  font-size: 22px;
  margin-left: 10px;
  font-weight: 700;
  font-family: "Raleway";
}

.left .content {
  color: white;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 36px;
  width: 521px;
  top: 430px;
  letter-spacing: 1px;
  left: 50px;
  position: absolute;
}

.left .login {
  cursor: pointer;
  width: 140px;
  height: 40px;
  border-radius: 10px;
  background-color: #4290f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50px;
  top: 630px;
  margin-left: auto;
  margin-right: auto;
}

.left .login p {
  letter-spacing: 1px;
  font-family: "Raleway";
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.left .bar {
  position: absolute;
  top: 730px;
  left: 50px;
  width: 400px;
  background-color: #e2e2e25c;
  border-radius: 4px;
  height: 4px;
  overflow: hidden;
}

.left .bar .child {
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 3s ease-in-out;
  transition: all 3s ease-in-out;
  width: 80px;
  height: 4px;
  background: white;
}

.left .content_child {
  position: absolute;
  top: 0px;
  right: 0px;
  top: 719px;
  font-size: 19px;
  font-weight: 600;
  left: 471px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway";
}

.left .content_child p:nth-child(1) {
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  color: white;
}

.left .content_child p:nth-child(2) {
  color: #e2e2e2;
}

.right {
  position: relative;
  width: 38%;
  overflow: hidden;
  border-bottom-right-radius: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.right_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right_header img {
  width: 30px;
}

.right_header p {
  color: #23262e;
  font-size: 24px;
  margin-left: 10px;
  font-weight: 700;
  font-family: "Raleway";
}

.right .dang-nhap {
  position: relative;
  height: 100%;
}

.right .dang-nhap .right_header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right .dang-nhap .right_header2 p {
  color: #23262e;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 700;
  font-family: "Raleway";
}

.right .dang-nhap .input_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 326px;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.right .dang-nhap .input_data i {
  color: #23262e;
  margin-left: 15px;
}

.right .dang-nhap .input_data .eye {
  margin-left: 0px;
  cursor: pointer;
}

.right .dang-nhap .input_data input {
  width: 247px;
  margin-left: 15px;
  outline: none;
  color: #23262e;
  border: none;
}

.right .dang-nhap .input_data input ::-webkit-input-placeholder {
  color: red;
}

.right .dang-nhap .input_data input :-ms-input-placeholder {
  color: red;
}

.right .dang-nhap .input_data input ::-ms-input-placeholder {
  color: red;
}

.right .dang-nhap .input_data input ::placeholder {
  color: red;
}

.right .dang-nhap .login {
  cursor: pointer;
  width: 326px;
  height: 40px;
  border-radius: 10px;
  background-color: #4290f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.right .dang-nhap .login p {
  letter-spacing: 1px;
  font-family: "Raleway";
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.right .dang-nhap .more {
  width: 326px;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .dang-nhap .more p {
  cursor: pointer;
  color: #4290f6;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 600;
}

.right .dang-nhap .line {
  height: 1px;
  background-color: #e2e2e2;
  width: 326px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.right .dang-nhap .terms {
  height: 62px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-top: 15px;
  background-color: #fbfafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .dang-nhap .terms p {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  color: #4290f6;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
}

.right .dang-nhap .re-capcha {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.right .dang-nhap .error {
  display: none;
  font-family: "Raleway";
  width: 326px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #ff7b5c;
  font-size: 13px;
  font-weight: 600;
}

.right .dang-ky {
  display: none;
  position: relative;
  height: 100%;
}

.right .dang-ky .right_header2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-bottom: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right .dang-ky .right_header2 p {
  color: #23262e;
  font-size: 20px;
  margin-left: 10px;
  font-weight: 700;
  font-family: "Raleway";
}

.right .dang-ky .input_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 326px;
  height: 40px;
  border: 1px solid #e2e2e2;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.right .dang-ky .input_data i {
  color: #23262e;
  margin-left: 15px;
}

.right .dang-ky .input_data .eye {
  margin-left: 0px;
  cursor: pointer;
}

.right .dang-ky .input_data input {
  width: 247px;
  margin-left: 15px;
  outline: none;
  color: #23262e;
  border: none;
}

.right .dang-ky .input_data input ::-webkit-input-placeholder {
  color: red;
}

.right .dang-ky .input_data input :-ms-input-placeholder {
  color: red;
}

.right .dang-ky .input_data input ::-ms-input-placeholder {
  color: red;
}

.right .dang-ky .input_data input ::placeholder {
  color: red;
}

.right .dang-ky .login {
  cursor: pointer;
  width: 326px;
  height: 40px;
  border-radius: 10px;
  background-color: #4290f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.right .dang-ky .login p {
  letter-spacing: 1px;
  font-family: "Raleway";
  font-size: 15px;
  color: white;
  font-weight: 600;
}

.right .dang-ky .bao-mat {
  font-family: "Raleway";
  width: 326px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #a7a7a7;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 23px;
  text-align: center;
}

.right .dang-ky .bao-mat span {
  cursor: pointer;
  font-weight: 600;
  color: #4290f6;
}

.right .dang-ky .terms {
  height: 62px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-top: 15px;
  background-color: #fbfafb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .dang-ky .terms p {
  cursor: pointer;
  color: #4290f6;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
}

.right .dang-ky .level-password {
  margin-top: 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .dang-ky .level-password .child {
  width: 50px;
  height: 4px;
  border-radius: 4px;
  background-color: #e2e2e2;
  margin-left: 2px;
  margin-right: 2px;
}

.right .dang-ky .level-password p {
  width: 119px;
  margin-left: 10px;
  cursor: pointer;
  color: #a7a7a7;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
}

.right .dang-ky .error {
  display: none;
  font-family: "Raleway";
  width: 326px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: #ff7b5c;
  font-size: 13px;
  font-weight: 600;
}
/*# sourceMappingURL=login-page.component.css.map */