<div class="loading" *ngIf="this.chat_page_process_service.isLoadingProcess()">
  <main lottie [options]="this.chat_page_process_service.options"
    (animationCreated)="this.chat_page_process_service.animationCreated($event)" class="anim"></main>
</div>


<!-- Trang chat với bạn bè -->
<div class="container">
  <!-- Danh sách bạn bè và tin nhắn gần nhất với họ
  <app-friends-list class="friends-list" 
    [online_list]="online_list" [friends_list]="friends_list"
    [selectedUser]="selectedUser" (outToParentChangeSlide)="getDataChangeSlide($event)"
    (outToParentSelectedUser)="setSelectedUser($event)" (outToParentSendIdGroup)="getIDGroupFromListFriends($event)">
  </app-friends-list> -->

  <router-outlet></router-outlet>

</div>