* {
  margin: 0;
  padding: 0;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  .anim {
    border: 4px solid #da9696;
    border-radius: 50%;
    background: white;
    width: 300px;
    height: 300px;
  }
}

.container {
  position: relative;
  background-color: #f5f9fc;
  border-radius: 40px;
  height: 100%;
  width: 1144px;
}

.tao-nhom-moi {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 998;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;

  .content {
    background: white;
    box-shadow: 0 0 47px 0px #bbb7b7;
    width: 500px;
    position: relative;
    border-radius: 10px;

    .title {
      color: black;
      font-family: "Raleway";
      font-weight: 600;
      letter-spacing: 1px;
      margin-top: 40px;
      margin-left: 40px;
    }

    .exit {
      position: absolute;
      right: 20px;
      top: 34px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: #e7e7e7 solid 0.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        top: 5px;
        font-size: 16px;
        left: 8px;
        color: #a4afbf;
      }
    }
  }
}
