.group-list {
    font-family: 'Raleway';
    width: 803px;
    position: relative;
    height: 763px;
    border-radius: 27px;
    top: 20px;
    left: 25px;
    &-title {
        position: absolute;
        font-weight: 500;
        font-size: 25px;
        top: 0px;
        left: 50px;
        width: 300px;
        i {
            font-size: 25px;
            padding-right: 10px;
            color: gray;
        }
    }
    &-container {
        position: absolute;
        width: 720px;
        height: 700px;
        display: flex;
        flex-wrap: wrap;
        overflow-y: scroll;
      
        top: 40px;
        left: 65px;
        
        &-content {
            width: 200px;
            height: 200px;
            background-color: white;
            border-radius: 20px;
            box-shadow: 0px 0px 20px 0px #d3dceb;
            margin: 15px 18px 18px 18px;
            position: relative;
            cursor: pointer;
            &-option {
                text-align: right;
                margin-right: 15px;
                margin-top: 12px;
                height: 19.2px;
                i {
                    font-size: 12px;
                    color: gray;
                    opacity: 0;
                    transition: all 0.2s;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                }
                i:hover {
                    color: #3275f7;
                }
                &-detail {
                    font-size: 13px;
                    box-shadow: 0px 0px 20px 0px #d3dceb;
                    background-color: white;
                    width: 130px;
                    height: 92px;
                    border-radius: 7px;
                    position: absolute;
                    right: 30px;
                    top: 20px;
                    opacity: 0;
                    .row_1{
                     padding: 15px 0px 15px 15px;  
                     border-bottom: rgb(218, 217, 217) solid 0.5px; 
                    }
                    .row_2 {
                        padding: 15px 0px 15px 15px;
                    }
                    .row_1:hover {
                        background-color: #f5f9fc;
                        border-top-right-radius: 7px;
                        border-top-left-radius: 7px;
                    }
                    .row_2:hover {
                        background-color: #f5f9fc;
                        border-bottom-right-radius: 7px;
                        border-bottom-left-radius: 7px;
                    }
                }
               
              
            }
            .option-detail-block {
                opacity: 1;
            }
          
            &-img {
                margin: 0px 0px 10px 50px;
                img {
                    object-fit: cover;
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                }
            }
            &-name, &-members{
              text-align: center;
            }
            &-name {
                font-size: 15px;
                margin-bottom: 5px;
            }
            &-members{
                font-size: 12px;
            }
        }
        &-content:hover {
            .group-list-container-content-option {
                i{
                    opacity: 1;
                    transition: all 0.2s;
                }
              
            }
           
        }
    }
    ::-webkit-scrollbar {
        width: 7px;
       
      }
}