* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container .main {
  width: 1080px;
  height: 100%;
  margin: auto;
  margin-bottom: 50px;
}
.img1,
.img2,
.img3,
.img4 {
  width: 100%;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.36);
}
.container .main .title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 50px;
  font-weight: bold;
  text-transform: uppercase;
}
.img1 img {
  width: 100%;
}
.img2 img {
  width: 100%;
}
.img3 img {
  width: 100%;
}
.img4 img {
  width: 100%;
}
.container .main .title1 {
  font-size: 25px;
  margin: 20px 0 20px 0;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #f60;
  border-radius: 5px;
  color: white;
  line-height: 40px;
}
.form_size {
  margin-bottom: 10px;
  display: flex;
  line-height: 30px;
  padding-left: 10px;
  height: 50px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.36);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.36);
  padding-top: 8px;
  border-radius: 3px;
}
.form_size input {
  margin-right: 5px;
  padding-left: 10px;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  float: right;
}
.form_size input:focus {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(61, 241, 255, 0.92);
  box-shadow: 0px 0px 14px 0px rgba(61, 241, 255, 0.92);
}
.form_size div {
  margin-right: 10px;
}
.male,
.female {
  margin-top: 2px;
}
.btn_2 {
  background-color: greenyellow;
  height: 35px;
  margin-left: 20px;
  line-height: 25px;
}
#btn_1 {
  display: none;
}
.result {
  margin-left: 20px;
}
.result input {
  width: 150px;
}

.titlemain {
  font-size: 36px !important;
  line-height: 46px !important;
  color: #232020 !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-family: "Oswald", sans-serif !important;
}

.titilesub {
  margin-bottom: 1.5rem !important;
  line-height: 1.5;
  font-size: 16px;
  color: #6b778d;
}

.divtitle {
  text-align: center;
  padding: 88px 0px;
}

.divtitle img {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.selectdiv {
  display: flex;
  justify-content: center;
  background-color: #232020;
  width: 80%;
  margin: auto;
  color: white;
  height: 40px;
  align-items: center;
  margin-top: 80px;
  border-left: 2px solid #232020;
  border-right: 2px solid #232020;
}

.men,
.woman {
  width: 50%;
  text-align: center;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  font-weight: bold;
  border-top: 2px solid #232020;
  transition: all 0.2s ease-in;
}
.men {
  background-color: white;
  color: #232020;
}

#size3,
#size4 {
  display: none;
}
