<div class="container">
    <div class="left-settings">
      <h3 style="
     margin-top: 27px;
     margin-bottom: 20px;
     margin-left: 33px;">Cài đặt</h3>
      <div class="left-body">
        <div class="left-nav">
          <div [class.active]="this.settings_service.stateSetting == 'trang_thai_hoat_dong'" (click)="clickChangeState('trang_thai_hoat_dong')"
            class="nav-item nav-link has-icon nav-link-faded">
            <i class="far fa-dot-circle"></i>
            Trạng thái hoạt động
          </div>
          <div [class.active]="this.settings_service.stateSetting == 'thong_bao'" (click)="clickChangeState('thong_bao')"
            class="nav-item nav-link has-icon nav-link-faded">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-bell mr-2">
              <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
              <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
            </svg>Thông báo
          </div>
          <div [class.active]="this.settings_service.stateSetting == 'ho_tro'" (click)="clickChangeState('ho_tro')"
            class="nav-item nav-link has-icon nav-link-faded">
            <i class="far fa-question-circle"></i>Hỗ trợ
          </div>
        </div>
      </div>
    </div>
    <app-status-settings-ws></app-status-settings-ws>
  </div>