.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Raleway";
  background-color: white;
  border-radius: 40px;
  -webkit-box-shadow: 4px 8px 28px 0px #d3dceb;
          box-shadow: 4px 8px 28px 0px #d3dceb;
}

.container .bg-hands {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .bg-title {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.container .bg-title .icon {
  position: absolute;
  left: 292px;
  top: 260px;
}

.container .bg-title .icon i {
  font-size: 140px;
  color: white;
}

.container .bg-title .title {
  position: absolute;
  top: 430px;
  left: 130px;
  text-align: center;
}

.container .bg-title .title span {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.container .bg {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.container .top {
  width: 100%;
  height: 70%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bfd1f5), to(#3275f7));
  background-image: linear-gradient(#bfd1f5, #3275f7);
  border-bottom-right-radius: 80%;
  border-bottom-left-radius: 80%;
  position: relative;
}

.container .top .bg-top {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 80%;
  border-bottom-left-radius: 80%;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.container .top .name-opacity {
  max-width: 100%;
  overflow: hidden;
  font-size: 192px;
  font-weight: bold;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.788), rgba(123, 155, 221, 0.801));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  position: absolute;
  top: 70px;
}

.container .top .name-bg-1 {
  max-width: 98%;
  overflow: hidden;
  font-size: 180px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.801);
  position: absolute;
  top: 150px;
}

.container .top .name-bg-2 {
  max-width: 97%;
  overflow: hidden;
  font-size: 260px;
  font-weight: bold;
  background: -webkit-linear-gradient(#dae0ec, rgba(50, 116, 247, 0.801));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 360px;
}

.container .top .tai-tho {
  width: 120px;
  height: 200px;
  border: white solid 10px;
  background-color: #5f92f7;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
}

.container .top .tai-tho i {
  font-size: 100px;
  color: white;
}

.container .top .left-circle {
  top: 100px;
  left: 130px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.container .top .right-circle {
  top: 100px;
  right: 130px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.container .top .circle-1 {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 140px;
  left: 102px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .top .circle-1 .circle-2 {
  width: 480px;
  height: 480px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 20px;
  left: 20px;
}

.container .top .circle-1 .circle-2 .circle-3 {
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 15px;
  left: 15px;
}

.container .top .circle-1 .circle-2 .circle-3 .avt {
  width: 440px;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.container .top .circle-1 .circle-2 .circle-3 .name {
  width: 250px;
  height: 40px;
  background-color: #0e0c0c;
  position: absolute;
  bottom: 0px;
  left: 100px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .top .circle-1 .circle-2 .circle-3 .name span {
  margin-top: 8px;
  color: white;
  font-size: 25px;
  font-weight: bold;
  margin: auto;
}

.container .top .circle-1 .circle-2 .circle-3 .name .ten {
  color: #3275f7;
}

.container .bottom {
  width: 70%;
  position: absolute;
  height: 50px;
  bottom: 0px;
  left: 15%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #0e0c0c;
}

.container .bottom .bot-circle {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  top: -30px;
  -webkit-box-shadow: 0px 0px 10px 0px #acb0b4;
          box-shadow: 0px 0px 10px 0px #acb0b4;
  cursor: pointer;
}

.container .bottom .bot-circle .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #3275f7;
}

.container .bottom .bot-circle .circle i {
  position: absolute;
  left: 13px;
  top: 12px;
  font-size: 25px;
  color: white;
}

.container .bottom .add-f {
  left: 150px;
}

.container .bottom .add-f .circle i {
  top: 13px;
  left: 14px;
}

.container .bottom .message {
  right: 150px;
}
/*# sourceMappingURL=profile-add.component.css.map */