* {
  margin: 0;
  padding: 0;
}

.tao-nhom-moi {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #e8a2a224;
  z-index: 998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0px;
  left: 0px;
}

.tao-nhom-moi .content {
  background: white;
  -webkit-box-shadow: 17px 20px 14px 4px #dbdae4;
          box-shadow: 17px 20px 14px 4px #dbdae4;
  width: 500px;
  position: relative;
  border-radius: 10px;
}

.tao-nhom-moi .content .title {
  color: black;
  font-family: "Raleway";
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-left: 40px;
}

.tao-nhom-moi .content .exit {
  position: absolute;
  right: 20px;
  top: 34px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: #e7e7e7 solid 0.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tao-nhom-moi .content .exit i {
  top: 5px;
  font-size: 16px;
  left: 8px;
  color: #a4afbf;
}

.tao-nhom-moi .content .main {
  width: 100%;
  height: 450px;
  overflow: scroll;
}

.tao-nhom-moi .content .main .top {
  -webkit-box-shadow: 0 0 11px #e0e0e0;
          box-shadow: 0 0 11px #e0e0e0;
}

.tao-nhom-moi .content .main .error {
  display: none;
  font-family: "Raleway";
  width: 326px;
  margin-top: 10px;
  margin-left: 15px;
  color: #ff7b5c;
  margin-bottom: 20px;
  font-size: 13px;
  font-weight: 600;
}

.tao-nhom-moi .content .main .name-group {
  padding-top: 25px;
  position: relative;
  z-index: 10;
}

.tao-nhom-moi .content .main .name-group .fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tao-nhom-moi .content .main .name-group .fill .title_input_data {
  font-family: "Raleway";
  font-size: 15px;
  margin-left: 40px;
  margin-top: 7px;
}

.tao-nhom-moi .content .main .name-group .fill .input_data {
  margin-bottom: 10px;
  margin-left: 15px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 6px;
  width: 150px;
}

.tao-nhom-moi .content .main .name-group .fill .input_data input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 14px;
}

.tao-nhom-moi .content .main .name-group .error {
  margin-bottom: 0px;
  margin-left: 128px;
}

.tao-nhom-moi .content .main .parent-danh-sach {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tao-nhom-moi .content .main .parent-danh-sach .title_input_data {
  font-family: "Raleway";
  font-size: 15px;
  margin-left: 40px;
  margin-top: 7px;
}

.tao-nhom-moi .content .main .parent-danh-sach .danh-sach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.tao-nhom-moi .content .main .parent-danh-sach .danh-sach .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #e7f3ff;
  padding: 7px;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.tao-nhom-moi .content .main .parent-danh-sach .danh-sach .element p {
  color: #1876f2;
  font-weight: 600;
  font-family: "Raleway";
  font-size: 13px;
}

.tao-nhom-moi .content .main .parent-danh-sach .danh-sach .element button {
  background: #e7f3ff;
  border-radius: 50%;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 7px;
}

.tao-nhom-moi .content .main .parent-danh-sach .danh-sach .element button i {
  font-size: 15px;
  color: #1876f2;
}

.tao-nhom-moi .content .main .parent-danh-sach .danh-sach .input_data {
  margin-bottom: 10px;
  margin-left: 15px;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 6px;
  width: 150px;
}

.tao-nhom-moi .content .main .parent-danh-sach .danh-sach .input_data input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 14px;
}

.tao-nhom-moi .content .main .auto {
  margin-top: 10px;
}

.tao-nhom-moi .content .main .auto .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tao-nhom-moi .content .main .auto .element img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 10px;
  margin-right: 15px;
}

.tao-nhom-moi .content .main .auto .element p {
  font-size: 14px;
  font-family: "Raleway";
}

.tao-nhom-moi .content .main .auto :hover {
  background-color: #e3e4e5;
}

.tao-nhom-moi .content ::-webkit-scrollbar {
  display: none;
}

.tao-nhom-moi .content .end {
  margin-top: 20px;
  width: 100%;
}

.tao-nhom-moi .content .end .confirm {
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px 24px;
  margin-bottom: 20px;
  background: #3275f7;
}

.tao-nhom-moi .content .end .confirm p {
  color: white;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-left: 10px;
}

.tao-nhom-moi .content .end .confirm i {
  color: white;
}
/*# sourceMappingURL=create-group-chat.component.css.map */