<div class="friends-list">
    <div class="friends-list-content">
        <div [class.detail-selected]="item.id === iDUrl" class="detail-friend"  *ngFor="let item of this.friendsPageServiceWS.getSendsList(); let i = index" (click)="onClickSelectedFriend(item, iDUrl)">
                <div class="detail-sub">
                    <div class="detail-left">
                        <img [src]="item.img || 'assets/images/loading.gif'" alt="">
                    </div>
                    <div class="detail-center">
                        <div *ngIf="item.checkLimitNameSendList()" [class.non-mutual]="item.mutualFriends == 0"  matTooltip="{{item.name}}" class="name" matTooltipClass="tooltip">{{item.getNameLimitSendList()}}</div>
                        <div *ngIf="!item.checkLimitNameSendList()" [class.non-mutual]="item.mutualFriends == 0" class="name">{{item.name}}</div>
                        <div (click)="onClickGetIDFriendMutual(item.id)" *ngIf="item.mutualFriends != 0" class="mutual-friends">{{item.mutualFriends}} bạn chung</div>
                        <div (click)="undoSendRequest(item.id)" class="abort detail-btn"><i class="fas fa-undo"></i><span>Hủy yêu cầu</span></div>
                    </div>
                    <div class="detail-right">
                        <div class="time" >{{item.getFormatTimeSend()}}</div>
                       
                    </div>
                </div>
             
        </div>
       
    </div>
</div>
<div class="mutual-friends-list" [class.mutual-display]="idMutualSend!= ''">
    <div class="content-mutual-friends">
        <div class="header">
            <div class="title">Bạn chung</div>
            <div class="exit" (click)="onClickExitMutual()"><i class="fas fa-times"></i></div>
        </div>
        <div class="content-scroll">
            <div class="detail-mutual-friends" *ngFor="let item of  mutualSendList; let i = index">
                    <div class="detail-left">
                        <img [src]="item.img || 'assets/images/loading.gif'" alt="">
                    </div>
                    <div  class="detail-right">
                        <div *ngIf="item.checkLimitNameMutualSend()" class="name">{{item.getNameLimitMutualSend()}}</div>
                        <div *ngIf="!item.checkLimitNameMutualSend()" class="name">{{item.name}}</div>
                        <div class="date"><span>Ngày kết bạn:</span> {{item.dateSendFormatMutualFriends()}}</div>
                    </div>
                    <div class="right-date">
                        <div class="gender"><span>Giới tính:</span> {{item.sex}}</div>
                       
                    </div>
            </div>
        </div>
    </div>
</div>