*{
    margin: 0;
    padding: 0;
    font-family: "sf-regular", sans-serif;
}
.container .main .title{
    width: 100%;
    height: 120px;
    /* background-color: cornflowerblue; */
    padding-top: 30px;
}
.container .main .title .title_text{
    text-transform: uppercase; 
}
.container .main{
    margin-top:50px;
}
.container .main .title span{
    font-size: 30px;
}
.container .main .title .name{
    font-size: 20px;
}
.infoC{
    margin-top: 20px;
    width: 100%;
    height: 500px;
    display: flex;
    /* background-color: cyan; */
}
.navigation{
    width: 40%;
    height: 350px;
    background-color: #fffff;
    margin-right: 30px;
    border-radius: 5px;
}
.infoCustomer{
    width: 70%;
    height: 350px;
    border-radius: 5px;
    background-color: #ededed;
    -webkit-box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.31); 
box-shadow: 0px 0px 18px 5px rgba(0,0,0,0.31);
}
.orange_t{
    color: #f60;
}
/*  */
.title_1 ,.title_2{
    font-weight: bold;
    margin-bottom: 25px;  
    font-size: 20px; 
    color: #f60;
}
.infoAccount, .navigation{
    padding: 10px 0 0 10px;
    
    
}
.infoCustomer .infoAccount .infos li{
    margin-bottom: 15px;
    list-style-type: none;
    padding-left: 20px;
}
.navigation i{
    transform: rotate(90deg);
    margin-right: 5px;
    opacity: 0;
    transition: 0.2s;
}
.navigation a:hover i{
   opacity: 1;
transition: 0.2s;
}
.navigation a:hover{
    color: #f60;
    transition: 0.2s;
}
.navigation a{
    transition: 0.2s;
    margin-left: -20px;
}
.btn_changePass a{
    text-decoration: none;
    color: white;
}
.btn_changePass:hover a{
    color: white;
}
.btn_changePass{
    margin-top: 20px;
    width: 160px;
    height: 40px;
    background-color: black;
    color: white;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    margin-left: 20px;
    position: relative;
}
.infoAccount{
    display: flex;
}
.btn_changePass .layer{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f60;
    width: 3%;
    height: 100%;
    z-index: 2;
    transition: width ease-in-out 0.2s;
}
.btn_changePass:hover .layer{
    width: 100%;
}
.btn_text{
    z-index: 5;
    position: absolute;
    top: 0px;
    left: 12px;
}
.image_account{
    width: 280px;
    height: 280px;
    /* background-color: indianred; */
    padding-top: 15px;
    margin-top: 15px;
    
}
.image_account img{
    width: 250px;
    height: 250px;
    margin: auto;
    display: block;
    -webkit-box-shadow: 0px 0px 0px 7px #CACACA; 
box-shadow: 0px 0px 0px 7px #CACACA;
}
.info_section{
    margin-right: 80px;
}

