*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
.mainOrders{
    width: 100%;
    height: 200px;
    /* background-color: lightcyan; */
    font-size: 20px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 50px;
}
.containerOrders{
    width: 550px;
    margin: auto;
    /* background-color: aqua;    */
    
}
.containerOrders .id_order{
    outline: none;
    width: 70%;
    padding-left: 10px;
    font-size: 18px!important;
}
.containerOrders p{
    margin-bottom: 20px;
    font-weight: bold;
}
.btn_sear{
    width: 120px;
    height: 30px;
    background-color: #f60;
    line-height: 30px;
    text-align: center;
    color: white;
    float: right;
    font-size: 18px!important;
    transition: 0.3s;
    position: relative;
}
.btn_sear a{
    color: white;
}
.btn_sear:hover a{
    color: white;
}
.btn_sear:hover{
    line-height: 28px;
    transition: 0.3s;
    background-color: rgb(214, 86, 0);
    
    height: 30px;
    margin-top: -10px;
}
.btn_sear input{
    display: none;
}
.notFound{
    margin: auto;
    margin-top: 20px;
    width: 550px;
    height: 50px;
    font-weight: bold;
    /* background-color: bisque; */
    display: none;
}
.layerShadow{
    position: absolute;
    width: 100%;
    height: 1%;
    bottom: 0px;
    left: 0px;
    background-color: gray;
    display: none;
    transition: width 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48); 
    box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.48);
}
.btn_sear:hover .layerShadow{
    display: block;
    transition: 0.3s;
    bottom: -10px;
    
}


