.container {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: "Raleway";
  background-color: white;
  border-radius: 40px;
  box-shadow: 4px 8px 28px 0px #d3dceb;
 
    .bg-hands {
        width: 100%;
        height: 100%;
        border-radius: 40px;
        object-fit: cover;
    }
    .bg-title{
        width: 100%;
        height: 100%;
        border-radius: 40px;
        .icon {
            position: absolute;
            left: 275px;
            top: 260px;
            i {
                font-size: 140px;
                color: white;
            }
        }
        .title {
            position: absolute;
            top: 430px;
            left: 70px;
            text-align: center;
            span{
                font-weight: bold;
                font-size: 25px;
                color: white;
                text-shadow: 2px 2px black;
            }
        }
}
  .bg {
    position: absolute;
    // z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 40px;
  }
  .left {
    width: 40%;
    height: 100%;
    position: relative;
    .ins {
      width: 500px;
      position: absolute;
      font-size: 25px;
      font-weight: bold;
      top: 320px;
      left: 10px;
      span {
        color: #3275f7;
      }
    }
    .name {
      width: 500px;
      top: 350px;
      position: absolute;
      font-size: 60px;
      font-weight: bold;
      z-index: 5;
      left: 10px;
      word-wrap: break-word;
      text-shadow: 2px 2px #3275f7;

    }
    
    .btn {
      color: white;
      outline: none;
      border: none;

      height: 45px;
      background-color: #3275f7;
      cursor: pointer;
      border-radius: 10px;
      font-size: 15px;
      top: 500px;
      position: absolute;
      i {
        margin-right: 9px;
      }
    }
    .abort-friend {
      font-weight: 600;
      font-family: "Raleway";
      background-color: white;
      color: #3275f7;
      left: 153px;
      width: 130px;
      border: #3275f7 solid 2px;
    }
    .message {
      font-weight: 600;
      font-family: "Raleway";
      left: 10px;
      width: 120px;
    }
  }
  .right {
    width: 60%;
    height: 100%;
    position: relative;
    .cover {
      width: 350px;
      height: 450px;
      background-color: #fdfb6d;
      position: absolute;
      top: 130px;
      right: 10px;
      z-index: 2;
      border-radius: 20px;
    }

    .avt {
      position: absolute;
      top: 150px;
      z-index: 3;
      right: 30px;
      img {
        object-fit: cover;
        width: 400px;
        height: 500px;
        border-radius: 20px;
      }
    }
    .line {
      position: absolute;
      top: 0px;
      width: 130px;
      height: 760px;
      background-color: #3274f77e;
      transform: skew(-15deg);

      left: 150px;
      z-index: 1;
    }
  }
}
