.div1 {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.div1item {
  background-color: white;
  border-radius: 5px;
  margin-left: 13px;
  margin-right: 13px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.div1item1 {
  display: flex;
  margin-top: 25px;
}

.div1item1 > div > h3 {
  margin: 0;
  color: #1a1a1a;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.div1item1 > div {
  width: 200px;
}

.div1item1 > div > p {
  font-size: 12.7px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  color: #888;
  margin-top: 10px;
}

.div1item1 > i {
  color: #999;
  display: inline-block;
  font-size: 34px;
  margin-top: 5px;
  vertical-align: top;
  margin-left: 30px;
  margin-right: 28px;
}

.div1item1 > p {
  font-size: 14px;
  color: #888;
  font-family: sans-serif;
  margin-top: 12px;
  margin-right: 30px;
}

.div1item2 {
  position: relative;
  margin-top: 37px;
  margin-bottom: 25px;
}

.div1item2 > div:nth-child(1) {
  height: 7px;
  width: 80%;
  background-color: #e9e9e9;
  margin: auto;
}

.div1item2 > div:nth-child(2) {
  height: 7px;
  position: absolute;
  top: 0px;
  left: 10%;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.div1item2color1 {
  width: 57%;
  background: #04a9f5;
}

.div1item2color2 {
  background: #a389d4;
  width: 51%;
}

.div1item2color3 {
  background: #3de4ff;
  width: 32%;
}

.div2 {
  display: flex;
  justify-content: center;
}

.div21 {
  background-color: white;
  margin-top: 30px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}
.div21 > h3 {
  margin: 0;
  color: #1a1a1a;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-top: 28px;
  margin-left: 25px;
}

.div21 > p {
  font-size: 12.7px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  color: #888;
  margin-top: 50px;
  margin-left: 25px;
}

.div21item > div:nth-child(1) {
  display: flex;
  margin-left: 25px;
  width: 550px;
  justify-content: space-between;
  margin-right: 25px;
  align-items: center;
  margin-top: 20px;
}

.div21item > div:nth-child(1) h3 {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
}

.div21item > div:nth-child(1) p {
  font-size: 12.7px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  color: #1a1a1a;
  font-weight: bold;
  margin-top: 10px;
}

.div21item > div:nth-child(3) {
  display: flex;
  margin-left: 25px;
  width: 550px;
  justify-content: space-between;
  margin-right: 25px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.div21item > div:nth-child(3) p {
  font-size: 12.7px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  color: #888;
}

.div21item > div:nth-child(2) {
  position: relative;
  width: 92%;
  margin: auto;
  margin-top: 10px;
}

.div21item > div:nth-child(2) > div:nth-child(1) {
  height: 7px;
  background-color: #e9e9e9;
  margin: auto;
}

.div21item > div:nth-child(2) > div:nth-child(2) {
  height: 7px;
  position: absolute;
  top: 0px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.div21itemcolor1 {
  color: #4162fb;
}

.div21itemcolor2 {
  background-color: #1bbb6c;
  width: 75%;
}

.div21itemcolor3 {
  color: #1bbb6c;
}

.div21itemcolor4 {
  background-color: #cc0a3a;
  width: 20%;
}

.div22 {
  background-color: white;
  margin-top: 30px;
  margin-left: 25px;
  width: 483px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 15px 0px;
  border-radius: 5px;
  position: relative;
}

.div22 > h3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 28px;
  margin-left: 25px;
}

.div22 > div {
  height: 223px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 45px;
  overflow: hidden;
}

.div22 > div > div {
  width: 109%;
  height: 109%;
  overflow: scroll;
}

.div22item > div:nth-child(1) {
  border-radius: 50%;
  overflow: hidden;
  width: 50px;
  height: 50px;
}

.div22item > div:nth-child(1) img {
  width: 50px;
}

.div22item {
  display: flex;
}

.div22item > div:nth-child(2) {
  margin-left: 20px;
  width: 215px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div22item > div:nth-child(2) p:nth-child(1) {
  color: #2a2935;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: auto;
}

.div22item > div:nth-child(2) p:nth-child(2) {
  color: white;
  background-color: #4162fb;
  padding: 6px 12px;
  border-radius: 50px;
  font-family: sans-serif;
  font-size: 11px;
  margin-top: 10px;
  display: flex;
  margin-right: auto;
}

.div22item > p:nth-child(3) {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  color: #1bbb6c;
  display: flex;
  align-items: center;
  width: 115px;
}

.div22item > i {
  display: flex;
  align-items: center;
  margin-left: 15px;
  font-size: 20px;
  font-weight: bold;
}

.div22line {
  height: 1px;
  width: 100%;
  background-color: #e9e9e9;
  margin-top: 20px;
  margin-bottom: 20px;
}

.div22up {
  color: #1bbb6c;
}

.div22down {
  color: #cc0a3a;
}

.div3 {
  display: flex;
  padding-bottom: 30px;
}

.div31 {
  background-color: white;
  margin-left: 22px;
  margin-top: 30px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 500px;
  position: relative;
  margin-right: 3px;
}

.div31 > h3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 28px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.div31 > div {
  width: 85%;
  height: 400px;
  margin: auto;
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 50px;
}

.div31 > div > div {
  overflow: scroll;
  width: 108%;
  height: 108%;
}

.div31item {
  display: flex;
}

.div31item > div:nth-child(2) {
  margin-left: 25px;
}

.div31item > div:nth-child(2) p:nth-child(1) {
  font-size: 11px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  color: #888;
}

.div31item div:nth-child(2) p:nth-child(2) {
  color: #4d4d4d;
  font-size: 13px;
  font-family: sans-serif;
  margin-right: auto;
  margin-top: 10px;
  width: 400px;
  line-height: 20px;
}

.div31item > div:nth-child(1) > i {
  font-size: 13px;
  margin-top: -1px;
  display: flex;
}

.div31item > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div31itemcolor1 > i {
  color: #1de9b6;
}

.div31itemcolor1 > div {
  background-color: #1de9b6;
}

.div31itemcolor2 > i {
  color: #7045ff;
}

.div31itemcolor2 > div {
  background-color: #7045ff;
}

.div31itemcolor3 > i {
  color: #ff8f00;
}

.div31itemcolor3 > div {
  background-color: #ff8f00;
}

.div31itemcolor4 > i {
  color: #ff8684;
}

.div31itemcolor4 > div {
  background-color: #ff8684;
}

.div31item > div:nth-child(1) > div {
  width: 2px;
  margin-top: -1px;
  height: 80px;
}

.div32 {
  margin-top: 30px;
  margin-left: 25px;
  background-color: white;
  width: 577px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: relative;
}

.div32 h3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 28px;
  margin-left: 25px;
  margin-bottom: 30px;
}

.div32 > div:nth-child(2) {
  width: 90%;
  height: 350px;
  margin: auto;
  overflow: hidden;
  margin-top: 50px;
}

.div32 > div:nth-child(2) > div {
  width: 109%;
  height: 109%;
  overflow: scroll;
}

.div32 > div:nth-child(3) {
  width: 90%;
  margin: auto;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.div32 > div:nth-child(3) input {
  border: 0 none;
  color: #9a9a9a;
  font-size: 12px;
  height: 40px;
  padding-left: 30px;
  outline: none;
  width: 80%;
}

.div32 > div:nth-child(3) button {
  background: rgba(0, 0, 0, 0)
    linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  width: 10%;
  font-size: 20px;
  cursor: pointer;
}

.div32 > div:nth-child(2) > div ul {
  list-style: decimal;
  margin-left: 25px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: initial;
  font-weight: 400;
  color: #888;
  width: 88%;
}

.div32item > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.div32item > div:nth-child(1) p {
  width: 450px;
  margin-top: 2px;
}

.div32item > div:nth-child(2) {
  height: 1px;
  width: 110%;
  border-bottom: 1px solid #eaeaea;
  margin-left: -20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.div32item > div:nth-child(1) i {
  cursor: pointer;
  width: 25px;
  background: #888888;
  height: 25px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-top: 0px;
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.3s ease-in-out;
}

.div32 > div:nth-child(2) > div ul li:hover i {
  opacity: 1;
  transform: translateX(0px);
}

.iconheader {
  width: 4px;
  height: 20px;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, #b275f0 0%, #7575f0 100%) repeat scroll 0 0;
  position: absolute;
  left: 0px;
}

.lineh3header {
  height: 1px;
  width: 100%;
  margin-left: -25px;
  background-color: #f1f1f1;
  position: absolute;
  top:73px;
}
