$color-bg-main: #f5f9fc;
* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  .select {
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    padding: 14px 10px;
    margin-left: 10px;
    margin-right: 5px;
    p {
      color: #050505;
      font-weight: 600;
      font-family: "Raleway";
      font-size: 14px;
    }
    .open {
      margin-right: 5px;
      filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/05sBKW1EH-5.png);
      background-position: 0px -389px;
      background-size: auto;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
    }
    .close {
      margin-right: 5px;
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/05sBKW1EH-5.png);
      background-position: 0px -284px;
      background-size: auto;
      width: 20px;
      height: 20px;
      background-repeat: no-repeat;
      display: inline-block;
      filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
      background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yp/r/05sBKW1EH-5.png);
    }
  }
  .select:hover {
    background-color: #f2f2f2;
  }
  .members-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 5px;

    .member {
      display: flex;
      width: 100%;
      height: 35px;
      margin-top: 8px;
      margin-bottom: 8px;
      position: relative;
      .left {
        width: 25%;
        display: flex;
        justify-content: center;
        img {
          border-radius: 50%;
          object-fit: cover;
          width: 36px;
          height: 36px;
          cursor: pointer;
        }
      }
      .center {
        width: 62%;
        display: flex;
        flex-direction: column;
        .name {
          font-size: 15px;
          font-weight: 500;
          margin-top: 1px;
          margin-bottom: 3px;
        }
        .role {
          font-size: 12px;
          color: gray;
        }
        .name-member {
          margin-top: 9px;
        }
      }
      .right {
        width: 13%;
        i {
          margin-top: 10px;
          font-size: 15px;
          color: rgb(122, 122, 122);
          cursor: pointer;
        }
      }
      .hidden {
        transform: translateX(77px) scaleY(0) !important;
      }
      .option {
        position: absolute;
        transform: translateX(77px);
        box-shadow: 6px 20px 14px 4px #dbdae4;
        background-color: white;
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        z-index: 1;
        left: -50px;
        top: 30px;
        .option-btn {
          display: flex;
          width: 185px;
          height: 40px;
          font-size: 14px;
          padding-left: 20px;
          align-items: center;
          cursor: pointer;
          i {
            margin-right: 10px;
            color: #90a4ae;
          }
        }
        .option-btn:hover {
          background-color: #f2f2f2;
        }
      }
    }
    .member-add {
      display: flex;
      width: 100%;
      cursor: pointer;
      height: 48px;
      border-radius: 8px;
      .left {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        .circle {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 36px;
          height: 36px;
          border-radius: 50%;
          background-color: rgb(218, 218, 218);
          i {
            margin-left: 1px;
            margin-top: 1px;
            color: rgb(31, 31, 31);
          }
        }
      }
      .right {
        width: 75%;
        display: flex;
        align-items: center;
        .name {
          font-size: 15px;
          font-weight: 500;
        }
       
      }
    }
    .member-add:hover {
      background-color: #f2f2f2;

    }
  }
}
.show-unfriend {
  transform: scaleY(1) !important;
}

.formYesNo {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  transition: 0.2s all ease-in-out;
  transform: scaleY(0);

  .formYesNoHidden {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #e8a2a224;
    top: 0px;
    z-index: 2;
  }
  
  
  .content, .content_new {
    border-radius: 10px;
    width: 530px;
    height: 340px;
    top: 50%;
    left: 50%;
    margin-left: -265px;
    margin-top: -170px;
    z-index: 3;
    background-color: white;
    position: absolute;
    box-shadow: 17px 20px 14px 4px #dbdae4;
    
    .title, .title_new {
      text-align: center;
      font-family: sans-serif;
      color: rgb(65, 98, 251);
      font-weight: bold;
      font-size: 22px;
      margin-top: 50px;

      i {
        color: rgb(65, 98, 251);
      }
    }
    .title_new {
      margin-top: 30px;
      margin-bottom: 20px;
    }
    .exit {
      position: absolute;
      right: 20px;
      top: 20px;
      cursor: pointer;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: #e7e7e7 solid 0.5px;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        top: 5px;
        font-size: 16px;
        left: 8px;
        color: #a4afbf;
      }
    }
    .search {
      width: 85%;
      height: 35px;
      margin: auto;
      border-radius: 20px;
      position: relative;
      background-color: $color-bg-main;
      input {
        height: 70%;
        width: 86%;
        margin-left: 20px;
        margin-top: 5px;
        border: none;
        outline: none;
      }
      ::placeholder {
        color: #a4afbf;
      }
      input[type="text"] {
        font-size: 13px;
        background-color: $color-bg-main;
      }
      i {
        color: #a4afbf;
        font-size: 15px;
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
      }
    }
    .scroll-new-members {
      width: 85%;
      height: 290px;
      overflow: scroll;
      margin: 15px auto 15px auto;

      .member {
        display: flex;
        width: 100%;
        height: 48px;
        border-radius: 8px;
        cursor: pointer;
        position: relative;
        .left {
          width: 13%;
          img {
            border-radius: 50%;
            width: 38px;
            height: 38px;
            object-fit: cover;
            margin-top: 5px;
            margin-left: 5px;

          }
        }
        .center {
          width: 82%;
          display: flex;
          align-items: center;
          .name {
            font-family: sans-serif;
            font-weight: 450;
          }
        }
        .right {
          width: 5%;
          display: flex;
          align-items: center;
          
          .cover {
            width: 5%;
            position: absolute;
            height: 100%;
            z-index: 10;
          }
          input {
            width: 15px;
            height: 15px;
            z-index: 1;
           
          }
        }
       
      }
      .member:hover {
        background-color: #f2f2f2;
      }
    }
    .select, .select_new {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;

      .title1 {
        color: #36363f;
        font-weight: bold;
        font-size: 18px;
        font-family: sans-serif;
      }

      .title2 {
        color: #5e6477;
        font-size: 14px;
        text-align: center;
        width: 350px;
        margin-top: 35px;
        font-family: sans-serif;
      }

      div {
        display: flex;
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: rgb(216 216 216);
          border: none;
          border-radius: 3px;
          width: 200px;
          height: 40px;
          margin-top: 30px;
          font-size: 14px;
          font-family: sans-serif;
          justify-content: center;
          align-items: center;
          margin-right: 10px;
          cursor: pointer;
          i {
            margin-left: 5px;
          }
        }
        span {
          color: white;
          background-color: rgb(65, 98, 251);
          border: none;
          border-radius: 3px;
          width: 200px;
          height: 40px;
          margin-top: 30px;
          font-size: 14px;
          font-family: sans-serif;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 10px;
          cursor: pointer;
          i {
            color: white;
            margin-left: 5px;
          }
        }
      }
    }
    .select_new {
      margin-top: 0px;
     
    }
  }
  .content_new {
    height: 490px;
    top: 40%;
    div {
      span {
        margin-top: 0px !important;
      }
    }
  }
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #00000066;
}
::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  border-radius: 10px;
}
::-webkit-scrollbar:hover {
  background: #0700001c !important;
}