*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%; 
    height: 100%;
    /* background-color: yellow; */
    /* width: 1920px;
    height: 900px; */
}
.container{
    max-width: 550px;
    height: 620px;
    /* background-color: greenyellow; */
    margin: auto;
    position: relative;
}
.main .container .text{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.main .container .content {
    /* background-color: purple; */
    width: 100%;
    height: 400px;
    margin-top: 100px;
    position: absolute;
}
.main .container .content .texts {
    font-size: 30px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    color: black;
}
.main .container .input input{
    outline: none;
    border: 1px solid #c5c5c5;
    width: 350px;
    height: 25px;
    padding-left: 10px;
    color: grey;
    margin-left: 10px;
}
.main .container .text_checkBox{
    margin-bottom: 60px;
}
.main .container .text_checkBox .remember{
    float: left;
    margin-left: 80px;
}
.main .container .text_checkBox .forgot{
    float: right;
    margin-right: 80px;
}
.main .container .login_choose{
    width: 71%;
    height: 35px;
    background-color: #F23968;
    margin: auto;
    cursor: pointer;
    transition: 0.2s;
}
.main .container .login_choose span{
    line-height: 35px;
    margin-bottom: 30px;
}
.main .container .orr{
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: #F23968;
    border-radius: 50%;
}
.main .container .orr span{
    line-height: 30px;
}
.main .container .or{
    margin-top: 20px;
    cursor: pointer;
}
.main .container .text_white{
    color: white;
}
.main .container .social{
    width: 71%;
    height: 35px;
    margin: auto;
    display: flex;
}
.main .container .social .facebook{
    height: 100%;
    width: 100%;
    line-height: 35px;
    background-color: #3B62A3;
    margin-right: 40px;
    cursor: pointer;
    transition: 0.2s;
}
.main .container .social .facebook:hover{
    background-color: #264a86;
    transition: 0.2s;
}
.main .container .login_choose:hover{
    background-color: #c11641;
    transition: 0.2s;
}
.main .container .social .google{
    height: 100%;
    width: 100%;
    line-height: 35px;
    background-color: orange;
    cursor: pointer;
    transition: 0.2s;
}
.main .container .social .google:hover{
    background-color: #e09203;
}

