#aa-catg-head-banner {
  display: inline;
  float: left;
  position: relative;
  width: 100%;
  height: 382px;
  background-size: cover;
  background-image: url(../img/about/bg1.jpg);
}

#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content h2 {
  font-size: 42px;
  color: #fff;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  margin-top: 81px;
  text-transform: none;
}

.active{
  color: #ff7315 !important;
  font-size: 26px !important;
}

.breadcrumb li a, .breadcrumb li{
  font-size:20px;
}
#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content1 {
  display: inline-block;
  float: left;
  padding: 17% 0;
  text-align: center;
  width: 100%;
}
#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content1 h2 {
  font-size: 42px;
  color: #fff;
  font-weight: 600;
  font-family: 'Oswald', sans-serif;
  margin-top:30px;
}
#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content1 .breadcrumb {
  border-radius: 0;
  background-color: transparent;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
#aa-catg-head-banner .aa-catg-head-banner-area .aa-catg-head-banner-content1 .breadcrumb a {
  color: white;
}

.breadcrumbb{
  display: flex;
  color:white;
  justify-content: center;
  margin-top: 20px;
  font-family: sans-serif;
}

.breadcrumbb li a{
  color:white;
}

.breadcrumbb li i{
  color:white;
  margin-left: 10px;
  margin-right: 10px;
}
