*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.mainOrders{
    width: 100%;
    height: 650px;
    /* background-color: yellowgreen; */
    margin-bottom: 50px;
    margin-top: 50px;

}
.mainOrders .containerOrders{
    width: 1076px;
    height: 630px;
    background-color: rgb(239 239 239);
    margin: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.85); 
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.85); 
}
.mainOrders .containerOrders .status_order{
    width: 97%;
    height: 180px;
    background-color: white;
    display: flex;
    position: relative;
    margin: 20px 0 20px 0;
    border-radius: 5px;
    margin: auto;
}
.containerOrders > p:first-child{
    padding-top: 28px;
}
span{
    color: #f60;
    font-weight: bold;
}
.containerOrders > p{
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
.order_success, .received_order , .ready_delivery, .transport{
    width: 15%;
    /* background-color: darkcyan; */
    margin-right: 5px;
    padding-left: 10px;
    margin-top: 25px;
}
.info_transport_standard{
    width: 42%;
    /* background-color: darkcyan; */
    margin-right: 5px;
    padding-left: 10px;
    margin-top: 25px;
    font-weight: bold;
    color: #f60;
    margin-left: 10px;
}
.hr{
    position: absolute;
    top:100px;
    width: 100%;
    height: 10px;
   background-color: #cecece;
}
.hr_sub{
    position: absolute;
    top:100px;
    width: 32%;
    height: 10px;
   background-color: #f60;
}
.circle1,.circle2, .circle3, .circle4, .circle5, .circle6{
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    top: 97px;
}
.circle1,.circle2, .circle3{
    background-color: #f60;
}
.circle1{
    left: -2px;
}
.circle2{
    
    left: 160px;
}
.circle3{
    
    left: 325px;
}
.circle4{
    background-color: #cecece;
    left: 480px;
}
.circle5{
    background-color: #cecece;
    left: 650px;
}
.circle6{
    background-color: #cecece;
    left: 1026px;
}

.details_order{
    width: 100%;
    height: 250px;
    /* background-color: darkgoldenrod; */
    border-radius: 5px;
}
.details_order .detail_info{
    width: 97%;
    height: 20%;
    background-color: white;
    border: 1px solid #e6e6e6e6;
    line-height: 300%;
    margin: auto; 
}
.txt{
    font-weight: bold;
    color: #f60;
}
.title_a{
    font-weight: bold;
}
.details_order p{
    padding-left: 10px;
}
.last_info{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.first_info{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.title_info{
    background-color: rgb(209, 209, 209) !important;
}
