.mainAccount {
  display: flex;
  width: 100%;
  background-color: #f4f4f4;
}

.contentAccount {
  width: 90%;
  display: flex;
  margin: 100px auto;
  position: relative;
  min-height: 1125px;
  border-radius: 30px;
}

.left {
  position: absolute;
  width: 20%;
  left: 0%;
  top: -50px;
  background-color: white;
  box-shadow: 0 0 40px 7px #dad7d7;
  height: 1225px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.titleleft {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #36363f;
  display: flex;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 80px;
  margin-left: 60px;
}

.titleleft i {
  color: #ff7315;
  margin-right: 12px;
  font-size: 22px;
}

.leftitemselect {
  display: flex;
  width: 97%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  height: 45px;
  margin-top: 20px;
  color: #36363f;
  cursor: pointer;
}

.leftitemselect a {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-weight: bold;
  width: 79%;
  font-size: 14px;
}

.leftitemselect a i {
  color: #ff7315;
  font-size: 22px;
  width: 35px;
}

.leftitemselect p {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 30px;
  font-weight: bold;
  width: 79%;
  font-size: 14px;
}

.leftitemselect p i {
  color: #ff7315;
  font-size: 22px;
  width: 35px;
}

.leftitemselect > i {
  margin-left: 20px;
  color: white;
}

.activeeselect {
  color: #ff7315;
  border-left: 3px solid #ff7315;
  background-color: #f2f4f9;
}

.activeeselect i {
  color: #ff7315;
}

.lineleft {
  background-color: #f6f7f8;
  height: 2px;
  margin-top: 25px;
}

.customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.customer .imguser {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.customer .imguser img {
  width: 100px;
}

.titleuser {
  font-size: 14px;
  color: #36363f;
  font-weight: bold !important;
  margin-top: 20px;
}

.titleuser i {
  color: #36ab46;
  font-size: 8px;
  transform: translateY(-7px);
}

.gmailuser {
  font-size: 13px;
  color: #acacac;
}

.soinoi {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
  color: #ff7315;
}

.changeimg {
  border: none;
  background-color: #ff7315;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 12px;
  width: 170px;
  height: 40px;
  border-radius: 10px;
  outline: none;
}

.headerplanclick {
  margin: 0 auto;
  margin-top: 30px;
  width: 80%;
}

.headerplanclick p {
  font-weight: bold;
  color: #36363f;
  font-size: 12px;
}

.lineheaderplanclick {
  height: 4px;
  background-color: #fbf7f2;
}

.lineheaderplanclick > div {
  background-color: #ff7315;
  width: 60%;
  height: 4px;
}

.contetnplanclick {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.itemplanclick {
  display: flex;
  word-wrap: 40%;
  flex-direction: column;
  align-items: center;
}

.itemplanclick h3 {
  font-size: 20px;
  color: #36363f;
  font-weight: bold;
  font-family: sans-serif;
}

.itemplanclick p {
  color: #747474;
  font-family: sans-serif;
  font-size: 10px;
  text-align: center;
}

.lineitemplanclick {
  width: 1px;
  background-color: #bbbbbb;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  transform: translateY(20px);
}
.rightaccount {
  width: 80%;
  position: absolute;
  left: 20%;
  height: 100%;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0 0 40px 7px #dad7d7;
}
.statustitle {
  color: #36363f;
  font-weight: bold;
  font-size: 26px;
  font-family: sans-serif;
  margin-left: 40px;
  margin-top: 30px;
}

.statusavatar {
  color: #36363f;
  font-weight: bold;
  font-size: 14px;
  font-family: sans-serif;
  margin-left: 40px;
  margin-top: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100px;
}

.divavatar {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 10px;
}

.divavatar button {
  margin-left: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #eeeff3;
  width: 114px;
  height: 40px;
  box-shadow: 0 0 5px #e0e0e0;
  font-weight: bold;
  font-family: sans-serif;
  color: #7d8799;
}

.divavatar button:nth-child(2) {
  color: #ff7315;
  margin-left: 20px;
}

.linestatus {
  width: 87%;
  height: 1px;
  background-color: #ebedf1;
  margin-left: 40px;
  margin-top: 25px;
}

.statusdivinputitem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.statusdivinputitem > div {
  display: flex;
  justify-content: space-between;
}

.statusdivinputitem > div p:nth-child(1) {
  font-family: sans-serif;
  font-weight: bold;
  color: #36363f;
  transform: translateY(5px);
  font-size: 14px;
}

.statusdivinputitem > div p:nth-child(2) {
  font-family: sans-serif;
  font-weight: bold;
  color: #8790a1;
  transform: translateY(5px);
  font-size: 14px;
}

.statusdivinputitem input {
  border: 1px solid #e7e9ef;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px #e0e0e0;
  font-family: sans-serif;
  font-weight: bold;
  color: #576174;
  font-size: 15px;
  outline: none;
}

.statusdivinput {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  justify-content: space-between;
  width: 87%;
}

.doimatkhau {
  color: #ff7315 !important;
  cursor: pointer;
  text-decoration: underline;
}

.connectgg {
  margin-left: 40px;
  margin-top: 30px;
}

.connectgg p:nth-child(1) {
  font-family: sans-serif;
  font-size: 14px;
  color: #36363f;
  font-weight: bold;
}

.connectgg p:nth-child(2) {
  font-family: sans-serif;
  font-size: 12px;
  color: #8e97a6;
  font-weight: bold;
}

.connectgg > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  margin-top: 20px;
}

.connectgg > div > div p {
  margin: 0;
  font-weight: normal !important;
  font-size: 16px !important;
  color: #8f96a3 !important;
}

.connectgg > div button {
  border-radius: 5px;
  background-color: white;
  border: 1px solid #eeeff3;
  width: 114px;
  height: 40px;
  box-shadow: 0 0 5px #e0e0e0;
  font-weight: bold;
  font-family: sans-serif;
  color: #7d8799;
  color: #ff7315;
  margin-right: -7px;
}

.connectgg > div > div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.connectgg > div > div img {
  width: 40px;
  height: 40px;
  margin-left: -8px;
}

.deleleaccount {
  margin-left: 40px;
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  width: 87%;
}

.deleleaccount > p {
  font-family: sans-serif;
  font-size: 14px;
  color: #778295;
  font-weight: bold;
  cursor: pointer;
}

.deleleaccount > div p:nth-child(1) {
  font-family: sans-serif;
  font-size: 14px;
  color: #36363f;
  font-weight: bold;
}

.deleleaccount > div p:nth-child(2) {
  font-family: sans-serif;
  font-size: 12px;
  color: #8e97a6;
  font-weight: bold;
}

.savestatus {
  border-radius: 10px;
  border: 1px solid #eeeff3;
  width: 114px;
  height: 50px;
  box-shadow: 0 0 5px #e0e0e0;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  background-color: #ff7315;
  margin-right: -7px;
  position: absolute;
  left: 74%;
  width: 168px;
  margin-top: 30px;
}

.status {
  position: absolute;
  width: 100%;
  margin-left: 22px;
}

.changepassword {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
}

input[disabled] {
  cursor: default;
  color: #c5cbd5;
}

.hiddenchangepassword {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background-color: black;
  opacity: 0.5;
  z-index: 2;
}

.mainchangepassword {
  width: 600px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -250px;
  z-index: 3;
  background-color: white;
  position: absolute;
  box-shadow: 0 0 20px 0px #191818;
}

.changepasswordtitle {
  text-align: center;
  font-family: sans-serif;
  color: #ff7315;
  font-weight: bold;
  font-size: 22px;
  margin-top: 50px;
}

.changepasswordtitle i {
  margin-right: 5px;
  font-size: 25px;
}

.changepassworddiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 20px;
  position: absolute;
}

.changepassworddiv p {
  color: #36363f;
  font-weight: bold;
  font-size: 18px;
}

.changepassworddiv input {
  border: 1px solid #e8eaf6;
  padding: 7px 15px;
  font-size: 14px;
  width: 350px;
  border-radius: 3px;
}

.changepassworddiv label {
  font-size: 14px;
  width: 350px;
  transform: translateY(3px);
  margin-top: 10px;
}

.changepassworddiv input::placeholder {
  color: #8d95af;
}

.changepassworddiv button {
  color: white;
  background-color: #ff7315;
  border: none;
  border-radius: 3px;
  width: 350px;
  height: 40px;
  margin-top: 30px;
  font-size: 14px;
}

.changepassworddiv {
  transition: all 0.3s ease-in-out;
  opacity: 1;
  z-index: 2;
}

.changepasswordsuccess {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.changepasswordsuccess {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 90px;
}

.changepasswordsuccess p:nth-child(1) {
  color: #36363f;
  font-weight: bold;
  font-size: 18px;
}

.changepasswordsuccess p:nth-child(2) {
  color: #5e6477;
  font-size: 14px;
  text-align: center;
  width: 350px;
  margin-top: 10px;
}

.changepasswordsuccess p:nth-child(2) img {
  width: 20px;
  transform: translateY(-3px);
}

.changepasswordsuccess button {
  color: white;
  background-color: #ff7315;
  border: none;
  border-radius: 3px;
  width: 350px;
  height: 40px;
  margin-top: 30px;
  font-size: 14px;
}

.historyorder {
  position: absolute;
  width: 100%;
  margin-left: 22px;
}

.historytitle {
  color: #36363f;
  font-weight: bold;
  font-size: 26px;
  font-family: sans-serif;
  margin: 0;
}

.historyheader {
  margin-left: 40px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  width: 87%;
  align-items: center;
}

.historyheader input {
  border: 1px solid #e7e9ef;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px #e0e0e0;
  font-family: sans-serif;
  font-weight: bold;
  color: #576174;
  font-size: 15px;
  outline: none;
}

.historyheader input::placeholder {
  font-weight: normal;
  color: #8d95af;
}

.contentheader {
  display: flex;
  margin-left: 40px;
  margin-top: 50px;
}

.ma {
  width: 110px;
  padding-left: 5px;
}

.soloai {
  width: 70px;
}

.sosanpham {
  width: 100px;
}

.linedoc {
  width: 2px;
  background-color: #f5f5f5;
  margin-left: 10px;
}

.trangthai {
  width: 120px;
}

.xuly {
  color: #f7ba01 !important;
}

.linehistory {
  height: 2px;
  background-color: #f5f5f5;
  margin-left: 40px;
}

.gia {
  width: 110px;
}

.historyitem {
  display: flex;
  margin-left: 40px;
  height: 50px;
  align-items: center;
  cursor: pointer;
}

.contentheader p {
  color: #828282;
  font-size: 14px;
}

.historyitem p {
  color: #1f1f1f;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 10px;
}

.historycontent {
  display: flex;
  margin-top: 50px;
}

.historyitem:hover {
  background-color: #faf8fd;
}

.historyitem p i {
  font-size: 9px;
  color: #5bd475;
  margin-right: 5px;
  transform: translateY(-1px);
}

.xuly i {
  color: #f7ba01 !important;
}

.historyrightheader {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}

.historyrightheader p:nth-child(1) {
  font-family: sans-serif;
  font-size: 18px;
  color: #1f1f1f;
  font-weight: bold;
  margin: 0;
}

.historyrightheader p:nth-child(2) {
  color: #f7ba01;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
}

.historyrightheader p:nth-child(2) i {
  font-size: 9px;
  color: #f7ba01;
  margin-right: 5px;
  transform: translateY(-1px);
  margin-left: 30px;
}

.historyright {
  margin-left: 20px;
}

.divhinh {
  overflow: hidden;
  height: 150px;
  width: 320px;
  position: relative;
  margin-top: 10px;
}

.listhinh {
  position: absolute;
  display: flex;
  transition: all 1s ease-in-out;
  left: 0%;
}

.listhinh > div > div img {
  width: 100px;
}
.listhinh > div > div {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.listhinh > div p {
  font-family: sans-serif;
  font-size: 14px;
  color: #191818;
  font-weight: bold;
  margin-top: 10px;
}

.listhinh > div {
  margin-right: 10px;
}

.scrollleft {
  position: absolute;
  top: 257px;
  left: 585px;
  color: white;
  width: 35px;
  height: 35px;
  background: #0000004d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.scrollright {
  position: absolute;
  top: 257px;
  left: 863px;
  color: white;
  width: 35px;
  height: 35px;
  background: #0000004d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.tongketright {
  margin: 25px auto;
}

.tongketright div {
  display: flex;
}

.tongketright div > p:nth-child(1) {
  color: #1f1f1f;
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 10px;
  width: 150px;
}

.tongketright div > p:nth-child(2) {
  color: #1f1f1f;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

.tongketright .line {
  width: 100%;
  height: 1px;
  background-color: #e7e9ef;
  margin-top: 20px;
}

.tongketright div:nth-child(4) p {
  margin-top: 30px;
  font-size: 18px !important;
}

.footerleft ul {
  display: flex;
  margin-left: 40px;
  width: 90%;
  margin-top: 50px;
  justify-content: center;
}

.footerleft ul li {
  width: 43px;
  height: 43px;
  box-shadow: 1px 6px 11px 0px #9e9c9c;
  border-radius: 50% !important;
  margin-left: 5px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: sans-serif;
}

.none{
  box-shadow: none !important;
  font-size: 20px !important;
  margin: 0px !important;
  margin-right: 10px !important;
}

.activeli {
  background-color: gray;
  color: white;
}

.footerleft ul li:hover {
  background-color: #ff7315;
  color: white;
}

.activehistoryitem {
  background-color: #faf8fd;
}

.historyorder {
  top: 100%;
  transition: all 0.3s ease-in-out;
}

.status {
  top: 0%;
  transition: all 0.3s ease-in-out;
}

.buttonxemchitiet {
  border-radius: 10px;
  border: 1px solid #eeeff3;
  width: 114px;
  height: 50px;
  box-shadow: 0 0 5px #e0e0e0;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  background-color: #ff7315;
  margin-right: -7px;
  width: 168px;
  margin-top: -20px;
}

.inforcart {
  width: 100vw;
  height: 1000px;
  position: fixed;
  z-index: 1000;
  top: 0px;
  transition: all 0.3s ease-in-out;
  transform: scaleY(0);
}

.hiddencart {
  background-color: #1f1f1f;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.5;
}

.informationinforcart {
  position: absolute;
  z-index: 2;
  top: 0px;
  width: 100%;
  height: 90%;
  overflow: scroll;
}

.contentcart {
  position: absolute;
  height: 1500px;
  top: -225px;
  width: 100%;
}

.cart {
  box-shadow: 0 0 20px black !important;
}

.cartright {
  position: relative;
}

.closecartright {
  justify-content: center;
  position: absolute;
  width: 30px;
  height: 30px;
  color: white;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 3px solid white;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
