<div class="container" [style.height]="this.messenger_footer_service.getHeight()">
    <div class="content">
        <!-- Thằng đầu tiên thằng nào cũng phải có -->
        <!-- Đó là thông tin cơ bản của cuộc trò chuyện -->
        <div class="first">
            <!-- 1.Hình -->
            <div class="hinh-dai-dien">
                <div class="nhom"
                    *ngIf="this.content_service.object_chat.cuoc_tro_truyen.loai_cuoc_tro_truyen == 'nhom'">
                    <img [src]="this.content_service.object_chat.getImg()[0] ||'assets/images/loading.gif'"
                        class="hinh-1" alt="">
                    <img [src]="this.content_service.object_chat.getImg()[1] ||'assets/images/loading.gif'" alt=""
                        class="hinh-2">
                </div>
                <div class="don" *ngIf="this.content_service.object_chat.cuoc_tro_truyen.loai_cuoc_tro_truyen == 'don'">
                    <img [src]="this.content_service.object_chat.getImg()[0] ||'assets/images/loading.gif'" alt="">
                </div>
                <div *ngIf="this.content_service.object_chat.is_online" class="online">
                    <div class="child"></div>
                </div>
            </div>
            <!-- 2. Thông tin-->
            <p class="create">Bessenger</p>
            <p class="create" *ngIf="this.content_service.getCreateFriends().length != 0 ">
                {{this.content_service.getCreateFriends()}}</p>
        </div>
        <!-- Tin nhắn -->
        <!--1. Tin nhắn -->
        <div *ngFor="let item of this.content_service.object_chat.cuoc_tro_truyen.tin_nhan">
            <div *ngIf="item.loai_tin_nhan == 'thong_bao'" class="thong_bao">
                {{item.getNoiDungThongBao(this.content_service.object_chat.thanh_vien)}}
            </div>
        </div>
        <!--2. Những ông đang nhập-->
        <div class="list-dang-nhap" *ngIf="this.content_service.dang_nhaps.length != 0">
            <div *ngFor="let item of this.content_service.dang_nhaps" class="dang_nhap">
                <div class="hinh" [matTooltip]="item.getNoiDung()" matTooltipClass="tooltip">
                    <img [src]="item.hinh || 'assets/images/loading.gif'" alt="">
                </div>
                <div class="lottie">
                    <main lottie [options]="this.options"></main>
                </div>
            </div>
        </div>
        <!------------------------------------------------->
    </div>
</div>