* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  -webkit-box-shadow: 4px 8px 28px 0px #d3dceb;
          box-shadow: 4px 8px 28px 0px #d3dceb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 633px;
  margin-bottom: 10px;
  z-index: 0;
  position: relative;
}

.container .first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
  background: white;
}

.container .first .hinh-dai-dien {
  position: relative;
  width: 60px;
  height: 60px;
}

.container .first .hinh-dai-dien .nhom {
  width: 100%;
  height: 100%;
  position: relative;
}

.container .first .hinh-dai-dien .nhom .hinh-1 {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  width: 38.5px;
  height: 38.5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .first .hinh-dai-dien .nhom .hinh-2 {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  z-index: 9;
  width: 38.5px;
  height: 38.5px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.container .first .hinh-dai-dien .don {
  width: 100%;
  height: 100%;
}

.container .first .hinh-dai-dien .don img {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .first .hinh-dai-dien .online {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #ffffff;
  left: 41px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.container .first .hinh-dai-dien .online .child {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #31a24c;
}

.container .first .create {
  color: #65676b;
  font-size: 13px;
  font-family: "Raleway";
  font-weight: 500;
  margin-top: 7px;
  letter-spacing: 0.5px;
}

.container .thong_bao {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #b9b9b9;
  font-family: "Raleway";
  font-size: 9.5px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background: white;
}

.container .thong_bao p {
  max-width: 256px;
  text-align: center;
  line-height: 13px;
}

.container .thoi_gian {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8a8d91;
  font-family: sans-serif;
  font-size: 11px;
  letter-spacing: 0.5px;
  font-weight: 650;
  background: white;
}

.container .thoi_gian p {
  max-width: 256px;
  text-align: center;
  line-height: 13px;
}

.container .list-dang-nhap {
  padding-left: 2px;
  padding-top: 7px;
  background-color: white;
}

.container .list-dang-nhap .dang_nhap {
  margin-top: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .list-dang-nhap .dang_nhap .hinh {
  width: 28px;
  height: 28px;
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  border-radius: 50%;
}

.container .list-dang-nhap .dang_nhap .hinh img {
  width: 28px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .list-dang-nhap .dang_nhap .lottie {
  background-color: #e4e6eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  margin-left: 8px;
  border-radius: 18px;
}

.container .list-dang-nhap .dang_nhap .lottie main {
  width: 25px;
  margin: 0px 12px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.container .gui_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.container .gui_text .tren {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .gui_text .tren .cong-cu {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.container .gui_text .tren .cong-cu .thu-hoi {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.container .gui_text .tren .cong-cu .thu-hoi main {
  position: absolute;
  width: 56px;
  height: 57px;
}

.container .gui_text .tren .cong-cu .thu-hoi:hover {
  background-color: #0000001a;
}

.container .gui_text .tren .cong-cu .cxtn {
  position: relative;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.container .gui_text .tren .cong-cu .cxtn:hover {
  background-color: #0000001a;
}

.container .gui_text .tren .cong-cu-hidden {
  display: none;
}

.container .gui_text .tren .hinh {
  z-index: 2;
  position: relative;
  margin-left: 2px;
  width: 28px;
  height: 28px;
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  border-radius: 50%;
}

.container .gui_text .tren .hinh img {
  width: 28px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .gui_text .tren .chua-nd {
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0 0 0px 500px white;
          box-shadow: 0 0 0px 500px white;
}

.container .gui_text .tren .chua-nd .noi-dung {
  word-wrap: break-word;
  font-family: "Raleway";
  font-weight: 500;
  line-height: 20px;
  font-size: 12px;
  -webkit-transform: scaleY(1.04);
          transform: scaleY(1.04);
  letter-spacing: 0.5px;
  max-width: 330px;
  margin: 8px 12px;
}

.container .gui_text .tren .chua-nd .thu-hoi {
  margin-left: 8px;
  border-radius: 18px;
  border: 1px solid #ced0d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .gui_text .tren .chua-nd .thu-hoi p {
  color: #bcc0c4;
  font-family: "Raleway";
  font-weight: 500;
  line-height: 20px;
  font-size: 12px;
  -webkit-transform: scaleY(1.04);
          transform: scaleY(1.04);
  letter-spacing: 0.5px;
  padding: 8px 12px;
  font-style: oblique;
}

.container .gui_text .tren .chua-nd .dscx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18px;
  background: white;
  -webkit-box-shadow: 0 2px 4px #0000001a;
          box-shadow: 0 2px 4px #0000001a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.container .gui_text .tren .chua-nd .dscx p {
  color: #65676b;
  font-size: 11px;
  font-family: sans-serif;
  padding: 3px 6px;
  padding-left: 2px;
}

.container .gui_text .tren .chua-nd .dscx .element {
  width: 16px;
  background: white;
  height: 16px;
  margin: 0px 1px;
  position: relative;
  border-radius: 50%;
  padding: 1px;
}

.container .gui_text .tren .chua-nd .dscx .element img {
  width: 16px;
  height: 16px;
}

.container .gui_text .tren .chua-nd .dscx .element:nth-child(1) {
  margin-left: 2px;
  z-index: 7;
}

.container .gui_text .tren .chua-nd .dscx .element:nth-child(2) {
  margin-left: -7px;
  z-index: 6;
}

.container .gui_text .tren .chua-nd .dscx .element:nth-child(3) {
  margin-left: -7px;
  z-index: 5;
}

.container .gui_text .tren .chua-nd .dscx .element:nth-child(4) {
  margin-left: -7px;
  z-index: 4;
}

.container .gui_text .tren .chua-nd .dscx .element:nth-child(5) {
  margin-left: -7px;
  z-index: 3;
}

.container .gui_text .tren .chua-nd .dscx .element:nth-child(6) {
  margin-left: -7px;
  z-index: 2;
}

.container .gui_text .tren .chua-nd .dscx .element:nth-child(7) {
  margin-left: -7px;
  z-index: 1;
}

.container .gui_text .tren .ban_than {
  border-radius: 4px;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  color: white;
}

.container .gui_text .tren .border-tren-ban-than {
  border-top-right-radius: 18px;
}

.container .gui_text .tren .border-duoi-ban-than {
  border-bottom-right-radius: 18px;
}

.container .gui_text .tren .doi_phuong {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
  color: #050505;
  margin-left: 8px;
}

.container .gui_text .tren .border-tren-doi-phuong {
  border-top-left-radius: 18px;
}

.container .gui_text .tren .border-duoi-doi-phuong {
  border-bottom-left-radius: 18px;
}

.container .gui_text .tren .trang_thai_gui {
  z-index: 2;
  position: relative;
  width: 14px;
  margin-right: 4px;
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .gui_text .tren .trang_thai_gui .nguoi_xem img {
  width: 14px;
  height: 14px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
}

.container .gui_text .tren .trang_thai_gui_kpbt {
  margin-left: auto;
}

.container .gui_text .da_xem {
  position: relative;
  z-index: 2;
  margin-right: 3px;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .gui_text .da_xem .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .gui_text .da_xem .list .item-ok img {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0px 1px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .gui_text .div-thu-hoi {
  border: 1px solid #ced0d4;
  background: white;
}

.container .gui_text .chuoi-cam-xuc {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 50%;
  margin-right: -145px;
  padding: 8px 12px;
  -webkit-box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a, inset 0 0 0 1px #ffffff80;
          box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a, inset 0 0 0 1px #ffffff80;
  border-radius: 24px;
  position: absolute;
  z-index: 2;
  background: white;
}

.container .gui_text .chuoi-cam-xuc div {
  cursor: pointer;
  width: 34px;
  height: 32px;
  margin: 2px;
}

.container .gui_text .chuoi-cam-xuc div img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .gui_text:hover .tren .cong-cu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .ban_than_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .gui_text_icon {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.container .gui_text_icon .tren {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .gui_text_icon .tren .cong-cu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.container .gui_text_icon .tren .cong-cu .thu-hoi {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.container .gui_text_icon .tren .cong-cu .thu-hoi main {
  position: absolute;
  width: 56px;
  height: 57px;
}

.container .gui_text_icon .tren .cong-cu .thu-hoi:hover {
  background-color: #0000001a;
}

.container .gui_text_icon .tren .cong-cu .cxtn {
  position: relative;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.container .gui_text_icon .tren .cong-cu .cxtn:hover {
  background-color: #0000001a;
}

.container .gui_text_icon .tren .cong-cu-hidden {
  display: none;
}

.container .gui_text_icon .tren .hinh {
  z-index: 2;
  position: relative;
  margin-left: 2px;
  width: 28px;
  height: 28px;
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  border-radius: 50%;
}

.container .gui_text_icon .tren .hinh img {
  width: 28px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .gui_text_icon .tren .chua-nd {
  position: relative;
}

.container .gui_text_icon .tren .chua-nd .noi-dung {
  max-width: 330px;
}

.container .gui_text_icon .tren .chua-nd .sticker_noidung {
  width: 128px;
  height: 128px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .gui_text_icon .tren .chua-nd .giphy-content {
  max-width: 330px;
  border-radius: 18px;
  border: #d6dae0 solid 0.5px;
}

.container .gui_text_icon .tren .chua-nd .giphy-content .giphy-noidung {
  width: 100%;
  height: 100%;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.container .gui_text_icon .tren .chua-nd .giphy-content .name-giphy {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .gui_text_icon .tren .chua-nd .giphy-content .name-giphy img {
  width: 40px;
  margin-left: 5px;
}

.container .gui_text_icon .tren .chua-nd .giphy-content .name-giphy .name {
  width: 100px;
  font-size: 11px;
  font-family: "Raleway";
  font-weight: 450;
  letter-spacing: 1px;
}

.container .gui_text_icon .tren .chua-nd .dscx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18px;
  background: white;
  -webkit-box-shadow: 0 2px 4px #0000001a;
          box-shadow: 0 2px 4px #0000001a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.container .gui_text_icon .tren .chua-nd .dscx p {
  color: #65676b;
  font-size: 11px;
  font-family: sans-serif;
  padding: 3px 6px;
  padding-left: 2px;
}

.container .gui_text_icon .tren .chua-nd .dscx .element {
  width: 16px;
  background: white;
  height: 16px;
  margin: 0px 1px;
  position: relative;
  border-radius: 50%;
  padding: 1px;
}

.container .gui_text_icon .tren .chua-nd .dscx .element img {
  width: 16px;
  height: 16px;
}

.container .gui_text_icon .tren .chua-nd .dscx .element:nth-child(1) {
  margin-left: 2px;
  z-index: 7;
}

.container .gui_text_icon .tren .chua-nd .dscx .element:nth-child(2) {
  margin-left: -7px;
  z-index: 6;
}

.container .gui_text_icon .tren .chua-nd .dscx .element:nth-child(3) {
  margin-left: -7px;
  z-index: 5;
}

.container .gui_text_icon .tren .chua-nd .dscx .element:nth-child(4) {
  margin-left: -7px;
  z-index: 4;
}

.container .gui_text_icon .tren .chua-nd .dscx .element:nth-child(5) {
  margin-left: -7px;
  z-index: 3;
}

.container .gui_text_icon .tren .chua-nd .dscx .element:nth-child(6) {
  margin-left: -7px;
  z-index: 2;
}

.container .gui_text_icon .tren .chua-nd .dscx .element:nth-child(7) {
  margin-left: -7px;
  z-index: 1;
}

.container .gui_text_icon .tren .doi_phuong {
  margin-left: 8px;
}

.container .gui_text_icon .tren .trang_thai_gui {
  z-index: 2;
  position: relative;
  width: 14px;
  margin-right: 4px;
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .gui_text_icon .tren .trang_thai_gui .nguoi_xem img {
  width: 14px;
  height: 14px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
}

.container .gui_text_icon .tren .trang_thai_gui_kpbt {
  margin-left: auto;
}

.container .gui_text_icon .da_xem {
  position: relative;
  z-index: 2;
  margin-right: 3px;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .gui_text_icon .da_xem .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .gui_text_icon .da_xem .list .item-ok img {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0px 1px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .gui_text_icon .chuoi-cam-xuc {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 50%;
  margin-right: -145px;
  padding: 8px 12px;
  -webkit-box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a, inset 0 0 0 1px #ffffff80;
          box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a, inset 0 0 0 1px #ffffff80;
  border-radius: 24px;
  position: absolute;
  z-index: 2;
  background: white;
}

.container .gui_text_icon .chuoi-cam-xuc div {
  cursor: pointer;
  width: 34px;
  height: 32px;
  margin: 2px;
}

.container .gui_text_icon .chuoi-cam-xuc div img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .gui_text_icon:hover .tren .cong-cu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .gui_ghi_am {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.container .gui_ghi_am .tren {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.container .gui_ghi_am .tren .cong-cu {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.container .gui_ghi_am .tren .cong-cu .thu-hoi {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.container .gui_ghi_am .tren .cong-cu .thu-hoi main {
  position: absolute;
  width: 56px;
  height: 57px;
}

.container .gui_ghi_am .tren .cong-cu .thu-hoi:hover {
  background-color: #0000001a;
}

.container .gui_ghi_am .tren .cong-cu .cxtn {
  position: relative;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border-radius: 50%;
}

.container .gui_ghi_am .tren .cong-cu .cxtn:hover {
  background-color: #0000001a;
}

.container .gui_ghi_am .tren .cong-cu-hidden {
  display: none;
}

.container .gui_ghi_am .tren .hinh {
  position: relative;
  z-index: 2;
  margin-left: 2px;
  width: 28px;
  height: 28px;
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  border-radius: 50%;
}

.container .gui_ghi_am .tren .hinh img {
  width: 28px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.container .gui_ghi_am .tren .chua-nd {
  position: relative;
  z-index: 1;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 0px 500px white;
          box-shadow: 0 0 0px 500px white;
}

.container .gui_ghi_am .tren .chua-nd .noi-dung {
  max-width: 330px;
}

.container .gui_ghi_am .tren .chua-nd .sticker_noidung {
  width: 128px;
  height: 128px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .gui_ghi_am .tren .chua-nd .giphy-content {
  max-width: 330px;
  border-radius: 18px;
  border: #d6dae0 solid 0.5px;
}

.container .gui_ghi_am .tren .chua-nd .giphy-content .giphy-noidung {
  width: 100%;
  height: 100%;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}

.container .gui_ghi_am .tren .chua-nd .giphy-content .name-giphy {
  width: 100%;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .gui_ghi_am .tren .chua-nd .giphy-content .name-giphy img {
  width: 40px;
  margin-left: 5px;
}

.container .gui_ghi_am .tren .chua-nd .giphy-content .name-giphy .name {
  width: 100px;
  font-size: 11px;
  font-family: "Raleway";
  font-weight: 450;
  letter-spacing: 1px;
}

.container .gui_ghi_am .tren .chua-nd .dscx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: -10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18px;
  background: white;
  -webkit-box-shadow: 0 2px 4px #0000001a;
          box-shadow: 0 2px 4px #0000001a;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.container .gui_ghi_am .tren .chua-nd .dscx p {
  color: #65676b;
  font-size: 11px;
  font-family: sans-serif;
  padding: 3px 6px;
  padding-left: 2px;
}

.container .gui_ghi_am .tren .chua-nd .dscx .element {
  width: 16px;
  background: white;
  height: 16px;
  margin: 0px 1px;
  position: relative;
  border-radius: 50%;
  padding: 1px;
}

.container .gui_ghi_am .tren .chua-nd .dscx .element img {
  width: 16px;
  height: 16px;
}

.container .gui_ghi_am .tren .chua-nd .dscx .element:nth-child(1) {
  margin-left: 2px;
  z-index: 7;
}

.container .gui_ghi_am .tren .chua-nd .dscx .element:nth-child(2) {
  margin-left: -7px;
  z-index: 6;
}

.container .gui_ghi_am .tren .chua-nd .dscx .element:nth-child(3) {
  margin-left: -7px;
  z-index: 5;
}

.container .gui_ghi_am .tren .chua-nd .dscx .element:nth-child(4) {
  margin-left: -7px;
  z-index: 4;
}

.container .gui_ghi_am .tren .chua-nd .dscx .element:nth-child(5) {
  margin-left: -7px;
  z-index: 3;
}

.container .gui_ghi_am .tren .chua-nd .dscx .element:nth-child(6) {
  margin-left: -7px;
  z-index: 2;
}

.container .gui_ghi_am .tren .chua-nd .dscx .element:nth-child(7) {
  margin-left: -7px;
  z-index: 1;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho {
  height: 60px;
  border-radius: 18px;
  background-color: #f0f2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho .icon-cgnbt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #f3425f;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho .icon-cgnbt i {
  background-image: url(https://www.facebook.com/rsrc.php/v3/yv/r/iz24jk574XF.png);
  background-position: 0px -745px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho .noi-dung-cgnbt {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho .noi-dung-cgnbt p {
  color: #050505;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho .noi-dung-cgnbt span {
  color: #65676b;
  font-family: sans-serif;
  font-size: 11px;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho-ban-than {
  height: 60px;
  border-radius: 18px;
  background-color: #f0f2f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho-ban-than .icon-cgnbt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
  margin-right: 12px;
  background-color: #e4e6eb;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho-ban-than .icon-cgnbt i {
  background-image: url(https://www.facebook.com/rsrc.php/v3/yv/r/iz24jk574XF.png);
  background-position: 0px -745px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho-ban-than .noi-dung-cgnbt {
  margin-right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 32px;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho-ban-than .noi-dung-cgnbt p {
  color: #050505;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
}

.container .gui_ghi_am .tren .chua-nd .cuoc-goi-nho-ban-than .noi-dung-cgnbt span {
  color: #65676b;
  font-family: sans-serif;
  font-size: 11px;
}

.container .gui_ghi_am .tren .doi_phuong {
  margin-left: 8px;
}

.container .gui_ghi_am .tren .trang_thai_gui {
  position: relative;
  z-index: 2;
  width: 14px;
  margin-right: 4px;
  margin-left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .gui_ghi_am .tren .trang_thai_gui .nguoi_xem img {
  width: 14px;
  height: 14px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
}

.container .gui_ghi_am .tren .trang_thai_gui_kpbt {
  margin-left: auto;
}

.container .gui_ghi_am .da_xem {
  position: relative;
  z-index: 2;
  position: relative;
  z-index: 2;
  margin-right: 3px;
  margin-top: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .gui_ghi_am .da_xem .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .gui_ghi_am .da_xem .list .item-ok img {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0px 1px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .gui_ghi_am .chuoi-cam-xuc {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 50%;
  margin-right: -145px;
  padding: 8px 12px;
  -webkit-box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a, inset 0 0 0 1px #ffffff80;
          box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a, inset 0 0 0 1px #ffffff80;
  border-radius: 24px;
  position: absolute;
  z-index: 2;
  background: white;
}

.container .gui_ghi_am .chuoi-cam-xuc div {
  cursor: pointer;
  width: 34px;
  height: 32px;
  margin: 2px;
}

.container .gui_ghi_am .chuoi-cam-xuc div img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .gui_ghi_am:hover .tren .cong-cu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .gui-video .tren .gui-video-content {
  background-color: white;
  width: 320px;
  height: 173px;
}

.container .gui-video .tren .gui-video-content .gui-video {
  cursor: pointer;
  border-radius: 10px;
}

.container .gui-anh .tren .gui-anh-content {
  background-color: white;
  max-width: 312px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .gui-anh .tren .gui-anh-content .gui-anh {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
  margin-right: 4px;
  margin-bottom: 4px;
}

.container .gui-anh .tren .gui-anh-content .gui-anh-clone {
  max-height: 400px;
  max-width: 320px;
  min-height: 24px;
  width: 158px;
  border-radius: 18px;
  cursor: pointer;
}

.container .gui-anh .tren .gui-anh-content .gui-anh:hover,
.container .gui-anh .tren .gui-anh-content .gui-anh-clone:hover {
  background-color: #e8ecf1a6;
  opacity: 0.9;
}

.container .gui_file .tren .noi-dung-gui-file {
  min-width: 150px;
  max-width: 256px;
  height: 50px;
  background-color: #e2e7ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  cursor: pointer;
}

.container .gui_file .tren .noi-dung-gui-file-left {
  width: 65px;
  height: 100%;
}

.container .gui_file .tren .noi-dung-gui-file-left .cover-file-left-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  left: 10px;
  top: 10px;
}

.container .gui_file .tren .noi-dung-gui-file-left .cover-file-left-icon i {
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/rDfNIM4_UpO.png);
  background-position: -34px -70px;
  background-size: 52px 1338px;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
  color: #1d1b1b;
}

.container .gui_file .tren .noi-dung-gui-file-right {
  width: 80%;
  height: 100%;
  margin-right: 10px;
}

.container .gui_file .tren .noi-dung-gui-file-right .name-file-right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Raleway";
  font-size: 15px;
  font-weight: bold;
}

.nen {
  width: 475px;
  height: 602px;
  margin-top: 10px;
  position: absolute;
  z-index: 1;
  margin-bottom: 10px;
  margin-left: 10px;
}

.content {
  width: 482px;
  height: 612px;
  margin-top: 10px;
  overflow-y: scroll;
  margin-bottom: 10px;
  margin-left: 10px;
  position: relative;
  z-index: 2;
}

.content #danh-sach-tin-nhan {
  width: 100%;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #00000066;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}

::-webkit-scrollbar:hover {
  background: #0700001c !important;
}
/*# sourceMappingURL=messenger-content.component.css.map */