* {
  margin: 0;
  padding: 0;
}

.container {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  box-shadow: 4px 8px 28px 0px #d3dceb;
  display: flex;
  height: 633px;
  margin-bottom: 10px;
  z-index: 0;
  position: relative;

  .first {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 15px;
    .hinh-dai-dien {
      position: relative;
      width: 60px;
      height: 60px;
      .nhom {
        width: 100%;
        height: 100%;
        position: relative;
        .hinh-1 {
          box-shadow: 0 0 2px #909090;
          position: absolute;
          left: 0px;
          bottom: 0px;
          z-index: 10;
          width: 38.5px;
          height: 38.5px;
          object-fit: cover;
          border-radius: 50%;
        }

        .hinh-2 {
          box-shadow: 0 0 2px #909090;
          z-index: 9;
          width: 38.5px;
          height: 38.5px;
          object-fit: cover;
          border-radius: 50%;
          position: absolute;
          top: 0px;
          right: 0px;
        }
      }
      .don {
        width: 100%;
        height: 100%;
        img {
          box-shadow: 0 0 2px #909090;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .online {
        width: 15px;
        height: 15px;
        position: absolute;
        background-color: #ffffff;
        left: 41px;
        bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;

        .child {
          width: 11px;
          height: 11px;
          border-radius: 50%;
          background-color: #31a24c;
        }
      }
    }
    .create {
      color: #65676b;
      font-size: 13px;
      font-family: "Raleway";
      font-weight: 500;
      margin-top: 7px;
      letter-spacing: 0.5px;
    }
  }

  .thong_bao {
    display: flex;
    justify-content: center;
    color: #b9b9b9;
    font-family: "Raleway";
    font-size: 9.5px;
    letter-spacing: 0.5px;
    font-weight: 600;
  }

  .list-dang-nhap {
    margin-left: 2px;
    margin-top: 7px;
    .dang_nhap {
      margin-top: 2px;
      display: flex;
      align-items: flex-end;
      .hinh {
        width: 28px;
        height: 28px;
        box-shadow: 0 0 2px #909090;
        border-radius: 50%;
        img {
          width: 28px;
          height: 28px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .lottie {
        background-color: #e4e6eb;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        margin-left: 8px;
        border-radius: 18px;
        main {
          width: 25px;
          margin: 0px 12px;
          transform: translateY(2px);
        }
      }
    }
  }

  .gui_text {
    .tren {
      display: flex;
      align-items: flex-end;
      .hinh {
        margin-left: 2px;
        width: 28px;
        height: 28px;
        box-shadow: 0 0 2px #909090;
        border-radius: 50%;
        img {
          width: 28px;
          height: 28px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .chua-nd {
        .noi-dung {
          word-wrap: break-word;
          font-family: "Raleway";
          font-weight: 500;
          line-height: 20px;
          font-size: 12px;
          transform: scaleY(1.04);
          letter-spacing: 0.5px;
          max-width: 330px;
          margin: 8px 12px;
        }
      }
      .ban_than {
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        color: white;
      }
      .border-tren-ban-than {
        border-top-right-radius: 18px;
      }
      .border-duoi-ban-than {
        border-bottom-right-radius: 18px;
      }
      .doi_phuong {
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        color: #050505;
        margin-left: 8px;
      }
      .border-tren-doi-phuong {
        border-top-left-radius: 18px;
      }
      .border-duoi-doi-phuong {
        border-bottom-left-radius: 18px;
      }
      .trang_thai_gui {
        width: 14px;
        margin-right: 4px;
        margin-left: 4px;
        display: flex;
        justify-content: center;

        .nguoi_xem {
          img {
            width: 14px;
            height: 14px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 0 2px #909090;
          }
        }
      }
      .trang_thai_gui_kpbt {
        margin-left: auto;
      }
    }
    .da_xem {
      margin-right: 3px;
      margin-top: 4px;
      display: flex;
      justify-content: flex-end;
      .list {
        display: flex;
        justify-content: space-between;
        .item-ok {
          img {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            margin: 0px 1px;
            object-fit: cover;
          }
        }
      }
    }
  }
  .ban_than_div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .gui_text_icon {
    .tren {
      display: flex;
      align-items: flex-end;
      .hinh {
        margin-left: 2px;
        width: 28px;
        height: 28px;
        box-shadow: 0 0 2px #909090;
        border-radius: 50%;
        img {
          width: 28px;
          height: 28px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .chua-nd {
        .noi-dung {
          max-width: 330px;
        }
        .sticker_noidung {
          width: 128px;
          height: 128px;
          object-fit: cover;
        }
        .giphy-content {
          max-width: 330px;
          border-radius: 18px;
          border: #d6dae0 solid 0.5px;
          .giphy-noidung {
            width: 100%;
            height: 100%;
            border-top-right-radius: 18px;
            border-top-left-radius: 18px;
          }
          .name-giphy {
            width: 100%;
            height: 20px;
            display: flex;
            align-items: center;
            img {
              width: 40px;
              margin-left: 5px;
            }
            .name {
              width: 100px;
              font-size: 11px;
              font-family: "Raleway";
              font-weight: 450;
              letter-spacing: 1px;
            }
          }
        }
      }
      .doi_phuong {
        margin-left: 8px;
      }
      .trang_thai_gui {
        width: 14px;
        margin-right: 4px;
        margin-left: 4px;
        display: flex;
        justify-content: center;

        .nguoi_xem {
          img {
            width: 14px;
            height: 14px;
            object-fit: cover;
            border-radius: 50%;
            box-shadow: 0 0 2px #909090;
          }
        }
      }
      .trang_thai_gui_kpbt {
        margin-left: auto;
      }
    }
    .da_xem {
      margin-right: 3px;
      margin-top: 4px;
      display: flex;
      justify-content: flex-end;
      .list {
        display: flex;
        justify-content: space-between;
        .item-ok {
          img {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            margin: 0px 1px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

.content {
  width: 482px;
  height: 612px;
  margin-top: 10px;
  overflow-y: scroll;
  margin-bottom: 10px;
  margin-left: 10px;

  #danh-sach-tin-nhan {
    width: 100%;
    transform: translateY(-10px);
    margin-top: 20px;
  }
}
::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #00000000;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #00000066;
}
::-webkit-scrollbar {
  width: 7px;
  border-radius: 10px;
}
::-webkit-scrollbar:hover {
  background: #0700001c !important;
}
