<div class="loading" *ngIf="this.friendsPageService.isLoadingProcess()">
    <main lottie [options]="this.friendsPageService.options"
      (animationCreated)="this.friendsPageService.animationCreated($event)" class="anim"></main>
  </div>
  
<div class="container">
    <div class="left">
        <div class="search">
            <input *ngIf="friendsPageDefautl === 0" type="text" placeholder="Tìm kiếm" (input)="searchFriends(myinput.value)" #myinput>
            <input *ngIf="friendsPageDefautl === 1" type="text" placeholder="Tìm kiếm" >
            <input *ngIf="friendsPageDefautl === 2" type="text" placeholder="Tìm kiếm" >
            <i class="fas fa-search"></i>
        </div>
        <div class="menu">
            <div (click)="moveToFriends()" id="btn-friends" class="btn-friends btn-menu " (click)="onClickMenu(0)">
                <i id="icon_f" class="icon_f fas fa-users"></i>
                <span id="text-f" class="text_f">
                Bạn bè
                </span>
            </div>
            <div (click)="moveToRequest()" id="btn-request" class="btn-request btn-menu" (click)="onClickMenu(1)">
                <i id="icon_r" class="icon_r fas fa-question-circle"></i>
                <span id="text-r" class="text_r">
                Lời mời
                </span>
            </div>
            <div (click)="moveToSend()" id="btn-send" class="btn-send btn-menu" (click)="onClickMenu(2)">
                <i id="icon_s" class="icon_s fas fa-paper-plane"></i>
                <span id="text-s" class="text-s ">
                Đã gửi
                </span>
            </div>
        </div>
        <div class="result">
            <div class="title" *ngIf="friendsPageDefautl === 0">{{this.friendsPageService.getSizeFriends()}} kết quả</div>
            <div class="title" *ngIf="friendsPageDefautl === 1">1 kết quả</div>
            <div class="title" *ngIf="friendsPageDefautl === 2">2 kết quả</div>
            <div class="next btn-offer" title="Đề xuất kết bạn"><i class="fas fa-lightbulb"></i></div>
            <div class="next btn-result" title="Thêm bạn"><i class="fas fa-user-plus"></i></div>
        </div>
        <router-outlet></router-outlet>
    </div>
    <div class="right">
        <app-profile-friend *ngIf="friendsPageDefautl === 0 " ></app-profile-friend>
        <app-profile-request *ngIf="friendsPageDefautl === 1" ></app-profile-request>
        <app-profile-send *ngIf="friendsPageDefautl === 2"></app-profile-send>
    </div>
</div>
<div class="unfriend" [class.show-unfriend]="this.friendsPageService.getIDUnFriend() != ''">
    <div class="unfriend-content">
        <div class="title">Bạn có chắc muốn hủy kết bạn với<span> {{this.friendsPageService.getNameUnFriend()}}</span> không?</div>
        <button class="not-unfriend btn" (click)="onClickNonAcceptUnFriend()">Không</button>
        <button class="accept-unfriend btn" (click)="onClickAcceptUnFriend()">Có</button>
    </div>
</div>
