<div class="container">
    <div class="left">
        <div class="search">
            <input type="text" placeholder="Tìm kiếm">
            <i class="fas fa-search"></i>
        </div>
        <div class="menu">
            <div id="btn-friends" class="btn-friends btn-menu " (click)="onClickMenu(0)">
                <i id="icon_f" class="icon_f fas fa-users"></i>
                <span id="text-f" class="text_f">
                Bạn bè
                </span>
            </div>
            <div id="btn-request" class="btn-request btn-menu" (click)="onClickMenu(1)">
                <i id="icon_r" class="icon_r fas fa-question-circle"></i>
                <span id="text-r" class="text_r">
                Lời mời
                </span>
            </div>
            <div id="btn-send" class="btn-send btn-menu" (click)="onClickMenu(2)">
                <i id="icon_s" class="icon_s fas fa-paper-plane"></i>
                <span id="text-s" class="text-s ">
                Đã gửi
                </span>
            </div>
        </div>
        <div class="result">
            <div class="title">10 kết quả</div>
            <div class="next btn-result"><i class="fas fa-user-plus"></i></div>
        </div>
        <app-friends></app-friends>
       
    </div>
    <div class="right">
        <app-profile-friend></app-profile-friend>
    </div>
</div>