<div class="add-group">
  <div class="add-group-content">
    <div class="name-group">
      <div class="name-group-label">Tên nhóm</div>
      <input
        id="ip-name-group"
        type="text"
        class="name-group-content"
        placeholder="Nhập tên nhóm"
      />
    </div>
    <div class="search-group">
      <div class="search-group-label">Mời thêm bạn vào trò chuyện</div>
      <div class="search">
        <input type="text" placeholder="Tìm kiếm" />
        <i class="fas fa-search"></i>
      </div>
    </div>
    <div class="friends">
      <div
        class="friends-content"
        *ngFor="let item of friends_list; let i = index"
      (click)="onClickCheckedFriend(i)">
        <div class="checked-friends">
          <input id="check-{{i}}" type="checkbox" />
        </div>
        <div class="img">
          <img [src]="item.link" alt="" />
        </div>
        <div class="name">
          {{ item.name }}
        </div>
        <div class="choose" id="choose-{{i}}">Đang chọn</div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="create" (click)="onClickCreateGroup()">Tạo nhóm</button>
  </div>
</div>
