* {
    margin: 0;
    padding: 0;
  }
  .container {
    position: absolute;
    background-color: white;
    height: 760px;
    width: 784px;
    right: 20px;
    top: 20px;
    font-family: "Raleway";
    border-radius: 27px;
    box-shadow: #d3dceb 4px 8px 28px 0px;
    .content {
      width: 727px;
      height: 704px;
      overflow-y: scroll;
      padding-right: 27px;
      scroll-behavior: smooth;
      padding-bottom: 10px;
      margin-top: 27px;
      padding-left: 27px;
      .title {
        margin-bottom: 15px;
        font-weight: 500;
        line-height: 1.2;
        font-size: 1rem;
      }
      .fill {
        border: 0.5px solid rgba(0, 0, 0, 0.125);
        border-radius: 10px;
        box-shadow: 0px 0px 10px 0px #dfebf5;
        .fill-content {
          padding: 20px;
          position: relative;
          .title-sub {
            margin: 0px 0 5px 0;
            font-weight: 450;
          }
          .title-sub-notification {
            margin-top: 20px;
          }
          .switch {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 25px;
            margin-bottom: 20px;
          }
          .error-block {
            position: absolute;
            left: 100px;
            top: 63px;
            color: rgb(255, 123, 92);
            font-size: 14px;
            display: none;
          }
          .switch-notification {
            margin-bottom: 0px;
          }
  
          .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
  
          .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: 0.4s;
            transition: 0.4s;
          }
          input:checked + .slider {
            background-color: #3275f7;
          }
  
          input:focus + .slider {
            box-shadow: 0 0 1px #3275f7;
          }
  
          input:checked + .slider:before {
            -webkit-transform: translateX(24px);
            -ms-transform: translateX(24px);
            transform: translateX(24px);
          }
          .slider-checked {
            background-color: #a8c2f7;
          }
          .slider-checked::before {
            -webkit-transform: translateX(24px);
            -ms-transform: translateX(24px);
            transform: translateX(24px);
          }
          .slider-klp {
            background-color: #3275f7;
          }
          .slider-klp::before {
            -webkit-transform: translateX(24px);
            -ms-transform: translateX(24px);
            transform: translateX(24px);
          }
          .slider.round {
            border-radius: 34px;
          }
          .slider.round:before {
            border-radius: 50%;
          }
          .status span {
            font-weight: 450;
          }
          .line {
            width: 100%;
            height: 0.1px;
            background-color: #d2d8e6;
          }
          .content-details {
            word-wrap: break-word;
            margin-top: 20px;
            color: #4a5568;
            font-style: italic;
          }
          .content-details-notification {
            margin-bottom: 20px;
          }
          .support {
            width: 100%;
            height: 100px;
            display: flex;
            color: #4a5568;
            .left-support {
              width: 20%;
              display: flex;
              flex-direction: column;
              .left-support-title {
                margin-top: 15px;
              }
            }
            .right-support {
              width: 80%;
              display: flex;
              flex-direction: column;
              .right-support-content {
                margin-top: 15px;
              }
            }
          }

          .members {
            width: 100%;
            display: flex;
            margin-top: 20px;
            justify-content: center;
            .active {
              margin-left: 80px;
            }
            .member {
              width: 100px;
              height: 170px;
              margin-right: 80px;
              img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                object-fit: cover;
              }
              .name {
                display: flex;
                margin-top: 10px;
                margin-bottom: 10px;
                font-weight: 450;
                justify-content: center;
              }
              .contacts {
                display: flex;
                justify-content: center;
                i {
                  margin-right: 10px;
                  color: black;
                  cursor: pointer;
                }
                .active {
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
      .active-fill {
        background-color: #eff6fc;
      }
      .title-notification,
      .title-supports {
        margin-top: 35px;
      }
    }
  
    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  }
  