<div class="container">
    <p class="title-header">Bước cuối cùng</p>
    <p class="noi-dung">Hãy nhập mật khẩu mới của bạn</p>
    <div class="input_data" id="dk-password">
        <i class="fab fa-keycdn"></i>
        <input #password2 type="password" placeholder="Mật khẩu" [(ngModel)]="password"
            (ngModelChange)="changePassword($event)">
        <i #eye2 class="far fa-eye eye" (click)="hiddenAndShowPassword(password2,eye2)"></i>
    </div>

    <p class="error" id="dk-error-3">Mật khẩu không thể thiếu</p>

    <div class="level-password" id="level-password">
        <div class="child">
        </div>
        <div class="child">
        </div>
        <div class="child">
        </div>
        <p>Hãy nhập mật khẩu</p>
    </div>

    <div class="go-next" (click)="submit()">
        <i class="fab fa-cloudversify"></i>
        <p>Lấy mật khẩu này</p>
    </div>
</div>