* {
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  width: 502px;
  height: 760px;
  left: 321px;
  top: 20px;

  .content {
    display: flex;
    height: 92%;
    flex-direction: column;
    justify-content: flex-end;
  }
}
