.friends-list {
  font-family: "Raleway";
  width: 281px;
  position: relative;
  height: 760px;
  top: 20px;
  left: 20px;
  border-radius: 27px;
}

.friends-list .header {
  z-index: 4;
  background-color: white;
  padding-top: 27px;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
  position: relative;
}

.friends-list .header .title {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  margin-bottom: 25px;
  position: relative;
}

.friends-list .header .title h3 {
  margin: 0;
}

.friends-list .header .title .new-message {
  position: absolute;
  right: -4px;
  border-radius: 50%;
  background-color: #f5f9fc;
  width: 35px;
  height: 35px;
  top: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.friends-list .header .title .new-message i {
  font-size: 15px;
}

.friends-list .header .search {
  width: 85%;
  height: 35px;
  margin: auto;
  border-radius: 20px;
  position: relative;
  background-color: #f5f9fc;
}

.friends-list .header .search input {
  height: 70%;
  margin-left: 20px;
  margin-top: 5px;
  border: none;
  outline: none;
}

.friends-list .header .search ::-webkit-input-placeholder {
  color: #a4afbf;
}

.friends-list .header .search :-ms-input-placeholder {
  color: #a4afbf;
}

.friends-list .header .search ::-ms-input-placeholder {
  color: #a4afbf;
}

.friends-list .header .search ::placeholder {
  color: #a4afbf;
}

.friends-list .header .search input[type="text"] {
  font-size: 13px;
  background-color: #f5f9fc;
}

.friends-list .header .search i {
  color: #a4afbf;
  font-size: 15px;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.friends-list .status {
  margin-top: 15px;
  position: absolute;
  z-index: 4;
  height: 265px;
  width: 88px;
  top: 9px;
  padding-left: 14px;
  left: 96px;
  overflow: scroll;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.friends-list .status .no_user {
  -webkit-transform: rotate(90deg) translate(105px, 58px);
          transform: rotate(90deg) translate(105px, 58px);
  width: 211px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
}

.friends-list .status .no_user_2 {
  -webkit-transform: rotate(90deg) translate(69px, 79px);
          transform: rotate(90deg) translate(69px, 79px);
  width: 211px;
  position: absolute;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 10px;
  color: gray;
  letter-spacing: 1px;
}

.friends-list .status .no_status {
  -webkit-transform: rotate(90deg) translate(106px, 60px);
          transform: rotate(90deg) translate(106px, 60px);
  width: 215px;
  font-family: "Raleway";
  font-weight: 600;
  font-size: 13px;
  letter-spacing: 1px;
}

.friends-list .status .no_status_2 {
  -webkit-transform: rotate(90deg) translate(70px, 83px);
          transform: rotate(90deg) translate(70px, 83px);
  width: 220px;
  position: absolute;
  font-family: "Raleway";
  font-weight: 500;
  font-size: 10px;
  color: gray;
  letter-spacing: 1px;
}

.friends-list .status .no_status_2 span {
  color: #3275f7;
  cursor: pointer;
}

.friends-list .status .myContent {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-right: 10px;
  max-width: 45px;
  position: relative;
  margin-left: 10px;
}

.friends-list .status .myContent div img {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

.friends-list .status .myContent div .name {
  margin-top: 7px;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  word-wrap: break-word;
}

.friends-list .status .myContent div .cover-online {
  width: 13.5px;
  height: 13.5px;
  position: absolute;
  background-color: white;
  top: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 4px;
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends-list .status .myContent div .cover-online .online {
  width: 9.5px;
  height: 9.5px;
  border-radius: 50%;
  background-color: #31a24c;
}

.friends-list .status .o1 {
  margin-left: 16px;
}

.friends-list .status .o4 {
  margin-right: 0px;
}

.friends-list .status .prev,
.friends-list .status .next {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  background-color: #e5f1fc;
  top: 145px;
  cursor: pointer;
}

.friends-list .status .next {
  position: absolute;
  top: 37px;
  right: 21px;
}

.friends-list .status .prev {
  position: absolute;
  top: 37px;
  left: 21px;
}

.friends-list .status .prev-none {
  display: none;
}

.friends-list .status .next-none {
  display: none;
}

.friends-list .status .slide1-selected {
  opacity: 1;
  -webkit-transform: translateX(6%);
          transform: translateX(6%);
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-left: 15px;
}

.friends-list .status .slide2-unselected {
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.friends-list .status .slide1-unselected {
  opacity: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.friends-list .status .slide2-selected {
  opacity: 1;
  -webkit-transform: translateX(-94%);
          transform: translateX(-94%);
  -webkit-transition: all 1s;
  transition: all 1s;
  margin-left: 17px;
}

.friends-list .box-shadow-header-and-status {
  -webkit-box-shadow: 4px 8px 28px 0px #d3dceb;
          box-shadow: 4px 8px 28px 0px #d3dceb;
  position: absolute;
  top: 0px;
  background-color: white;
  left: 0px;
  width: 100%;
  height: 210px;
  z-index: 2;
  border-top-left-radius: 27px;
  border-top-right-radius: 27px;
}

.friends-list .friends {
  margin-top: 101px;
  z-index: 3;
  overflow-y: hidden;
  position: relative;
  height: 541px;
  width: 320px;
}

.friends-list .friends .content-friends {
  width: 320px;
  height: 541px;
  overflow: scroll;
  position: relative;
  scroll-behavior: smooth;
}

.friends-list .friends .content-friends .container {
  width: 281px;
  height: 75px;
  z-index: 2;
  position: relative;
  cursor: pointer;
  border-bottom: #e5f1fc solid 0.1px;
  z-index: 10;
}

.friends-list .friends .content-friends .container .content {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 12px;
  position: relative;
}

.friends-list .friends .content-friends .container .content .left {
  position: relative;
  width: 50px;
  height: 50px;
}

.friends-list .friends .content-friends .container .content .left .don img {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.friends-list .friends .content-friends .container .content .left .nhom .hinh_1 {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.friends-list .friends .content-friends .container .content .left .nhom .hinh_2 {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  z-index: 9;
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.friends-list .friends .content-friends .container .content .left .cover-online {
  width: 18px;
  height: 18px;
  position: absolute;
  background-color: white;
  top: 33px;
  right: -2px;
  border-radius: 50%;
  display: none;
}

.friends-list .friends .content-friends .container .content .left .cover-online .online {
  position: absolute;
  top: 16%;
  left: 17%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #30e430;
}

.friends-list .friends .content-friends .container .content .left .status-online {
  display: block;
}

.friends-list .friends .content-friends .container .content .right {
  margin-left: 15px;
  padding-top: 5px;
  max-width: 215px;
}

.friends-list .friends .content-friends .container .content .right .name {
  font-family: "Raleway";
  word-wrap: break-word;
  font-size: 13px;
  font-weight: 600;
}

.friends-list .friends .content-friends .container .content .right .message {
  font-size: 11px;
  color: grey;
  padding-top: 10px;
}

.friends-list .friends .content-friends .container .content .right .name2 {
  font-family: "Raleway";
  word-wrap: break-word;
  font-size: 13px;
  font-weight: 600;
  margin-top: 13px;
}

.friends-list .friends .content-friends .container .content .timer {
  font-size: 11px;
  color: grey;
  padding-top: 3px;
  position: absolute;
  right: 0px;
  top: 18px;
}

.friends-list .friends .content-friends .container .content .timer2 {
  margin-top: 10px;
  font-size: 11px;
  color: grey;
  padding-top: 3px;
  position: absolute;
  right: 0px;
  top: 18px;
}

.friends-list .friends .content-friends .selected-prev {
  border-bottom-right-radius: 27px;
}

.friends-list .friends .content-friends .selected-next {
  border-top-right-radius: 27px;
}

.friends-list .friends .content-friends .done-select {
  background-color: white;
}

.friends-list .friends .content-friends .done-select:hover {
  background-color: #e5f1fc;
}

.friends-list .friends .content-friends .done-select:hover .content .left .cover-online {
  background-color: #e5f1fc;
}

.friends-list .friends .content-friends .selected-container {
  border-bottom: none;
  border-left: #3275f7 solid 4px;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.friends-list .friends .content-friends .selected-container .content .left .cover-online {
  background-color: transparent;
}

.friends-list .friends .content-friends .online {
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #ffffff;
  left: 54px;
  bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.friends-list .friends .content-friends .online .child {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #31a24c;
}

.friends-list .friends .content-friends .chua_nhan {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 28px;
  top: 39px;
  border-radius: 50%;
  border: 1px solid #bcc0c4;
  width: 17px;
  height: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-list .friends .content-friends .chua_nhan i {
  color: #bcc0c4;
  font-size: 9px;
  margin: 0;
  padding: 0;
}

.friends-list .friends .content-friends .da_gui {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 28px;
  top: 39px;
  border-radius: 50%;
  background: #bcc0c4;
  width: 17px;
  height: 17px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-list .friends .content-friends .da_gui i {
  color: white;
  font-size: 9px;
  margin: 0;
  padding: 0;
}

.friends-list .friends .content-friends .so_nguoi_da_xem {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: -20px;
  top: 37px;
  width: 115px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends-list .friends .content-friends .so_nguoi_da_xem .hinh_1 {
  position: relative;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  background-color: white;
}

.friends-list .friends .content-friends .so_nguoi_da_xem .hinh_1 img {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 1px #909090;
          box-shadow: 0 0 1px #909090;
}

.friends-list .friends .content-friends .so_nguoi_da_xem .hinh_2 {
  background-color: white;
  -webkit-transform: translateX(-7px);
          transform: translateX(-7px);
  position: relative;
  z-index: 4;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends-list .friends .content-friends .so_nguoi_da_xem .hinh_2 img {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 1px #909090;
          box-shadow: 0 0 1px #909090;
}

.friends-list .friends .content-friends .so_nguoi_da_xem .hinh_3 {
  background-color: white;
  position: relative;
  -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
  z-index: 3;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends-list .friends .content-friends .so_nguoi_da_xem .hinh_3 img {
  border-radius: 50%;
  width: 17px;
  height: 17px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 0 1px #909090;
          box-shadow: 0 0 1px #909090;
}

.friends-list .friends .content-friends .so_nguoi_da_xem .hinh_4 {
  -webkit-transform: translateX(-14px);
          transform: translateX(-14px);
  z-index: 2;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.friends-list .friends .content-friends .so_nguoi_da_xem .hinh_4 p {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: #65676b;
  background-color: #e4e6eb;
  font-family: "Raleway";
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.friends-list .friends .hidden_error {
  width: 26px;
  height: 22px;
  color: #e5f1fc;
  left: 299px;
  position: absolute;
}

.friends-list ::-webkit-scrollbar {
  width: 7px;
}

.friends-list .end {
  z-index: 2;
  -webkit-box-shadow: 8px 5px 37px 0px #b3bac5;
          box-shadow: 8px 5px 37px 0px #b3bac5;
  margin-top: -17px;
  width: 100%;
  height: 25px;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
  background-color: white;
  position: relative;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=friends-list.component.css.map */