<!-- danh sách bạn bè -->
<div class="friends-list">
    <div class="header">
        <div class="title">
            <h3>Bensenger</h3>
            <div class="new-message">
                <i class="far fa-edit"></i>
            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="Tìm kiếm">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="status">
        <div class="myContent" *ngFor="let element of this.chat_page_friends_service.ban_bes">
            <div *ngIf="element.trang_thai_online" (click)="selectChat(element.ma_cuoc_tro_chuyen)">
                <img [src]="element.link_hinh_dai_dien || 'assets/images/loading.gif'" alt="">
                <div class="name">{{element.tenGioiHan()}}</div>
                <div class="cover-online">
                    <div class="online"></div>
                </div>
            </div>
        </div>
        <p *ngIf="this.chat_page_friends_service.checkIsOfflineAll()" class="no_user">Hiện tại không có ai online cả</p>
        <p *ngIf="this.chat_page_friends_service.checkIsOfflineAll()" class="no_user_2">Chờ online ư? Đi kết thêm bạn đi
            nào!</p>
    </div>
    <!-- Box shadow cho header + status-->
    <div class="box-shadow-header-and-status" id="box-shadow-header-and-status">
    </div>
    <div class="friends">
        <div class="content-friends">

            <div *ngFor="let item of this.chat_page_friend_left_service.allBoxData; let i = index"
                class="container message_read" (click)="onSelected(item.cuoc_tro_truyen.ma_cuoc_tro_chuyen)"
                [class.selected-container]="this.chat_page_friend_left_service.getIndexSeleced() === i"
                [class.selected-prev]="i === (this.chat_page_friend_left_service.getIndexSeleced() -1) && (this.chat_page_friend_left_service.getIndexSeleced()!=-1)"
                [class.selected-next]="i=== (this.chat_page_friend_left_service.getIndexSeleced() +1) && (this.chat_page_friend_left_service.getIndexSeleced()!=-1)"
                [class.done-select]="this.chat_page_friend_left_service.getIndexSeleced() != i">

                <div class="content">
                    <div class="left">
                        <img [src]="item.getImg()[0] || 'assets/images/loading.gif'" alt="">
                        <div class="cover-online">
                            <div class="online"></div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="name" [ngStyle]="i == 1 ? getStyleNameReadMessage() : null">{{"item.name"}}
                        </div>
                        <div class="message" [ngStyle]="i == 1 ? getStyleMessageReadMessage() : null">
                            <span>Bạn: </span>
                            {{"item.content"}}
                        </div>
                        <div class="message-unread" [ngStyle]="i == 1 ? getStylePointReadMessage() : null"></div>
                    </div>

                    <div class="timer">{{"item.timer"}}</div>
                </div>

                <div *ngIf="item.trang_thai_online" class="online">
                    <div class="child"></div>
                </div>
            </div>
            <!-- Tô trắng phần còn lại-->
            <div *ngIf="this.chat_page_friend_left_service.getLength() < 7" class="fillAll"
                [ngStyle]="getStyleFillAll()"
                [class.selected-next]="this.chat_page_friend_left_service.getIndexSeleced() === this.chat_page_friend_left_service.getLength()-1 && (this.chat_page_friend_left_service.getIndexSeleced()!=-1)">
            </div>
            <!-- Box shadown ở trên -->
            <div *ngIf="this.chat_page_friend_left_service.getIndexSeleced() != 0" [ngStyle]="getStyleShadowTop()">
            </div>
            <!-- Box shadow ớ dưới-->
            <div [ngStyle]="getStyleShadowBottom()">
            </div>
        </div>
        <!-- Che thằng lòi -->
        <div class="hidden_error">
        </div>
    </div>
    <!-- Điền hết chỗ trống ở đuôi-->
    <div class="end">
    </div>
</div>

<router-outlet></router-outlet>