<!-- danh sách bạn bè -->
<div class="friends-list">
    <div class="header">
        <div class="title">
            <h3>Bensenger</h3>
            <div class="new-message">
                <i class="far fa-edit"></i>
            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="Tìm kiếm">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="status">

        <div class="content slide1" [class.slide1-selected]="change_slide === 0"
            [class.slide1-unselected]="change_slide === 1">
            <!-- list online lấy từ DB-->
             <!-- <div class="myContent" *ngFor="let index of online_list_1"> 
                    <img [src]="index.img" alt="">
                    <div class="name">{{index.name}}</div>
                    <div class="cover-online">
                        <div class="online"></div>
                    </div>
                </div>
                -->
            <!-- list online mẫu -->
            <div class="myContent" *ngFor="let index of online_list" >
                <img [src]="index.link" alt="">
                <div class="name">{{index.name}}</div>
                <div class="cover-online">
                    <div class="online"></div>
                </div>
            </div>

        </div>
        <div class="content slide2" [class.slide2-unselected]="change_slide === 0"
            [class.slide2-selected]="change_slide === 1">
            <!-- list online lấy từ DB-->
            <!-- <div class="myContent" *ngFor="let index of online_list_2"> 
                    <img [src]="index.img" alt="">
                    <div class="name">{{index.name}}</div>
                    <div class="cover-online">
                        <div class="online"></div>
                    </div>
                </div>
                -->
            <!-- list online mẫu -->
            <div class="myContent" *ngFor="let index of online_list">
                <img [src]="index.link" alt="">
                <div class="name">{{index.name}}</div>
                <div class="cover-online">
                    <div class="online"></div>
                </div>
            </div>

        </div>
        <!-- có DB thì mở cmt -->
        <!-- <div class="prev" [class.prev-none]="countPrev === 0" (click)="changeSlide(0)">&#10094;</div>
        <div class="next" [class.next-none]="countNext === 3" (click)="changeSlide(1)">&#10095;</div> -->
        <div class="prev" [class.prev-none]="change_slide === 0" (click)="changeSlide(0)">&#10094;</div>
        <div class="next" [class.next-none]="change_slide === 1" (click)="changeSlide(1)">&#10095;</div>
    </div>
    <!-- Box shadow cho header + status-->
    <div class="box-shadow-header-and-status" id="box-shadow-header-and-status">

    </div>
    <div class="friends">
        <div class="content-friends">
            
               <!-- đoạn này lấy data từ DB -->
            <!-- <div *ngFor="let item of friends_list_main; let i = index" class="container" (click)="onSelectedFilter(i, true, item.idGroup)""
            [class.selected-container]="selectedUser === i" [class.selected-prev]="i === prev"
            [class.selected-next]="i===next" [class.done-select]="selectedUser != i"> 
                <div class="content"> -->
                    <!-- nếu là group chat -->
                        <!-- <div class="left" *ngIf="item.idUser.length > 2">
                            <img [src]="item.img[0]" alt="">
                            <img class="img-1" [src]="item.link" alt="">
                            <div class="cover-img-2">
                                <img class="img-2" [src]="item.img[1]" alt="">
                            </div>
                            <div class="cover-online"  [class.status-online]="item.status === 'online'">
                                <div class="online"></div>
                            </div>
                        </div> -->
                        <!-- nếu là chat 1vs1 -->
                        <!-- <div class="left" *ngIf="item.idUser.length <= 2">
                            <img [src]="item.link" alt="">
                             <div class="cover-online"  [class.status-online]="item.status === 'online'">
                                <div class="online"></div>
                            </div>
                        </div> -->
                        <!-- nếu id đang đăng nhập khác id gửi tin nhắn -->
                        <!-- <div class="right" *ngIf="idUser != item.idSend"> -->
                            <!-- nếu id đang đăng nhập chưa đọc tin nhắn -->
                            <!-- <div class="name" *ngIf="item.idUser.length <= 2" [ngStyle]="checkReaded(item.memberReadedMessage) ? getStyleNameReadMessage() : null">{{item.nickName}}</div>
                            <div class="name" *ngIf="item.idUser.length > 2" [ngStyle]="checkReaded(item.memberReadedMessage) ? getStyleNameReadMessage() : null">{{item.nameGroup}}</div>
                            <div class="message" [ngStyle]="checkReaded(item.memberReadedMessage) ? getStyleMessageReadMessage() : null">                   
                                    <span>{{item.nameSend}}: </span>
                                {{item.lastMessage}}
                            </div>
                            <div class="message-unread" [ngStyle]="checkReaded(item.memberReadedMessage) ? getStylePointReadMessage() : null"></div>
                        </div> -->
                         <!-- nếu id đang đăng nhập trùng với id gửi tin nhắn -->
                        <!-- <div class="right" *ngIf="idUser == item.idSend">
                            <div class="name" *ngIf="item.idUser.length <= 2">{{item.nickName}}</div>
                            <div class="name" *ngIf="item.idUser.length > 2">{{item.nameGroup}}</div>
                            <div class="message">                   
                                    <span>Bạn: </span>
                                {{item.lastMessage}}
                            </div>
                        </div>
                        <div class="timer">{{item.timeLastMessage}}</div>
                </div>
            </div> -->
            
            <!-- dưới này demo thôi sau này delete -->
            <div *ngFor="let item of friends_list; let i = index" class="container message_read" (click)="onSelectedFilter(i, true, 0)"
                [class.selected-container]="selectedUser === i" [class.selected-prev]="i === prev"
                [class.selected-next]="i===next" [class.done-select]="selectedUser != i" >
                <div class="content">
                    <div class="left" >
                        <img [src]="item.link" alt="">
                        <div class="cover-online">
                            <div class="online"></div>
                        </div>
                    </div>
                  

                    <div class="right">
                        <div class="name"  [ngStyle]="item.id == 1 ? getStyleNameReadMessage() : null">{{item.name}}</div>
                        <div class="message" [ngStyle]="item.id == 1 ? getStyleMessageReadMessage() : null">
                            <span>Bạn: </span>
                            {{item.content}}
                        </div>
                        <div class="message-unread" [ngStyle]="item.id == 1 ? getStylePointReadMessage() : null"></div>
                    </div>

                    <div class="timer">{{item.timer}}</div>
                </div>
            </div>
            
            <!-- Box shadown ở trên -->
            <div *ngIf="selectedUser != 0" [ngStyle]="getStyleShadowTop()">
            </div>
            <!-- Box shadow ớ dưới-->
            <div *ngIf="selectedUser != friends_list.length-1" [ngStyle]="getStyleShadowBottom()">
            </div>
        </div>
        <!-- Che thằng lòi -->
        <div class="hidden_error">
        </div>
    </div>
    <!-- Điền hết chỗ trống ở đuôi-->
    <div class="end">
    </div>
</div>