<!-- danh sách bạn bè -->
<div class="friends-list">
    <div class="header">
        <div class="title">
            <h3>Bensenger</h3>
            <div class="new-message">
                <i class="far fa-edit"></i>
            </div>
        </div>
        <div class="search">
            <input type="text" placeholder="Tìm kiếm">
            <i class="fas fa-search"></i>
        </div>
    </div>
    <div class="status">

        <div class="content slide1" [class.slide1-selected]="change_slide === 0"
            [class.slide1-unselected]="change_slide === 1">
            <div class="myContent" *ngFor="let index of online_list" [class]="'o'+index.id">
                <img [src]="index.link" alt="">
                <div class="name">{{index.name}}</div>
                <div class="cover-online">
                    <div class="online"></div>
                </div>
            </div>

        </div>
        <div class="content slide2" [class.slide2-unselected]="change_slide === 0"
            [class.slide2-selected]="change_slide === 1">
            <div class="myContent" *ngFor="let index of online_list" [class]="'o'+index.id">
                <img [src]="index.link" alt="">
                <div class="name">{{index.name}}</div>
                <div class="cover-online">
                    <div class="online"></div>
                </div>
            </div>

        </div>
        <div class="prev" [class.prev-none]="change_slide === 0" (click)="changeSlide(0)">&#10094;</div>
        <div class="next" [class.next-none]="change_slide === 1" (click)="changeSlide(1)">&#10095;</div>
    </div>
    <!-- Box shadow cho header + status-->
    <div class="box-shadow-header-and-status" id="box-shadow-header-and-status">

    </div>
    <div class="friends">
        <div class="content-friends">
            <div #container *ngFor="let item of friends_list; let i = index" class="container" (click)="onSelected(i)"
                [class.selected-container]="selectedUser === i" [class.selected-prev]="i === prev"
                [class.selected-next]="i===next" [class.done-select]="selectedUser != i">
                <div class="content">
                    <div class="left">
                        <img [src]="item.link" alt="">
                        <div class="cover-online">
                            <div class="online"></div>
                        </div>
                    </div>

                    <div class="right">

                        <div class="name">{{item.name}}</div>
                        <div class="message">{{item.content}}</div>
                    </div>

                    <div class="timer">{{item.timer}}</div>
                </div>
            </div>
            <!-- Box shadown ở trên -->
            <div *ngIf="selectedUser != 0" [ngStyle]="getStyleShadowTop()">
            </div>
            <!-- Box shadow ớ dưới-->
            <div *ngIf="selectedUser != friends_list.length-1" [ngStyle]="getStyleShadowBottom()">
            </div>
        </div>
        <!-- Che thằng lòi -->
        <div class="hidden_error">
        </div>
    </div>
    <!-- Điền hết chỗ trống ở đuôi-->
    <div class="end">
    </div>
</div>