* {
  margin: 0;
  padding: 0;
}

.content-show{
  width: 100%;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.container {
  background-color: white;
  width: 100%;
  border-radius: 12px;
  box-shadow: 4px 8px 28px 0px #d3dceb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;

  .icon {
    margin-left: 15px;
    display: flex;
    margin-top: 3px;
    .child {
      cursor: pointer;
      margin-left: 5px;
      margin-right: 5px;
      i {
        font-size: 18px;
        margin-top: 1px;
      }
    }
  }

  .khung-chat {
    display: flex;
    flex-direction: column;
    width: 273px;
    border-radius: 20px;
    background-color: #f0f2f5;
    margin-top: 7px;
    margin-bottom: 7px;
    .input-file {
      max-width: 260px;
      height: 70px;
      margin-left: 10px;
     
      .scroll-input {
        width: 100%;
        height: 100%;
        overflow-x: scroll;
        display: flex;
        
        .input-item,.input-item-file, .add-file {
       
          min-width: 50px;
          max-width: 50px;
          max-height: 50px;
          min-height: 50px;
          margin-right: 12px;
          margin-top: 10px;
          border-radius: 10px;
          position: relative;
          .item {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            object-fit: cover;
          }
          .input-item-exit {
            width: 20px;
            height: 20px;
            background-color: white;
            border: #dad4d4 solid 0.5px;
            border-radius: 50%;
            position: absolute;
            right: -7px;
            top: -7px;
            cursor: pointer;
            i {
              background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yz/r/0oWpsdW0CWL.png);
              background-size: 34px 916px;
              background-repeat: no-repeat;
              display: inline-block;
              width: 12px;
              height: 12px;
              background-position: -18px -820px;
              position: absolute;
              color: #7a7272;
              top: 4px;
              left: 4px;
            }
          }
          .input-item-exit:hover {
            background-color: rgb(236, 236, 236);
          }
        }
        .add-file {
          background-color: rgba(134,142,153,.25);
          cursor: pointer;
          i {
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/rDfNIM4_UpO.png);
            background-position: 0 -778px;
            background-size: 52px 1338px;
            background-repeat: no-repeat;
            display: inline-block;
            height: 24px;
            width: 24px;
            color: #1d1b1b;
            position: absolute;
            top: 13px;
            left: 14px;
          }
        }
        .add-file:hover {
          background-color: rgba(107, 111, 117, 0.25);
        }
        .input-item-file {
          display: flex;
          min-width: 150px;
          background-color: rgba(134,142,153,.25);
          .left {
            width: 35%;
            
            .cover-left-icon {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              background-color: white;
              position: absolute;
              left: 10px;
              top: 10px;
              i {
                background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/rDfNIM4_UpO.png);
                background-position: -34px -70px;
                background-size: 52px 1338px;
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
                position: absolute;
                top: 8px;
                left: 10px;
                color: #1d1b1b;
              }
            }
          }
          .right {
            width: 65%;
            .file-name {
              display: inline-flex;
              height: 100%;
              align-items: center;
              font-family: 'Raleway';
              font-size: 15px;
              font-weight: bold;
            }
          }
          
        }
      }
      ::-webkit-scrollbar {
        height: 7px;
      }
    }
   
   
    .khung-chat-content {
      display: flex;
      align-items: center;
      .parent-input {
        max-height: 83px;
        overflow-y: scroll;
        margin-top: 5px;
        margin-bottom: 5px;
        transform: translateY(2.5px);
        .input {
          color: #050505;
          width: 225px;
          margin-right: 5px;
          margin-left: 10px;
          min-height: 22px;
          outline: none;
          font-family: "Raleway";
          background: #f0f2f5;
          font-weight: 500;
          font-size: 14px;
        }
      }
    }
    ::-webkit-scrollbar-track {
      border-radius: 20px;
      background: #00000000;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: #00000066;
    }
    ::-webkit-scrollbar {
      width: 7px;
      height: 0px;
      border-radius: 10px;
    }
    ::-webkit-scrollbar:hover {
      background: #0700001c !important;
    }
    .place {
      font-size: 14px;
      margin-left: 10px;
      position: absolute;
      color: #a1abad;
      font-family: "Raleway";
      font-weight: 500;
    }
    .c-btcx {
      margin-left: 7px;
      margin-right: 7px;
      font-size: 18px;
      cursor: pointer;
    }
    .box-bieu-tuong-cam-xuc {
      top: -309px;
      position: absolute;
      left: 141px;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a,
        inset 0 0 0 1px #ffffff80;

      .mui-ten {
        transform: translate(-19px, -7px) rotate(-45deg);
        width: 17px;
        height: 17px;
        right: 0px;
        position: absolute;
        background: white;
        bottom: -11px;
        box-shadow: -1px 1px 1px #ffffff80;
      }
    }
  }

  .bieu-tuong-cam-xuc-chat {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 5px;
    .send {
      transform: translateY(2px);
    }
    .emoji-btcx {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 24px;
        height: 24px;
        image-rendering: -webkit-optimize-contrast;
      }
    }
  }
  .box-giphy,
  .box-stickers {
    position: absolute;
    width: 270px;
    height: 300px;
    top: -311px;
    left: 30px;
    box-shadow: 0 12px 28px 0 #00000033, 0 2px 4px 0 #0000001a,
      inset 0 0 0 1px #ffffff80;
    border-radius: 8px;
    z-index: 10;
    background-color: white;
  }

  .box-stickers {
    left: 20px;
  }
}
