* {
  margin: 0;
  padding: 0;
}

.container {
  width: 65%;
  height: 488px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;

  .email {
    margin-left: auto;
    width: 150px;
    margin-top: 10px;
    margin-right: auto;
  }

  .title-header {
    font-family: "Raleway";
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 23px;
    margin-top: 30px;
    text-align: center;
    color: #23262e;
  }

  .noi-dung {
    letter-spacing: 1px;
    font-size: 11px;
    color: #888888;
    margin-top: 20px;
    font-family: "Raleway";
    text-align: center;
  }

  .verify {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

    .child {
      overflow: hidden;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 51px;
      height: 62px;
      box-shadow: 0 0 3px #00000066;

      input {
        color: #23262e;
        border: none;
        outline: none;
        text-align: center;
        width: 100px;
        height: 100%;
        font-size: 32px;
        font-family: sans-serif;
        font-weight: 900;
        margin-left: 15px;
        margin-bottom: 2px;
      }
    }
  }

  .button-select {
    background-color: #4290f6;
    p {
      color: white;
    }
    i {
      color: white;
    }
  }

  .button-done-select {
    p {
      color: #23262e;
    }
    i {
      color: #23262e;
    }
  }

  .confirm {
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    cursor: pointer;
    border-radius: 5px;
    padding: 12px 24px;

    p {
      font-family: "Raleway";
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-left: 10px;
    }
  }

  .re-send {
    display: flex;
    align-items: center;
    justify-content: center;

    .child-1 {
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: 500;
      color: #888888;
      margin-top: 20px;
      font-family: "Raleway";
      text-align: center;
    }

    .child-2 {
      letter-spacing: 1px;
      font-size: 12px;
      color: #4290f6;
      margin-top: 20px;
      font-family: "Raleway";
      text-align: center;
      font-weight: 700;
      cursor: pointer;
      margin-left: 30px;
    }
  }

  .go-back {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 379px;
    left: 0px;
    cursor: pointer;
    border-radius: 5px;
    padding: 11px 24px;
    border: 1px solid #23262e;

    p {
      font-family: "Raleway";
      font-size: 13px;
      font-weight: 600;
      letter-spacing: 1px;
      margin-left: 10px;
      color: #23262e;
    }

    i {
      font-size: 17px;
      color: #23262e;
    }
  }

  .error {
    color: #ff7b5c;
    display: none;
    text-align: center;
    font-family: "Raleway";
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    top: 353px;
    position: absolute;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
