* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1244px;
  display: flex;
  height: 800px;
  background-color: white;
  box-shadow: 0 0 73px 10px #d7e2edd6;
  border-radius: 30px;
  margin: 50px;
}
