
<div class="friends-list">
    <div class="friends-list-content" id="scroll-content">
        <div id="id-{{i}}" [class.detail-selected]="item.id === iDUrl" class="detail-friend"  *ngFor="let item of this.friendsPageService.getFriendsList(); let i = index" (click)="onClickSelectedFriend(item, iDUrl)" >
                <div class="detail-sub">
                    <div class="detail-left">
                        <img [src]="item.img || 'assets/images/loading.gif'" alt="">
                        <div *ngIf="item.status == true && statusMe == 'bat'" class="cover-online">
                            <div class="online"></div>
                        </div>
                    </div>
                    <div  class="detail-center">

                        <div *ngIf="item.checkLimitNameFriendsList()" [class.non-mutual]="item.mutualFriends == 0"  matTooltip="{{item.name}}" class="name" matTooltipClass="tooltip">{{item.getNameLimitFriendsList()}}</div>

                        <div *ngIf="!item.checkLimitNameFriendsList()" [class.non-mutual]="item.mutualFriends == 0" class="name">{{item.name}}</div>
                        <div (click)="onClickGetIDFriendMutual(item.id)" *ngIf="item.mutualFriends != 0" class="mutual-friends">{{item.mutualFriends}} bạn chung</div>
                    </div>
                    <div class="detail-right">
                        <i class="fas fa-heart"></i>
                        <i id="icon-option-{{i}}" (click)="onClickOptionGroup(i)" class="fas fa-ellipsis-v" ></i>
                    </div>
                </div>
                <div id="option-{{i}}" class="option" [class.option-detail-block]="i === optionClick">
                    <div (click)="onClickMessage(item.id)" class="option-profile option-detail"><i class="fas fa-comment"></i><span>Nhắn tin</span></div>
                    <div class="option-abord option-detail" (click)="onClickUnFriend(item.id, item.name)"><i class="fas fa-user-times"></i><span>Hủy kết bạn</span></div>
                </div>
        </div>
        
    </div>
</div>
<div class="mutual-friends-list" [class.mutual-display]="idMutualFriend != ''">
    <div class="content-mutual-friends">
        <div class="header">
            <div class="title">Bạn chung</div>
            <div class="exit" (click)="onClickExitMutual()"><i class="fas fa-times"></i></div>
        </div>
        <div class="content-scroll">
            <div class="detail-mutual-friends" *ngFor="let item of  mutualFriendsList; let i = index">
                    <div class="detail-left">
                        <img [src]="item.img || 'assets/images/loading.gif'" alt="">
                       
                    </div>
                    <div  class="detail-right">
                        <div *ngIf="item.checkLimitNameMutualFriends()" class="name">{{item.getNameLimitMutualFriends()}}</div>
                        <div *ngIf="!item.checkLimitNameMutualFriends()" class="name">{{item.name}}</div>
                        <div class="date"><span>Ngày kết bạn:</span> {{item.dateAddFormatMutualFriends()}}</div>
                    </div>
                    <div class="right-date">
                        <div class="gender"><span>Giới tính:</span> {{item.sex}}</div>
                       
                    </div>
            </div>
        </div>
    </div>
</div>