.container {
  width: 100%;
  height: 100%;
  font-family: "Raleway";
  background-color: white;
  border-radius: 40px;
  -webkit-box-shadow: 4px 8px 28px 0px #d3dceb;
          box-shadow: 4px 8px 28px 0px #d3dceb;
  position: relative;
}

.container .content {
  width: 100%;
  height: 100%;
  border-radius: 40px;
}

.container .content .bg-hands {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .content .icon {
  position: absolute;
  left: 292px;
  top: 260px;
}

.container .content .icon i {
  font-size: 140px;
  color: white;
}

.container .content .title {
  position: absolute;
  top: 430px;
  left: 20px;
  text-align: center;
}

.container .content .title span {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.container .bg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-radius: 40px;
}

.container .profile {
  width: 300px;
  height: 40px;
  background-color: white;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.1);
  border-bottom: white solid 2px;
  border-left: white solid 2px;
  border-right: white solid 2px;
  border-radius: 20px;
  left: 212px;
  text-align: center;
}

.container .profile span {
  color: white;
  margin-top: 8px;
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.container .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 30px;
  left: 20px;
}

.container .circle .circle-content {
  width: 30px;
  height: 30px;
  background-color: #3275f7;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 5px;
}

.container .line {
  width: 3px;
  height: 300px;
  background-color: white;
  position: absolute;
  border-radius: 20px;
  top: 80px;
  left: 38.5px;
}

.container .name-line {
  font-size: 15px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 420px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 3px;
}

.container .icon-bess {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 480px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  left: 25px;
}

.container .name {
  width: 400px;
  height: 50px;
  background-color: #0e0c0c;
  position: absolute;
  bottom: 100px;
  text-align: center;
  border-radius: 40px;
  left: 162px;
}

.container .name span {
  margin-top: 13px;
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.container .circle-event {
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  bottom: 120px;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 10px 0px #acb0b4;
          box-shadow: 0px 0px 10px 0px #acb0b4;
}

.container .circle-event .event {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #3275f7;
  position: absolute;
  top: 5px;
  left: 5px;
}

.container .circle-event .event i {
  color: white;
  font-size: 25px;
  position: absolute;
  top: 13px;
  left: 12px;
}

.container .circle-add {
  left: 200px;
}

.container .circle-add .add i {
  left: 14px;
}

.container .circle-message {
  right: 200px;
}
/*# sourceMappingURL=profile-offer.component.css.map */