<div class="container">
    <img class="bg" src="assets/images/list-friends-chat-page/avt5.jpg" alt="">
    <div class="profile">
        <span>Xin Chào !</span>
    </div>
    <div class="circle-top circle">
        <div class="content-circle-top circle-content"></div>
    </div>
    <div class="line"></div>
    <div class="name-line">MOMO IGHIGO</div>
    <img class="icon-bess" src="assets/images/icon.ico" alt="">
    <div class="name"><span class="name-content">MOMO IGHIGO</span></div>
    <div matTooltip="Thêm bạn" matTooltipClass="tooltip" class="circle-add circle-event">
        <div class="add event">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div matTooltip="Nhắn tin" matTooltipClass="tooltip" class="circle-message circle-event">
        <div class="message event">
            <i class="fas fa-comment" ></i>
        </div>
    </div>
</div>