*{
    margin: 0;
    padding: 0;
}
.main1{
    width: 100%; 
    height: 100%;
    /* background-color: yellow; */
    /* width: 1920px;
    height: 900px; */
}
body{
    /* background: #FFAD0F !important; */
    background-image: url("../img/sign_up_bg.jpg");
    

}
.container1{
    max-width: 750px;
    height: 430px;
    background-color: white;
    margin-top: 100px;
    position: relative;
    margin-bottom: 150px;
    margin-left: 50px;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.43);
    box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.43);
    border-radius: 10px;
}


.main1 .container1 .text{
    color: black;
    text-align: center;
    margin-bottom: 20px;
}
.main1 .container1 .content {
   /* background-color: yellowgreen; */
    width: 100%;
    height: 100%;
    position: absolute;
    padding-top: 30px;
   
}
.main1 .container1 .content_pass {
    /* background-color: yellowgreen; */
     width: 100%;
     height: 100%;
     position: absolute;
     padding-top: 30px;
    
 }
 .content_pass{
     height: 300px !important;
 }
.mainLogin{
    margin-top: 130px;
    height: 450px !important;
}
.content_pass{
    margin-top: 130px;
    height: 400px !important;
}
.main1 .container1 .content .texts {
    font-size: 30px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    color: black;
}
.main1 .container1 .input input{
    outline: none;
    border: 1px solid #c5c5c5;
    /* width: 350px;
    height: 25px; */
    padding-left: 10px;
    color: grey;
    margin-left: 10px;
    padding-top: 1px;
    height: 50px;
    width: 600px;
}
.sdt{
    width: 635px;
    height: 28px;
    /* background-color: blue; */
    margin: auto!important;
    margin-bottom: 45px!important;
}
.sdt i{
   margin-right: 5px;
   line-height: 51px;
}
.sdt .send_code{
    background-color:  #d7d7d7;
    width: 510px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    margin-right: 3px;
    transition: 0.3s;
 }
.phone_nb{
    /* width : 200px !important; */
    margin-right: 15px;
    
}
.sdt_confirm{
    width: 100%;
    height: 50px;
    display: flex;
    margin: auto;
}
.send_code:hover{
    background-color: #bebebe;
    transition: 0.3s;
    color: white;
}
.main1 .container1 .text_checkBox{
    /* margin-bottom: 60px; */
}
.main1 .container1 .text_checkBox .remember{
    float: left;
    margin-left: -70px;
}
.main1 .container1 .text_checkBox .forgot{
    float: right;
    margin-right: -68px;
}
.main1 .container1 .login_choose{
        width: 84%;
        height: 35px;
        background-color: #e7e7e7;
        margin: auto;
        cursor: pointer;
        transition: 0.2s;
        background: #f60;
        height: 50px;
        line-height: 50px;
        margin-bottom: 20px;
}
.main1 .container1 .login_choose span{
    line-height: 35px;
    margin-bottom: 30px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-family: sans-serif;
}
.main1 .container1 .orr{
    width: 30px;
    height: 30px;
    margin: auto;
    background-color: #F23968;
    border-radius: 50%;
}
.main1 .container1 .orr span{
    line-height: 30px;
}
.main1 .container1 .or{
    margin-top: 20px;
    cursor: pointer;
}
.main1 .container1 .text_white{
    color: white;
}
.main1 .container1 .social{

        width: 84%;
        height: 50px;
        margin: auto;
        display: flex;
}
.main1 .container1 .social .facebook{
    height: 100%;
    width: 100%;
    line-height: 50px;
    background-color: #3B62A3;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.2s;
}
.main1 .container1 .social .facebook:hover{
    background-color: #264a86;
    transition: 0.2s;
}
.main1 .container1 .login_choose:hover{
    background-color: rgb(214, 86, 0);
    transition: 0.2s;
}
.main1 .container1 .social .google{
    height: 100%;
    width: 100%;
    line-height: 50px;
    background-color: rgb(0, 202, 34);
    cursor: pointer;
    transition: 0.2s;
   
}
.google i, .facebook i{
    margin-right: 5px;

}
.main1 .container1 .social .google span{
  text-align: center;
    
}
.main1 .container1 .social .google:hover{
    background-color: #c11641;
}
.mainLogin{
    height: 500px;
}
/* Trang quen mat khau */
.title_forgot{
    margin-bottom: 20px;
    float: left;
    margin-left: 75px;
}
.mainForgot{
    height: 400px !important;
    margin-top: 100px !important;
    margin-bottom: 50px;
}
.mainForgot1{
    height: 36
    0px !important;
}
.send_again{
    /* float: right!important;
    margin: 10px 0 0px 105px; */
    float: right;
    margin-top: 25px;
    width: 140px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    margin-right: 65px;
    opacity: 0;
}
.btn_send_code{
    float: left;
    margin-top: 25px;
    width: 140px;
    height: 30px;
    background-color: #f60;
    line-height: 30px;
    color: white;
    cursor: pointer;
    margin-left: 75px;
}
.title_confirm{
    margin-bottom: 20px;
    float: left;
    margin-left: 75px;
}
.confirm_code{
    display: none;
    transition: 0.3s;
}
#confirm_sdt{

    transition: 0.3s;
}
.btn_continue2{
   display: none;
}
/* thiet lap mk moi */
.mainNewPass{
    height: 400px !important;
    margin-top: 100px;
}
#continue2 a{
    text-decoration: none;
    color: white;
}
/* sign_up */
.sign_up_link {
    margin: -50px 61px 20px 0px;
    float: right;
}
.sign_up_link i{
    margin-right: 5px;
}
.newpass{
    height: 330px !important;
}
.text_white a {
    width: 100%;
    display: block;
}