p.note_policy {
  margin: auto;
  font-size: 22px;
  color: gray;
  font-family: sans-serif;
}
img.img_policy {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.col-sm-10.policy_row {
  margin: auto;
}

.titlemain {
  font-size: 36px !important;
  line-height: 46px !important;
  color: #232020 !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-family: "Oswald", sans-serif !important;
}

.titilesub {
  margin-bottom: 1.5rem !important;
  line-height: 1.5;
  font-size: 16px;
  color: #6b778d;
}

.divtitle {
  text-align: center;
  padding: 88px 0px;
}

.divtitle img {
  width: 80%;
  margin: auto;
  margin-top: 80px;
}
