body {
  font-family: sans-serif;
}
.huongdan {
  width: 127px;
  background-color: #ff7315;
  color: white;
  height: 49px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  box-shadow: rgb(234 108 24) 0px 0.5em 1em -0.125em,
    rgb(255, 230, 213) 0px 0px 20px 3px;
}
span.c1 {
  font-size: 20px;
  font-weight: bold;
}
.c1_note {
  margin: 40px 0px;
  padding-left: 50px;
  font-size: 17px;
  color: #6b778d;
}
.bl {
  font-size: 20px;
  font-weight: 600;
  color: #232020;
}

.title_b {
  padding-top: 17px;
  font-size: 18px !important;
  color: #373b41;
  padding-bottom: 30px;
  font-size: 20px;
}
img.hd {
  width: 100%;
  height: 100%;
}

.titlemain {
  font-size: 36px !important;
  line-height: 46px !important;
  color: #232020 !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  font-family: "Oswald", sans-serif !important;
}

.titilesub {
  margin-bottom: 1.5rem !important;
  line-height: 1.5;
  font-size: 16px;
  color: #6b778d;
}

.divtitle {
  text-align: center;
  padding: 88px 0px;
}

.endrowgui {
  padding-bottom: 100px;
}

.boxstep {
  height: 200px;
  position: relative;
  display: flex;
}

.boxstepmain {
  background-color: white;
  width: 80%;
  height: 101px;
  margin: auto;
  box-shadow: rgb(216 192 176) 0px 0.5em 5em -0.125em,
    rgb(255, 230, 213) 0px 0px 20px 3px;
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: 6;
}

.boxstepmainsub1 {
  background-color: white;
  width: 70%;
  height: 101px;
  margin: auto;
  box-shadow: rgb(234, 108, 24) 0px 0.5em 1em -0.125em,
    rgb(255, 230, 213) 0px 0px 20px 3px;
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 15%;
  transform: rotate(-5deg);
  z-index: 5;
  opacity: 0.2;
}

.boxstepmainsub2 {
  background-color: white;
  width: 70%;
  height: 101px;
  margin: auto;
  box-shadow: rgb(234, 108, 24) 0px 0.5em 1em -0.125em,
    rgb(255, 230, 213) 0px 0px 20px 3px;
  border-radius: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 15%;
  transform: rotate(5deg);
  z-index: 5;
  opacity: 0.2;
}

.step {
  width: 80%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.line1step {
  position: absolute;
  border: 2px solid #ff7315;
  top: 50%;
  margin-top: -1px;
  z-index: 5;
}

.line2step {
  top: 50%;
  margin-top: -1px;
  position: absolute;
  border: 2px solid #f4f4f4f4;
}

.stepitem {
  background-color: #ff7315;
  width: 30px;
  height: 30px;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.stepitem i {
  color: white;
  font-size: 10px;
}

.w25 {
  width: 25%;
}

.w50 {
  width: 50%;
}

.w75 {
  width: 75%;
}

.w100 {
  width: 100%;
}

.c25 {
  left: 15%;
}

.c50 {
  left: 41%;
}

.c75 {
  left: 65%;
}

.c100 {
  left: 92%;
}

.c0 {
  left: -6%;
}

.contentstep {
  color: #ff7315;
  position: absolute;
  width: 200px;
  top: 110%;
}

#stepitem2,
#stepitem3,
#stepitem4,
#stepitem5 {
  display: none;
}

.stepitemlow {
  background-color: #bbbbbb;
}

.contentsteplow {
  color: #bbbbbb;
}
