.mainlove {
  display: flex;
  background-color: #f6f7f8;
  width: 100%;
  flex-direction: column;
  padding-bottom: 100px;
}

.item {
  background-color: white;
  width: 90%;
  margin: 3px auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 130px;
}

.lbitem {
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #d3dbdf;
  position: relative;
  overflow: hidden;
  margin-left: 20px;
  margin-right: 20px;
}

.lbitem input {
  position: absolute;
  top: -6px;
  left: -2px;
  width: 20px;
  height: 20px;
}

.imgsp {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 5px;
}

.imgsp img {
  width: 100px;
}

.namesp {
  color: #777e81;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  width: 140px;
  margin-left: 40px;
  width: 210px;
}

.price {
  color: #777e81;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 40px;
  width: 150px;
}

.ngaythem {
  color: #777e81;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
  width: 120px;
}

.hethang {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 7px;
  background: #feeaee;
  color: #f33155;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.conhang {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 7px;
  background: #f1faed;
  color: #7ace4c;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.addtocart {
  margin-left: 75px;
  border: none;
  color: white;
  font-family: sans-serif;
  background: #ff9751;
  border-radius: 5px;
  height: 35px;
  font-size: 14px;
  width: 180px;
  font-weight: bold;
}

.addtocart i {
  margin-right: 3px;
}

.soluong {
  display: flex;
  position: relative;
}

.soluong > p {
  color: #777e81;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: 40px;
  border-bottom: 1px solid #777e81;
  width: 20px;
  text-align: center;
}

.soluong button p {
  margin: auto;
}

.soluong button:nth-child(2) {
  border-radius: 50%;
  border: none;
  background-color: #f4f8f9;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: -15px;
  left: 70px;
  font-weight: bold;
}

.soluong button:nth-child(3) {
  border-radius: 50%;
  border: none;
  background-color: #f4f8f9;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 70px;
}

.remove {
  margin: 0;
  cursor: pointer;
  margin-left: 40px;
  width: 30px;
  height: 30px;
  background-color: #f4f8f9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.remove i {
  margin: 0;
}

.header {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.header > button {
  margin: 0;
  font-size: 14px;
  font-family: sans-serif;
  border-radius: 7px;
  background: #faf4ed;
  color: #ff7315;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  border: none;
  margin-right: 10px;
}

.titletable {
  display: flex;
  width: 90%;
  margin: auto;
  position: relative;
  margin-bottom: 24px;
}

.titletable p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #78909c;
}

.titletable p:nth-child(1) {
  margin-left: 60px;
}

.titletable p:nth-child(2) {
  margin-left: 70px;
}
.titletable p:nth-child(3) {
  margin-left: 223px;
}

.titletable p:nth-child(4) {
  margin-left: 127px;
}

.titletable p:nth-child(5) {
  margin-left: 33px;
}

.titletable p:nth-child(6) {
  margin-left: 37px;
}

.titletable p:nth-child(7) {
  margin-left: 77px;
  font-weight: normal;
}

.titletable button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.titletable > div {
  position: absolute;
  right: 0px;
  top: -7px;
  display: flex;
}

.titletable > div ul {
  display: flex;
}

.titletable > div ul li {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  font-family: sans-serif;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.titletable > div ul li:nth-child(1) {
  background-color: #ff9751;
  color: white;
}

.selectbutton button i {
  margin-right: 5px;
}

.selectbutton {
  margin-left: auto;
  margin-right: 20px;
}

.selectbutton button {
  border: none;
  color: white;
  font-family: sans-serif;
  background: #ff9751;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 20px;
}

.infor {
  width: 90%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.infor h3 {
  margin: 0;
  color: #36363f;
  font-weight: bold;
  font-size: 26px;
  font-family: sans-serif;
  margin-top: 30px;
}

.infor p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  color: #78909c;
  font-weight: normal;
  margin-top: 37px;
  margin-left: 30px;
}

.view {
  margin-top: 37px;
  margin-left: 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}
.search {
  margin-top: 37px;
  margin-left: auto;
}

.search input {
  border: none;
  padding: 5px 20px;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.search input::placeholder {
  color: #c7d1d5;
}
