#div2 {
  width: 68%;
  display: flex;
  margin-top: 40px;
  position: relative;
  flex-direction: column;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.leftheader {
  display: flex;
  background-color: white;
  height: 34px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  width: 35%;
}

.leftheader > select {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-right: 3px;
}

select option {
  color: black;
}

.leftheader > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.leftheadersort {
  overflow: hidden;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin-top: -5px;
}

.leftheadersort i {
  color: #9795b4;
  font-size: 28px;
  margin-left: -12px;
  transform: scaleY(0.5);
  margin-top: -2px;
}

.leftheadersort i:nth-child(2) {
  display: none;
  margin-top: -9px;
}

.leftheadersearch {
  color: #9795b4;
  margin-left: 10px;
  cursor: pointer;
}

.leftheadersearch > div {
  display: flex;
  border-radius: 50px;
  border: 1px solid #eef0f5;
  height: 25px;
  align-items: center;
  width: 96px;
}

.leftheadersearch > div {
  display: none;
}

.leftheadersearch > div > i {
  margin-left: 10px;
}

.leftheadersearch > div input {
  outline: none;
  border: none;
  margin-left: 10px;
  width: 40px;
  margin-right: 12px;
}

.leftnextpage {
  display: flex;
  margin-top: -20px;
}

.leftnextpage > p {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 13px;
  padding-right: 3px;
  margin: auto;
  color: #b8b8c8;
  position: absolute;
  top: 35px;
  right: 0px;
}

.leftnextpage button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #9795b4;
}

.leftnextpage ul {
  display: flex;
  list-style: none;
}

.leftnextpage ul li {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
  font-family: sans-serif;
  box-shadow: 0 0 black;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  color: #9795b4;
}

.leftnextpage ul li:nth-child(1) {
  background-color: #4162fb;
  color: white;
  box-shadow: 0 3px 5px #90a3ff;
}

.leftnextpage .none {
  box-shadow: none !important;
  background-color: #f5f5fa;
}

.header > button {
  border: none;
  outline: none;
  padding: 7px 0px;
  width: 170px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  position: absolute;
  background-color: #4162fb;
  color: white;
  left: 410px;
  top: 3px;
  box-shadow: 14px 15px 35px 3px #2141d65e;
}

.header > button:nth-child(2) {
  left: 284px;
  box-shadow: 14px 15px 35px 3px #d0d2d4d6;
  background-color: #fafafa !important;
  color: #c5cbd5 !important;
}

.indexmain {
  display: flex;
  margin-top: 35px;
}

.maindiv2header {
  display: flex;
  margin-bottom: 15px;
  margin-top: 30px;
}

.maindiv2header > button {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: white;
  color: #97a9b3;
  cursor: pointer;
  margin-top: -15px;
  transform: translateY(10px);
}

.maindiv2header p {
  color: #78909c;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.item {
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
  position: relative;
}

.item label {
  display: inline-block;
  max-width: 100%;
  font-weight: bold;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 1.42857143;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 2px solid #d3dbdf;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-right: 15px;
}

.item label input {
  position: absolute;
  top: -6px;
  left: -2px;
  width: 20px;
  height: 20px;
  margin: 4px 0 0;
  line-height: normal;
  box-sizing: border-box;
  padding: 0;
  display: block;
}

.item > p {
  color: #5e6467;
  font-family: sans-serif;
  font-size: 12px;
}

.itemsubmit {
  display: flex;
  cursor: pointer;
  margin-left: 20px;
  position: relative;
}

.itemsubmit > i {
  color: #b6c3c9;
  font-size: 5px;
  margin-left: 2px;
}

.itemsubmit > div {
  position: absolute;
  padding: 20px 40px 5px 15px;
  box-shadow: 17px 20px 14px 4px #dbdae4;
  background-color: white;
  border-radius: 5px;
  top: 24px;
  left: -59px;
  display: none;
  z-index: 1;
}

.itemsubmit > div > button {
  display: flex;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  color: #5e6467;
  font-family: sans-serif;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}

.itemsubmit > div > button > i {
  color: #90a4ae;
  font-size: 17px;
  margin-right: 10px;
  margin-top: -3px;
}

.header > button > i {
  margin-right: 5px;
}

.hinhsanpham {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.hinhsanpham img {
  width: 30px;
}

p.itemname {
  margin-left: 10px;
  width: 231px;
}

p.itemgianhap {
  margin-left: 10px;
  width: 100px;
}

input.itemsoluong {
  padding: 3px 0px;
  width: 40px;
  text-align: center;
  border: 1px solid #e0e5e9;
  border-radius: 5px;
}

p.itemtongia {
  margin-left: 25px;
  width: 100px;
}

p.itemsize {
  margin-left: 10px;
  width: 40px;
}

p.itemmau {
  margin-left: 10px;
  width: 60px;
}

.maindiv2header > p:nth-child(2) {
  margin-left: 69px;
}

.maindiv2header > p:nth-child(3) {
  margin-left: 152px;
}

.maindiv2header > p:nth-child(4) {
  margin-left: 27px;
}

.maindiv2header > p:nth-child(5) {
  margin-left: 42px;
}

.maindiv2header > p:nth-child(6) {
  margin-left: 42px;
}

.maindiv2header > p:nth-child(7) {
  margin-left: 10px;
}

#div1 {
  width: 27%;
  background-color: white;
  margin-left: 2%;
  margin-right: 1%;
  margin-top: 40px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.div12inputlv2 {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  margin-bottom: 15px;
}

.div12inputlv2 > label {
  width: 200px;
  font-family: sans-serif;
  color: #444446;
  font-size: 12px;
  margin-right: 5%;
  margin-left: 10px;
}

.div12inputlv2 > input {
  border: 1px solid #e0e5e9;
  border-radius: 20px;
  padding: 5px 20px;
  color: #e0e5e9;
  margin-top: 7px;
}

.div12inputlv2 > select {
  border: 1px solid #e0e5e9;
  border-radius: 20px;
  padding: 5px 20px;
  color: #e0e5e9;
  margin-top: 7px;
}

.linediv12 {
  background-color: #f0f0f0;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#div1 > h3 {
  font-family: sans-serif;
  color: #9ea5ad;
  font-weight: normal;
  font-size: 14px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.div12inputlv2 > input::placeholder {
  color: #e0e5e9;
  font-size: 12px;
}

.submitnhaphang {
  border: none;
  outline: none;
  padding: 7px 0px;
  width: 170px;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  background-color: #4162fb;
  color: white;
  box-shadow: 14px 15px 35px 3px #2141d65e;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 25px;
}

.submitnhaphang i {
  margin-right: 5px;
}
