.indexmain > div {
  width: 96%;
  margin: auto;
  display: flex;
  margin-top: 70px;
}

.left {
  width: 25%;
}

.leftheader {
  display: flex;
  background-color: white;
  height: 50px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.leftheader > select {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-right: 3px;
}

.leftheadersort {
  overflow: hidden;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin-top: -5px;
}

.leftheadersort i {
  color: #9795b4;
  font-size: 28px;
  margin-left: -12px;
  transform: scaleY(0.5);
  margin-top: -2px;
}

#leftheadersort2 {
  display: none;
  margin-top: -9px;
}

.leftheader > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.leftheadersearch {
  color: #9795b4;
  margin-left: 10px;
  cursor: pointer;
}

.leftheadersearch > div {
  display: flex;
  border-radius: 50px;
  border: 1px solid #eef0f5;
  height: 25px;
  align-items: center;
  width: 120px;
}

.leftheadersearch > div input {
  outline: none;
  border: none;
  margin-left: 10px;
  width: 75px;
  margin-right: 12px;
}

.leftheadersearch > div input::placeholder {
  color: #d5d7e9;
}

.leftheadersearch > div > i {
  margin-left: 10px;
}

.leftheadersearch > div {
  display: none;
}

.leftnextpage {
  display: flex;
  margin-top: 10px;
}

.leftnextpage ul {
  display: flex;
  list-style: none;
}

.leftnextpage ul li {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
  font-family: sans-serif;
  box-shadow: 0 0 black;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  color: #9795b4;
}

.leftnextpage button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #9795b4;
}

.leftnextpage .none {
  box-shadow: none !important;
  background-color: #f5f5fa;
}

.leftnextpage ul li:nth-child(1) {
  background-color: #4162fb;
  color: white;
  box-shadow: 0 3px 5px #90a3ff;
}

.left > div:nth-child(3) {
  width: 100%;
  height: 452px;
  margin-top: 10px;
  overflow: hidden;
}
.left > div:nth-child(3) > div {
  overflow: scroll;
  width: 106%;
  height: 104%;
}

.leftitem {
  border-radius: 10px;
  display: flex;
  background-color: white;
  align-items: center;
  padding: 8px 14px;
  cursor: pointer;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.leftitem > div:nth-child(4) {
  display: none;
}

.leftitem > div:nth-child(1) {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  border: 1px dashed#cccdda;
}

.leftitem > div:nth-child(1) img {
  width: 40px;
  border-radius: 50%;
}

.leftitem > div:nth-child(2) {
  margin-left: 13px;
  width: 101px;
}
.leftitem > div:nth-child(2) > p {
  color: #1b1a26;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
}

.leftitem > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  margin-top: 6px;
}

.leftitem > div:nth-child(2) > div > i {
  font-size: 8px;
  margin-right: 7px;
}

.leftitem > div:nth-child(2) > div > p {
  color: #1b1a26;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}

.leftitem > div:nth-child(3) {
  margin-left: auto;
}

.leftitem > div:nth-child(3) > p:nth-child(1) {
  color: #1b1a26;
  font-size: 12px;
  font-family: sans-serif;
  text-align: right;
}

.leftitem > div:nth-child(3) > p:nth-child(2) {
  color: #9b9eb5;
  font-size: 11px;
  font-family: sans-serif;
  margin-top: 6px;
  text-align: right;
}

.hoanthanh p {
  color: #2ca62d !important;
}

.hoanthanh i {
  color: #2ca62d;
}

.khonghoanthanh p {
  color: #ec3650 !important;
}

.khonghoanthanh i {
  color: #ec3650;
}

.vanchuyen p {
  color: #ffb202 !important;
}

.vanchuyen i {
  color: #ffb202;
}

.choxuly p {
  color: #02b2ff !important;
}

.choxuly i {
  color: #02b2ff;
}

.activeleftitem {
  background-color: #4162fb;
}

.activeleftitem > div:nth-child(1) {
  border: 1px dashed #b8c4fd;
}

.activeleftitem > div:nth-child(2) > p {
  color: white;
}

.activeleftitem > div:nth-child(3) > p:nth-child(1) {
  color: white;
}

.activeleftitem > div:nth-child(2) > div > p {
  color: #c1ccff !important;
}

.activeleftitem > div:nth-child(2) > div > i {
  color: #c1ccff;
}

.activeleftitem > div:nth-child(3) > p:nth-child(2) {
  color: #c1ccff;
}

.right {
  width: 72%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  margin-left: 30px;
  margin-bottom: 5px;
}

.right > div {
  margin: 0px 40px;
  margin-top: 28px;
  position: relative;
}

.right > div > h3 {
  display: flex;
  margin: auto 0;
  color: #2a2935;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  align-items: center;
}

.right > div > p:nth-child(2) {
  color: #9c9fb6;
  font-family: sans-serif;
  margin-top: 5px;
  font-size: 15px;
}

.right > div > p:nth-child(3) {
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, #ffb095, #ffb095, #ff8f69);
  border-radius: 37px;
  padding: 5px 10px;
  display: inline-block;
  font-size: 13px;
  margin-top: 10px;
  padding-right: 13px;
}

.right > div > p:nth-child(3) i {
  font-size: 9px;
  color: white;
  margin-right: 7px;
  transform: translateY(-1px);
}

.right > div > div:nth-child(4) {
  display: flex;
  margin-top: 50px;
}

.dateright {
  display: flex;
  align-items: center;
  margin-right: 60px;
}

.dateright > i {
  color: #caccdf;
  width: 50px;
  background: white;
  border-radius: 50%;
  height: 50px;
  box-shadow: 14px 15px 35px 3px #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.dateright > div {
  margin-left: 20px;
}

.dateright > div p:nth-child(1) {
  color: #a1a4b9;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
}

.dateright > div p:nth-child(2) {
  color: #353440;
  font-size: 12px;
  font-family: sans-serif;
  margin-top: 8px;
}

.table {
  background-color: #f5f5fa;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.table > div:nth-child(2) {
  overflow: hidden;
  height: 240px;
}

.table > div:nth-child(2) > div {
  overflow: scroll;
  width: 104%;
  height: 108%;
}

.tableitem {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 7px;
  width: 93%;
}

.tableitemimg {
  position: relative;
}

.tableitemimg > div:nth-child(1) {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #f2f2fb;
  box-shadow: 14px 15px 35px 3px #e2e2e2;
}

.tableitemimg > div:nth-child(1) img {
  width: 40px;
}

.tableitemimg > div:nth-child(2) {
  position: absolute;
  top: -13px;
  left: -13px;
  background: #ff931b;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableitemimg > div:nth-child(2) > div {
  background: white;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableitemimg > div:nth-child(2) > div p {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.tablenitemame {
  margin-left: 20px;
  width: 200px;
}

.tablenitemame p:nth-child(1) {
  color: #1b1a26;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
}

.tablenitemame p:nth-child(2) {
  color: #a0a3b9;
  font-size: 11px;
  font-family: sans-serif;
  margin-top: 5px;
  font-weight: normal;
}

.tableitemicon:nth-child(3) {
  margin-left: 20px;
}

.tableitemicon {
  margin-left: 60px;
}

.tableitemicon div:nth-child(2) {
  width: 21px;
  border-radius: 50%;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #2ca62d;
}

.tableitemicon div:nth-child(2) > i {
  color: #e3f8e3;
  font-size: 21px;
  transform: translateY(-0.5px) translateX(0px);
}

.tableitemicon div:nth-child(3) {
  width: 21px;
  border-radius: 50%;
  height: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f9cdd4;
}

.tableitemicon div:nth-child(3) > i {
  color: #ec3650;
  font-size: 15px;
  transform: translateY(-0.5px) translateX(0px);
}

.tableitemicon div:nth-child(1) {
  width: 23px;
  border-radius: 50%;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #ffe9d0;
}

.tableitemicon div:nth-child(1) i {
  color: #ff931b;
  transform: rotate(90deg);
  font-size: 22px;
  transform: translateX(0.5px);
}

.hoanthanh > div:nth-child(1) {
  display: none;
}

.hoanthanh > div:nth-child(3) {
  display: none;
}

.khonghoanthanh > div:nth-child(1) {
  display: none;
}

.khonghoanthanh > div:nth-child(2) {
  display: none;
}

.choxuly > div:nth-child(2) {
  display: none;
}

.choxuly > div:nth-child(3) {
  display: none;
}

.tableitem p:nth-child(6) {
  color: #9ea1b5;
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
  width: 80px;
  margin-left: 20px;
  text-align: right;
}

.tableitem p:nth-child(7) {
  color: #1b1a26;
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
  width: 76px;
  transform: translateX(15px);
  text-align: right;
}

.tableheader {
  display: flex;
  color: #9ea0b5;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tableheader p:nth-child(1) {
}
.tableheader p:nth-child(2) {
  margin-left: 184px;
}

.tableheader p:nth-child(3) {
  margin-left: 34px;
}

.tableheader p:nth-child(4) {
  margin-left: 17px;
}

.tableheader p:nth-child(5) {
  margin-left: 38px;
}

.tableheader p:nth-child(6) {
  margin-left: 38px;
}

.nguoimua {
  position: absolute;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  top: -45px;
  left: 214px;
}

.nguoimua > div:nth-child(2) {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
}

.nguoimua > div:nth-child(2) img {
  width: 40px;
}

.nguoimua > h3:nth-child(1) {
  color: #9fa2b9;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 12px;
}

.nguoimua > p:nth-child(3) {
  color: #4162fb;
  font-size: 13px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 10px;
}
.nguoimua > p:nth-child(4) {
  color: #262532;
  font-size: 11px;
  font-family: sans-serif;
  margin-top: 10px;
  width: 150px;
}
.nguoimua > p:nth-child(5) {
  color: #262532;
  font-size: 11px;
  font-family: sans-serif;
  margin-top: 5px;
  width: 150px;
}
.nguoimua > p:nth-child(6) {
  color: #262532;
  font-size: 11px;
  font-family: sans-serif;
  margin-top: 5px;
  width: 150px;
}

.nguoimua:nth-child(7) {
  top: -45px;
  left: 408px;
}

.nguoimua:nth-child(8) {
  top: -45px;
  left: 602px;
}

.kiemduyet > div {
  background-color: white;
  position: absolute;
  display: flex;
  box-shadow: rgb(226, 226, 226) 14px 15px 35px 3px;
  padding: 10px 20px;
  padding-left: 0px;
  top: 151px;
  border-radius: 10px;
  right: -54px;
  display: none;
}

.kiemduyet button {
  background: rgba(0, 0, 0, 0)
    linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) repeat scroll 0 0;
  border: 0 none;
  color: #fff;
  width: 20%;
  cursor: pointer;
  border-radius: 5px;
  font-size: 11px;
  margin-left: 10px;
  padding: 6px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kiemduyet select {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-right: 3px;
  color: #ffb202;
}

.xulyadmin > div:nth-child(1) {
  display: flex;
}

.xulynvk > div:nth-child(2) {
  display: flex;
}

.xulynvgh > div:nth-child(3) {
  display: flex;
}

.atrove {
  border: none;
  outline: none;
  width: 200px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  background-color: #4162fb;
  color: white;
  box-shadow: 14px 15px 35px 3px #2141d65e;
  font-family: sans-serif;
  padding:10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 79%;
  margin-top: 20px;
}

.atrove > i {
  margin-right: 5px;
}
