<div *ngIf="offerInforWS.id == 1" class="container">
    <div class="content">
        <img class="bg-hands" src="assets/images/list-friends-friends-page/holdhands.jpg" alt="">
            <div class="icon"><i class="far fa-user-circle"></i></div>
            <div class="title"><span>Hãy chọn tên của người mà bạn muốn xem trang cá nhân.</span></div>
    </div>
</div>
<div  *ngIf="offerInforWS.id != 1" class="container">
    <img class="bg" [src]="offerInforWS.img || 'assets/images/loading.gif'" alt="">
    <div class="profile">
        <span>Xin Chào !</span>
    </div>
    <div class="circle-top circle">
        <div class="content-circle-top circle-content"></div>
    </div>
    <div class="line"></div>
    <div class="name-line">Bessenger</div>
    <img class="icon-bess" src="assets/images/icon.ico" alt="">
    <div *ngIf="!offerInforWS.checkLimitNameOfferProfile()" class="name"><span class="name-content">{{offerInforWS.name}}</span></div>
    <div *ngIf="offerInforWS.checkLimitNameOfferProfile()" matTooltip="{{offerInforWS.name}}" matTooltipClass="tooltip" class="name"><span class="name-content">{{offerInforWS.getNameLimitOfferProfile()}}</span></div>
    <div (click)="onClickAddFriends(offerInforWS, 0)" *ngIf="offerInforWS.checkAddOrUndo == 'them'" matTooltip="Thêm bạn" matTooltipClass="tooltip" class="circle-add circle-event">
        <div class="add event">
            <i class="fas fa-plus"></i>
        </div>
    </div>
    <div (click)="onClickUndoAddFriends(offerInforWS, 0)"  *ngIf="offerInforWS.checkAddOrUndo == 'thu_hoi'" matTooltip="Thu hồi" matTooltipClass="tooltip" class="circle-add circle-event">
        <div class="add event">
            <i class="fas fa-undo"></i>
        </div>
    </div>
    <div (click)="onClickMessage(offerInforWS.id)" matTooltip="Nhắn tin" matTooltipClass="tooltip" class="circle-message circle-event">
        <div class="message event">
            <i class="fas fa-comment" ></i>
        </div>
    </div>
</div>