.show-yesno {
    transform: scaleY(1) !important;
  }
  .formYesNo {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100vw;
      height: 100vh;
      z-index: 999;
      transition: 0.2s all ease-in-out;
      transform: scaleY(0);
      .formYesNoHidden {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #e8a2a224;
        top: 0px;
        z-index: 2;
      }
    
      .content {
        border-radius: 10px;
        width: 530px;
        height: 440px;
        top: 50%;
        left: 50%;
        margin-left: -265px;
        margin-top: -220px;
        z-index: 3;
        background-color: white;
        position: absolute;
        box-shadow: 17px 20px 14px 4px #dbdae4;
    
        .title {
          text-align: center;
          font-family: sans-serif;
          color: rgb(65, 98, 251);
          font-weight: bold;
          font-size: 22px;
          margin-top: 20px;
          margin-bottom: 0px;
    
          i {
            color: rgb(65, 98, 251);
          }
        }
    
        .select {
          display: flex;
          flex-direction: column;
          align-items: center;
         
          .title1 {
            color: #36363f;
            font-weight: bold;
            font-size: 18px;
            font-family: sans-serif;
            margin-bottom: 10px;
          }
        
          .title2 {
            color: #5e6477;
            font-size: 14px;
            text-align: center;
            width: 350px;
            margin-top: 35px;
            font-family: sans-serif;
          }
          
          .pass-content {
            display: flex;
            flex-direction: column;
            width: 80%;
            justify-content: center;
            position: relative;
            font-family: 'Raleway';
            color: #ff7b5c;
            font-size: 13px;
            .error {
              position: absolute;
              left: 70px;
              margin: 0px;
              display: none;
            }
            .error-old {
              top: 0px;
              
            }
            .error-new {
              top: 80px;
            }
            .error-confirm, .error-equal {
              top: 163px;
            }
            .success {
              left: 140px;
              top: 245px;
              color: #4162fb;
            }
            .input_data {
              display: flex;
              align-items: center;
              width: 326px;
              height: 40px;
              border: 1px solid #e2e2e2;
              border-radius: 10px;
              margin: 20px auto 20px auto;
              i {
                color: #23262e;
                margin-left: 15px;
              }
        
              .eye {
                margin-left: 0px;
                cursor: pointer;
              }
        
              input {
                width: 247px;
                margin-left: 15px;
                outline: none;
                color: #23262e;
                border: none;
        
                ::placeholder {
                  color: red;
                }
              }
            }
          }
          .btn {
            display: flex;
            p {
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              background-color: rgb(216 216 216);
              border: none;
              border-radius: 3px;
              width: 200px;
              height: 40px;
              margin-top: 30px;
              font-size: 14px;
              font-family: sans-serif;
              justify-content: center;
              align-items: center;
              margin-right: 10px;
              cursor: pointer;
              i {
                margin-left: 5px;
              }
            }
            span {
              color: white;
              background-color: rgb(65, 98, 251);
              border: none;
              border-radius: 3px;
              width: 200px;
              height: 40px;
              margin-top: 30px;
              font-size: 14px;
              font-family: sans-serif;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-left: 10px;
              cursor: pointer;
              i {
                color: white;
                margin-left: 5px;
              }
            }
          }
        }
      }
    }
    