<div class="container">
  <div class="content" id="content" (scroll)="eventScroll($event)">
    <section id="section-state">
      <h6 class="title"  >TRẠNG THÁI HOẠT ĐỘNG</h6>
      <div class="fill">
        <div class="fill-content">
          <div class="title-sub">Hiển thị trạng thái hoạt động</div>
          <label class="switch">
            <input hidden type="checkbox" *ngIf="settingObject.trang_thai_hoat_dong == 'bat'" checked
              (click)="changeStatusOnline('tat')" />
            <input hidden type="checkbox" *ngIf="settingObject.trang_thai_hoat_dong == 'tat'"
              (click)="changeStatusOnline('bat')" />

            <span class="slider round"></span>
          </label>
          <div class="status">
            Trạng thái hoạt động:
            <span *ngIf="settingObject.trang_thai_hoat_dong == 'bat'">Đang bật</span>
            <span *ngIf="settingObject.trang_thai_hoat_dong == 'tat'">Đang tắt</span>
          </div>
          <div class="content-details">
            Bạn bè và người liên hệ của bạn sẽ biết khi nào bạn đang hoạt động
            hoặc đang hoạt động gần đây. Bạn sẽ hiển thị là đang hoạt động hoặc
            hoạt động gần đây, trừ khi bạn tắt cài đặt này ở mọi nơi bạn đang dùng
            Bessenger. Bạn cũng sẽ biết khi nào bạn bè và người liên hệ của mình
            đang hoạt động hoặc hoạt động gần đây.
          </div>
        </div>
      </div>
    </section>
    <section id="section-noti">
      <h6 class="title title-notification">THÔNG BÁO</h6>
      <div class="fill">
        <div class="fill-content">
          <div class="title-sub">Không làm phiền</div>
          <label class="switch">
            <input hidden type="checkbox" *ngIf="settingObject.khong_lam_phien == 'bat'" checked
              (click)="changeNotification('tat')" id="checked-klp-1" />
            <input hidden type="checkbox" *ngIf="settingObject.khong_lam_phien == 'tat'"
              (click)="changeNotification('bat')" />
            <span class="slider round" [class.slider-klp]="settingObject.khong_lam_phien == 'bat'"></span>
          </label>
          <div class="error-block" id="error-block">Vui lòng cho phép bessenger gửi thông báo trên trình duyệt!</div>
          <div class="status">
            Trạng thái không làm phiền:
            <span *ngIf="settingObject.khong_lam_phien == 'bat'">Đang bật</span>
            <span *ngIf="settingObject.khong_lam_phien == 'tat'">Đang tắt</span>
          </div>
          <div class="content-details content-details-notification">
            Thông báo sẽ không được gửi đến bạn.
          </div>
          <div class="line"></div>
          <div class="title-sub title-sub-notification">
            Hiển thị bản xem trước
          </div>
          <label class="switch switch-notification">
            <input hidden type="checkbox" *ngIf="
                settingObject.hien_thi_ban_xem_truoc == 'bat' &&
                settingObject.khong_lam_phien == 'tat'
              " checked (click)="changeDisplayContentMessageNotification('tat')" />
            <input hidden type="checkbox" *ngIf="
                settingObject.hien_thi_ban_xem_truoc == 'tat' &&
                settingObject.khong_lam_phien == 'tat'
              " (click)="changeDisplayContentMessageNotification('bat')" />
            <span class="slider round" *ngIf="settingObject.khong_lam_phien== 'tat'"></span>
            <span *ngIf="settingObject.khong_lam_phien== 'bat'" class="slider round" [class.slider-checked]="
                settingObject.hien_thi_ban_xem_truoc == 'bat' &&
                settingObject.khong_lam_phien == 'bat'
              "></span>
          </label>
          <div class="content-details content-details-notification">
            Hiển thị bản xem trước tin nhắn khi bạn không dùng ứng dụng.

          </div>
          <div class="line"></div>
          <div class="title-sub title-sub-notification">Âm thanh thông báo</div>
          <label class="switch switch-notification">
            <input hidden type="checkbox" *ngIf="
                settingObject.am_thanh_thong_bao == 'bat' &&
                settingObject.khong_lam_phien == 'tat'
              " checked (click)="changeSoundNotification('tat')" />
            <input hidden type="checkbox" *ngIf="
                settingObject.am_thanh_thong_bao == 'tat' &&
                settingObject.khong_lam_phien == 'tat'
              " (click)="changeSoundNotification('bat')" />
            <span class="slider round" *ngIf="settingObject.khong_lam_phien== 'tat'"></span>
            <span *ngIf="settingObject.khong_lam_phien == 'bat'" class="slider round" [class.slider-checked]="
                settingObject.am_thanh_thong_bao == 'bat' &&
                settingObject.khong_lam_phien == 'bat'
              "></span>

          </label>
          <div class="content-details">
            Thông báo bằng âm thanh khi bạn nhận được tin nhắn, cuộc gọi hoặc đoạn
            chat video.
          </div>
         
        </div>
      </div>
    </section>
    <section id="section-sup">
      <h6 class="title title-supports">HỖ TRỢ</h6>
      <div class="fill">
        <div class="fill-content">
          <div class="title-sub">Liên hệ hỗ trợ</div>
          <div class="members">
            <div class="active member">
              <img src="assets/images/supports/duy.jpg" alt="">
              <div class="name">Duy Doan</div>
              <div class="contacts">
                <a href="https://www.facebook.com/imandydev/"><i class="active fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/18130054"><i class="fab fa-github"></i></a>
              </div>
            </div>
            <div class="member">
              <img src="assets/images/supports/vien.jpg" alt="">
              <div class="name">Vien Huynh</div>
              <div class="contacts">
                <a href="https://www.facebook.com/vientamthuong"><i class="active fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/vientamthuong"><i class="fab fa-github"></i></a>
              </div>
            </div>
            <div class="member">
              <img src="assets/images/supports/linh.jpg" alt="">
              <div class="name">Linh Nguyen</div>
              <div class="contacts">
                <a href="https://www.facebook.com/profile.php?id=100014137718309"><i class="active fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/kieulinh2805"><i class="fab fa-github"></i></a>
              </div>
            </div>
          </div>
          <div class="support">
            <div class="left-support">
              <div class="left-support-title">Tổng đài:</div>
              <div class="left-support-title">Email:</div>
              <div class="left-support-title">Website:</div>
            </div>
            <div class="right-support">
              <div class="right-support-content">0359989998</div>
              <div class="right-support-content">hotro@bessenger.me</div>
              <a class="right-support-content" href="https://bessenger-6b25f.web.app">https://bessenger-6b25f.web.app</a>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>