<div class="add-friend">
    <div class="add-friend-content">
        <div class="title">Thêm bạn</div>
    <input id="input-id" type="text" placeholder="Mã người dùng">
    <button class="btn-add-friend" type="button" (click)="onClickOpenProfile(true)">Tìm kiếm</button>
    </div>
    <div class="profile" [class.profile-open]="openProfile">
        <div class="icon-exit"><i (click)="onClickOpenProfile(false)" class="fas fa-times"></i></div>
        <div class="img">
            <img [src]="profile.img" alt="">
        </div>
        <div class="name">{{profile.name}}</div>
        <div class="button-lists">
            <button class="message">Nhắn tin</button>
            <button class="add">Kết bạn</button>
        </div>
    </div>
</div>

