* {
    margin: 0;
    padding: 0;
    // ko cho người dùng bôi đen
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
  }
  
  .loading {
    width: 327px;
    height: 313px;
    background-color: white;
    border-radius: 8px;
    position: absolute;
    z-index: 10;
    top: 0px;
  }
  
  .container {
    width: 327px;
    height: 313px;
    background-color: white;
    border-radius: 8px;
  
    > .list {
      width: 100%;
      overflow-y: auto;
      height: 280px;
      scroll-behavior: smooth;
  
      > section {
        p {
          line-height: 17px;
          color: #8d949e;
          cursor: default;
          font-weight: normal;
          margin: 0 8px 4px;
          font-family: "Raleway";
          font-size: 13px;
        }
        .icons {
          display: flex;
          flex-wrap: wrap;
          > div {
            > :hover {
              background: rgba(29, 33, 41, 0.04);
            }
            > div {
              cursor: pointer;
              border-radius: 4px;
              height: 36px;
              margin: 2px;
              img {
                height: 28px;
                margin: 4px;
                position: relative;
                width: 28px;
              }
            }
          }
        }
      }
    }
    ::-webkit-scrollbar-track {
      border-radius: 20px;
      background: #00000000;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 20px;
      background: #00000066;
    }
    ::-webkit-scrollbar {
      width: 7px;
      border-radius: 10px;
    }
    ::-webkit-scrollbar:hover {
      background: #0700001c !important;
    }
  
    .danh-muc {
      width: 100%;
      height: 32px;
      border-top: 1px solid #ced0d4;
  
      .list {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        > div {
          display: flex;
          cursor: pointer;
          overflow: hidden;
  
          span {
            margin: 7px;
            display: flex;
            background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/d-CLxy2kETR.png);
            background-repeat: no-repeat;
            background-size: auto;
            width: 16px;
            height: 16px;
          }
          .qua-khu {
            background-position: 0 -314px;
          }
          .qua-khu-select {
            background-position: 0 -297px;
          }
          .mat-cuoi {
            background-position: 0 -195px;
          }
          .mat-cuoi-select {
            background-position: 0 -178px;
          }
          .dong-vat {
            background-position: 0 -280px;
          }
          .dong-vat-select {
            background-position: 0 -263px;
          }
          .rau-cu {
            background-position: 0 -42px;
          }
          .rau-cu-select {
            background-position: 0 -25px;
          }
          .do-choi {
            background-position: 0 -348px;
          }
          .do-choi-select {
            background-position: 0 -331px;
          }
          .du-lich {
            background-position: 0 -110px;
          }
          .du-lich-select {
            background-position: 0 -93px;
          }
          .bong-den {
            background-position: 0 -144px;
          }
          .bong-den-select {
            background-position: 0 -127px;
          }
          .dinh-kem {
            background-position: 0 -76px;
          }
          .dinh-kem-select {
            background-position: 0 -59px;
          }
          .co {
            background-position: 0 -229px;
          }
          .co-select {
            background-position: 0 -212px;
          }
        }
      }
    }
  }
  