<div class="container">
    <!-- Danh sách icon -->
    <div class="list" id="list" (scroll)="eventScroll($event)">
        <section>
            <p>Đã dùng gần đây</p>
            <div class="icons">
                <div *ngFor="let item of this.emoji_service.lich_sus">
                    <div (click)="selectIconHistory(item)">
                        <img [src]="item.src || 'assets/images/loading.gif'" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <p>Mặt cười & hình người</p>
            <div class="icons">
                <div *ngFor="let item of this.emoji_service.mat_cuois">
                    <div (click)="selectIconNonHistory(item)">
                        <img [src]="item.src || 'assets/images/loading.gif'" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <p>Động vật & thiên nhiên</p>
            <div class="icons">
                <div *ngFor="let item of this.emoji_service.dong_vats">
                    <div (click)="selectIconNonHistory(item)">
                        <img [src]="item.src || 'assets/images/loading.gif'" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <p>Ẩm thực</p>
            <div class="icons">
                <div *ngFor="let item of this.emoji_service.rau_cus">
                    <div (click)="selectIconNonHistory(item)">
                        <img [src]="item.src || 'assets/images/loading.gif'" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <p>Hoạt động</p>
            <div class="icons">
                <div *ngFor="let item of this.emoji_service.do_chois">
                    <div (click)="selectIconNonHistory(item)">
                        <img [src]="item.src || 'assets/images/loading.gif'" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <p>Đi lại & địa điểm</p>
            <div class="icons">
                <div *ngFor="let item of this.emoji_service.du_lichs">
                    <div (click)="selectIconNonHistory(item)">
                        <img [src]="item.src || 'assets/images/loading.gif'" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <p>Đồ vật</p>
            <div class="icons">
                <div *ngFor="let item of this.emoji_service.bong_dens">
                    <div (click)="selectIconNonHistory(item)">
                        <img [src]="item.src || 'assets/images/loading.gif'" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <p>Biểu tượng</p>
            <div class="icons">
                <div *ngFor="let item of this.emoji_service.dinh_kems">
                    <div (click)="selectIconNonHistory(item)">
                        <img [src]="item.src || 'assets/images/loading.gif'" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section>
            <p>Cờ</p>
            <div class="icons">
                <div *ngFor="let item of this.emoji_service.cos">
                    <div (click)="selectIconNonHistory(item)">
                        <img [src]="item.src || 'assets/images/loading.gif'" alt="">
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Danh sách danh mục -->
    <div class="danh-muc">
        <div class="list" id="list-danh-muc-icon">
            <div (click)="this.scrollSpan(1)"><span class="qua-khu qua-khu-select" id="span-1"></span></div>
            <div (click)="this.scrollSpan(2)"><span class="mat-cuoi" id="span-2"></span></div>
            <div (click)="this.scrollSpan(3)"><span class="dong-vat" id="span-3"></span></div>
            <div (click)="this.scrollSpan(4)"><span class="rau-cu" id="span-4"></span></div>
            <div (click)="this.scrollSpan(5)"><span class="do-choi" id="span-5"></span></div>
            <div (click)="this.scrollSpan(6)"><span class="du-lich" id="span-6"></span></div>
            <div (click)="this.scrollSpan(7)"><span class="bong-den" id="span-7"></span></div>
            <div (click)="this.scrollSpan(8)"><span class="dinh-kem" id="span-8"></span></div>
            <div (click)="this.scrollSpan(9)"><span class="co" id="span-9"></span></div>
        </div>
    </div>
</div>

<div class="loading" *ngIf="!this.emoji_service.isOKe()">
    <main lottie [options]="options" (animationCreated)="animationCreated($event)" class="anim"></main>
</div>