* {
  margin: 0;
  padding: 0;
  // font-family: 'Raleway';
}

.container {
  position: relative;
  background-color: #f5f9fc;
  border-radius: 40px;
  height: 100%;
  width: 1144px;
  display: flex;
  .avatar, .profile, .change-pass {
    position: absolute;
    height: 100%;
    top: 80px;
    left: 20px;
  }
  .profile {
    left: 321px;
  }
  .change-pass {
    top: 410px;
    left: 321px;
  }
  .title {
    position: absolute;
    left: 30px;
    top: 25px;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 25px;
    i {
      font-size: 25px;
      padding-right: 10px;
      color: gray;
    }
  }
}
