<div class="container">
    <div class="main">
        <img class="avatar-bg" src="assets/images/list-friends-chat-page/avt5.jpg" alt="">
        <div class="cover-avatar-bg"></div>
        <div class="circle-left">
                <div class="circle-sub-2" matTooltip="Chỉnh sửa thông tin cá nhân" matTooltipClass="tooltip">
                    <img src="assets/images/personal-page/bg-girl.jpg" alt="">
                    <i class="fas fa-id-card"></i>
                </div>
        </div>
        <div class="circle-center" >
            <div class="circle-sub-1">
                <div class="circle-sub-2" matTooltip="Cập nhật ảnh đại diện" matTooltipClass="tooltip">
                <img src="assets/images/list-friends-chat-page/avt5.jpg" alt="">
                </div>
                <div class="name"><span>Halena Jolie</span></div>
            </div>
        </div>
        <div class="circle-right">
                <div class="circle-sub-2" matTooltip="Đổi mật khẩu" matTooltipClass="tooltip">
                    <img src="assets/images/personal-page/pass.jpg" alt="">
                    <i class="fas fa-key"></i>
                </div>
        </div>
    </div>
</div>