<div class="container">
    <div class="main">
        <div class="right">
            <img src="assets/images/list-friends-chat-page/avt5.jpg" alt="">
            <div class="cover-image"></div>
            <div class="name"><span>Halina Jolie</span></div>
            <div class="email"><span>czeus305@gmail.com</span></div>
        </div>
        <div class="left">
            <div class="left-content"></div>
        </div>
        <div class="avatar">
            <img src="assets/images/list-friends-chat-page/avt5.jpg" alt="">
            <div class="camera"><i class="fas fa-camera"></i></div>
        </div>
        <div class="date circle" >
            <div class=" circle-sub"><i class="fas fa-id-card"></i></div>
            <span>THÔNG TIN</span>
        </div>
        <div class="gender circle">
            <div class="circle-sub"><i class="fas fa-key"></i></div>
            <span>MẬT KHẨU</span>
        </div>
    </div>
</div>