<div class="friends-list">
    <div class="friends-list-content">
        <div [class.detail-selected]="item.id === selectedIndex" class="detail-friend"  *ngFor="let item of friends_list; let i = index" (click)="onClickSelectedFriend(item)">
                <div class="detail-sub">
                    <div class="detail-left">
                        <img [src]="item.img" alt="">
                    </div>
                    <div class="detail-center">
                        <div class="name">{{item.name}}</div>
                        <div class="mutual-friends">{{item.mutualFriends}} bạn chung</div>
                    </div>
                    <div class="detail-right">
                       <div class="abort detail-btn"><span>Hủy yêu cầu</span></div>
                    </div>
                </div>
             
        </div>
       
    </div>
</div>