* {
  margin: 0;
  padding: 0;
}

.container {
  width: 281px;
  position: absolute;
  height: 760px;
  background-color: white;
  top: 20px;
  left: 843px;
  border-radius: 27px;
  font-family: "Raleway";
  -webkit-box-shadow: 4px 8px 28px 0px #d3dceb;
          box-shadow: 4px 8px 28px 0px #d3dceb;
}

.content-container {
  width: 271px;
  margin-left: 5px;
  height: 730px;
  margin-top: 15px;
  background-color: white;
  overflow-y: scroll;
  font-family: "Raleway";
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .hinh-dai-dien {
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 20px;
}

.header .hinh-dai-dien .nhom {
  width: 100%;
  height: 100%;
  position: relative;
}

.header .hinh-dai-dien .nhom .hinh-1 {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.header .hinh-dai-dien .nhom .hinh-2 {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  z-index: 9;
  width: 52px;
  height: 52px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  right: 0px;
}

.header .hinh-dai-dien .don {
  width: 100%;
  height: 100%;
}

.header .hinh-dai-dien .don img {
  -webkit-box-shadow: 0 0 2px #909090;
          box-shadow: 0 0 2px #909090;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.header .hinh-dai-dien .online {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #ffffff;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.header .hinh-dai-dien .online .child {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #31a24c;
}

.header .ten {
  color: #050505;
  font-family: "Raleway";
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.header .trang-thai {
  font-family: "Raleway";
  font-size: 12px;
  margin-top: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 20px;
  background: #00000000;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #00000066;
}

::-webkit-scrollbar {
  width: 7px;
  height: 0px;
  border-radius: 10px;
}

::-webkit-scrollbar:hover {
  background: #0700001c !important;
}
/*# sourceMappingURL=file-send.component.css.map */