* {
  margin: 0;
  padding: 0;
}

.container {
  width: 281px;
  position: absolute;
  height: 760px;
  background-color: white;
  top: 20px;
  left: 843px;
  border-radius: 27px;
  font-family: "Raleway";

  //part 1
  .right-avatar {
    margin-top: 40px;
    width: 66px;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #eef2fb;
    border-radius: 50%;
    margin-left: 100px;
    // ảnh avatar
    .avatar {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 8px 20px #d9f0f3;
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 50%;
      img {
        width: 60px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
  //tên name
  .right-title {
    margin-top: 15px;
    .name {
      font-size: 13px;
      font-weight: 600;
      text-align: center;
    }
    .career {
      margin-top: 5px;
      font-size: 11px;
      text-align: center;
    }
  }
  //part 2 start messages
  .maindropdown-start {
    margin-top: 25px;
    display: flex;
    position: relative;
    border-radius: 14px;
    margin-left: 20px;
    .startMessages {
      width: 85%;
      margin-top: 12px;
      display: flex;
      position: relative;
      background-color: rgba(255, 242, 225, 0.644);
      border-radius: 14px;
      margin-left: 10px;
      cursor: pointer;
      .includes {
        width: 35px;
        height: 35px;
        margin: 12px;
        // object-fit: cover;
        border-radius: 50%;
        background-color: white;
        // cursor: pointer;
        .start {
          font-size: 16px;
          margin: 8px;
          color: #9acd32a8;
        }
      }
    }
    .starred-messages {
      font-size: 13px;
      font-weight: 600px;
      margin-top: 21px;
    }
    .icon-angle-down {
      padding: 20px 10px 12px 22px;
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgba(255, 242, 225, 0.644);
      min-width: 189px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 50px 14px 15px 15px;
      z-index: 1;
      margin-top: 73px;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      margin-left: 13px;
    }
  }
  //part 3 media
  .maindropdown-media {
    margin-top: 22px;
    display: flex;
    position: relative;
    border-radius: 14px;
    margin-left: 20px;
    .media {
      width: 85%;
      margin-top: 22px;
      display: flex;
      position: relative;
      background-color: #ffc0cb80;
      border-radius: 14px;
      margin-left: 10px;
      cursor: pointer;
      .includes {
        width: 35px;
        height: 35px;
        margin: 12px;
        object-fit: cover;
        border-radius: 50%;
        background-color: white;
        .images {
          font-size: 16px;
          margin: 9px;
          color: #ff000091;
        }
      }
      .media-title {
        font-weight: 600px;
        font-size: 13px;
        margin-top: 24px;
      }
      .icon-angle-down {
        padding: 24px 12px 17px 81px;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ffc0cb80;
      min-width: 189px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 50px 14px 15px 15px;
      z-index: 1;
      margin-top: 83px;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      margin-left: 13px;
      //type zip
      .filesMedia {
        width: 95%;
        margin-top: -40px;
        display: flex;
        position: relative;
        border-radius: 27px;
        margin-left: -17px;
        .mediaInclude {
          width: 35px;
          height: 35px;
          margin: 12px;
          object-fit: cover;
          border-radius: 50%;
          background-color: white;
          cursor: pointer;
          .mediaIcon {
            font-size: 15px;
            margin: 9px;
            color: rgba(139, 16, 16, 0.568);
            padding: 0px 6px 12px 1px;
          }
        }
        .mediaName {
          font-size: 12px;
          font-weight: 600px;
          padding: 22px 10px 27px 0px;
        }
        .mediaLoad {
          padding: 21px 2px 19px 76px;
          color: grey;
        }
      }
    }
  }

  //part 4 files&docx

  .maindropdown {
    width: 80%;
    margin-top: 45px;
    display: flex;
    position: relative;
    border-radius: 14px;
    margin-left: 29px;
    background-color: #d9f0f3c0;
    cursor: pointer;
    .includes {
      width: 35px;
      height: 35px;
      margin: 12px;
      object-fit: cover;
      border-radius: 50%;
      background-color: white;
      .drop-icon {
        font-size: 16px;
        margin: 8px;
        color: rgba(0, 0, 255, 0.479);
        padding: 0px 6px 12px 4px;
      }
    }
    .drop-files {
      font-size: 13px;
      font-weight: 600px;
      margin-top: 23px;
    }
    .icon-angle-down {
      padding: 22px 15px 15px 51px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
      .drop-icon {
        font-size: 20px;
        margin: 6px;
        color: red;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #d9f0f3c0;
      min-width: 193px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 50px 14px 15px 15px;
      z-index: 1;
      margin-top: 60px;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      margin-left: 3px;
      //type zip
      .filesZip {
        width: 95%;
        margin-top: -40px;
        display: flex;
        position: relative;
        border-radius: 27px;
        margin-left: -17px;
        .zipInclude {
          width: 35px;
          height: 35px;
          margin: 12px;
          object-fit: cover;
          border-radius: 50%;
          background-color: white;
          cursor: pointer;
          .zipIcon {
            font-size: 15px;
            margin: 9px;
            color: rgba(238, 238, 44, 0.726);
            padding: 0px 6px 12px 1px;
          }
        }
        .zipName {
          font-size: 12px;
          font-weight: 600px;
          padding: 22px 10px 27px 0px;
        }
        .zipLoad {
          padding: 21px 2px 19px 50px;
          color: grey;
        }
      }
      //type docx
      .filesDocx {
        width: 95%;
        margin-top: -12px;
        display: flex;
        position: relative;
        border-radius: 27px;
        margin-left: -17px;
        .docxInclude {
          width: 35px;
          height: 35px;
          margin: 12px;
          object-fit: cover;
          border-radius: 50%;
          background-color: white;
          cursor: pointer;
          .docxIcon {
            font-size: 15px;
            margin: 10px;
            color: rgb(165, 165, 253);
          }
        }
        .docxName {
          font-size: 12px;
          font-weight: 600px;
          padding: 22px 10px 27px 0px;
        }
        .docxLoad {
          padding: 21px 2px 19px 35px;
          color: grey;
        }
      }
      //type TXT
      .filesTxt {
        width: 95%;
        margin-top: -12px;
        display: flex;
        position: relative;
        border-radius: 27px;
        margin-left: -17px;
        .txtInclude {
          width: 35px;
          height: 35px;
          margin: 12px;
          object-fit: cover;
          border-radius: 50%;
          background-color: white;
          cursor: pointer;
          .txtIcon {
            font-size: 15px;
            margin: 10px;
            color: plum;
          }
        }
        .txtName {
          font-size: 12px;
          font-weight: 600px;
          padding: 22px 10px 27px 0px;
        }
        .txtLoad {
          padding: 21px 2px 19px 71px;
          color: grey;
        }
      }
      //type Pdf
      .filesPdf {
        width: 95%;
        margin-top: -12px;
        display: flex;
        position: relative;
        border-radius: 27px;
        margin-left: -17px;
        .pdfInclude {
          width: 35px;
          height: 35px;
          margin: 12px;
          object-fit: cover;
          border-radius: 50%;
          background-color: white;
          cursor: pointer;
          .pdfIcon {
            font-size: 15px;
            margin: 10px;
            color: rgba(255, 0, 0, 0.623);
          }
        }
        .pdfName {
          font-size: 12px;
          font-weight: 600px;
          padding: 22px 10px 27px 0px;
        }
        .pdfLoad {
          padding: 21px 2px 19px 74px;
          color: grey;
        }
      }
    }
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  //part 5 infor
  .maindropdown-infor {
    margin-top: 22px;
    display: flex;
    position: relative;
    border-radius: 14px;
    margin-left: 20px;
    .information {
      width: 85%;
      margin-top: 22px;
      display: flex;
      position: relative;
      background-color: rgba(247, 214, 154, 0.356);
      border-radius: 14px;
      margin-left: 10px;
      cursor: pointer;
      object-fit: cover;
      .includes {
        width: 35px;
        height: 35px;
        margin: 12px;
        border-radius: 50%;
        background-color: white;
        .includes-icon {
          font-size: 14px;
          margin: 9px;
          color: #ff000087;
        }
      }
      .information-title {
        font-weight: 600px;
        font-size: 13px;
        padding: 21px 15px 15px 1px;
      }
      .icon-angle-down {
        padding: 22px 20px 15px 47px;
      }
    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: rgba(247, 214, 154, 0.356);
      min-width: 193px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      padding: 50px 14px 15px 15px;
      z-index: 1;
      margin-top: 82px;
      border-bottom-left-radius: 14px;
      border-bottom-right-radius: 14px;
      margin-left: 10px;
    }
  }
}
