<div class="container" *ngIf="this.setting_chat_service.ma_cuoc_tro_chuyen != 'danh-sach'">

    <div class="content-container">
        <!-- Header -->
        <div class="header">
            <div class="hinh-dai-dien">
                <div class="nhom" *ngIf="this.content_service.object_chat.cuoc_tro_truyen.loai_cuoc_tro_truyen == 'nhom'
                && this.content_service.object_chat.imgAvatars.length == 2
                ">
                    <img [src]="this.content_service.object_chat.imgAvatars[0] ||'assets/images/loading.gif'"
                        class="hinh-1" alt="">
                    <img [src]="this.content_service.object_chat.imgAvatars[1] ||'assets/images/loading.gif'" alt=""
                        class="hinh-2">
                </div>
                <div class="don" *ngIf="this.content_service.object_chat.cuoc_tro_truyen.loai_cuoc_tro_truyen == 'don'
                || (this.content_service.object_chat.cuoc_tro_truyen.loai_cuoc_tro_truyen == 'nhom'
                && this.content_service.object_chat.imgAvatars.length == 1)
                ">
                    <img [src]="this.content_service.object_chat.imgAvatars[0] ||'assets/images/loading.gif'" alt="">
                </div>
                <div class="don" *ngIf="this.content_service.object_chat.cuoc_tro_truyen.loai_cuoc_tro_truyen == 'nhom'
            && this.content_service.object_chat.imgAvatars.length == 0">
                    <img src="assets/images/iconRectangle.png" alt="">
                </div>
                <div *ngIf="this.content_service.object_chat.is_online && settingsService.stateStatus == 'bat'" class="online">
                    <div class="child"></div>
                </div>
            </div>
            <div class="ten" [matTooltip]="this.header_service.object_chat.name.noi_dung_goc" matTooltipClass="tooltip"
                [matTooltipDisabled]="!this.header_service.object_chat.name.is_cut">
                {{this.header_service.object_chat.name.noi_dung}}
            </div>
            <p class="trang-thai" *ngIf="this.header_service.object_chat.is_online && settingsService.stateStatus == 'bat'">Đang hoạt động</p>
            <p class="trang-thai" *ngIf="!this.header_service.object_chat.is_online && settingsService.stateStatus == 'bat' && this.header_service.object_chat.getTime() != ''">
                {{this.header_service.object_chat.getTime()}}</p>
        </div>

        <!-- Tùy chỉnh đoạn chat -->
        <app-setting-box-chat *ngIf="!this.content_service.object_chat.is_roi_chua"></app-setting-box-chat>
        <app-members *ngIf="this.content_service.object_chat.cuoc_tro_truyen.loai_cuoc_tro_truyen == 'nhom'">
        </app-members>
        <app-files-share></app-files-share>
        <app-medias-share></app-medias-share>
    </div>

</div>