* {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    .select {
      cursor: pointer;
      transition: all 0.2s ease;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      padding: 14px 10px;
      margin-left: 10px;
      margin-right: 5px;
      p {
        color: #050505;
        font-weight: 600;
        font-family: "Raleway";
        font-size: 14px;
      }
      .open {
        margin-right: 5px;
        filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
          hue-rotate(174deg) brightness(94%) contrast(86%);
        background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/W6QImUVyJuR.png);
        background-position: -130px -46px;
        background-size: auto;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        display: inline-block;
      }
      .close {
        margin-right: 5px;
        background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/W6QImUVyJuR.png);
        background-position: -63px -71px;
        background-size: auto;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        display: inline-block;
        filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
          hue-rotate(174deg) brightness(94%) contrast(86%);
      }
    }
    .select:hover {
      background-color: #f2f2f2;
    }

    .file-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 10px;
      margin-right: 5px;
      .noi-dung-gui-file {
        width: 100%;
        height: 50px;
        background-color: rgb(226, 231, 238);
        display: flex;
        border-radius: 8px;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        &-left{
          width: 65px;
          height: 100%;
          position: relative;
          .cover-file-left-icon {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: white;
            position: absolute;
            left: 10px;
            top: 10px;
            i {
              background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yU/r/FP_pQnfuqge.png);
              background-position: 0px -323px;
              background-size: auto;
              background-repeat: no-repeat;
              width: 16px;
              height: 16px;
              position: absolute;
              top: 8px;
              left: 8px;
              color: #1d1b1b;
            }
          }
        }
        &-right {
          width: 80%;
          height: 100%;
          margin-right: 10px;
          .name-file-right {
            display: inline-flex;
            height: 100%;
            align-items: center;
            font-family: 'Raleway';
            font-size: 15px;
            font-weight: bold;
          }
        }
      }

    }
  }
