<div class="register-page">
  <!-- Change version -->
  <app-change-version></app-change-version>

  <div class="notification" *ngIf="this.notification_register_page_ws.isShow()">
    <div class="content">
      <main lottie [options]="this.notification_register_page_ws.options"
            (animationCreated)="this.notification_register_page_ws.animationCreated($event)" class="anim"></main>
      <p class="title">{{this.notification_register_page_ws.title}}</p>
      <p class="child">{{this.notification_register_page_ws.child}}</p>
      <button class="confirm" (click)="this.notification_register_page_ws.hidden()">
        <i class="fab fa-battle-net"></i>
        <p>Tiếp tục</p>
      </button>
    </div>
  </div>

  <div class="loading" *ngIf="this.register_process_service_ws.isLoadingProcess()">
    <main lottie [options]="options" (animationCreated)="animationCreated($event)" class="anim"></main>
  </div>

  <div class="container">
    <div class="left">
      <img id="hinh1" class="img" src="assets/images/login-page/background1.jpg" alt="">
      <img id="hinh2" class="img" src="assets/images/login-page/background2.jpg" alt="">
      <img id="hinh3" class="img" src="assets/images/login-page/background3.jpg" alt="">
      <img id="hinh4" class="img" src="assets/images/login-page/background4.jpg" alt="">
      <img id="hinh5" class="img" src="assets/images/login-page/background5.jpg" alt="">

      <div class="left_header">
        <img src="assets/images/icon.ico" alt="">
        <p>Bessenger</p>
      </div>

      <div class="bar">
        <div id="child" class="child"></div>
      </div>

      <div class="content_child">
        <p id="content_child">01 </p>
        <p> - 05</p>
      </div>

      <p class="thanks">Cảm ơn bạn đã đến với chúng tôi</p>

      <p class="title">Hoàn thiện những bước cuối cùng</p>

      <p class="content">Bessenger của chúng tôi ra đời nhắm đáp ứng các nhu cầu nhắn tin mà các trang khác không làm
        được đó là "Ít người biết đến", điều đó giúp bạn và tổ chức, cá nhận của bạn có được các cuộc trao đổi riêng
        tư không bị ăn cắp hay nghe lén. Dù đơn giản nhưng chúng tôi vãn đáp ứng đầy đủ các chức năng của một ứng
        dụng Chat!</p>

      <div class="more">
        <i class="fab fa-ubuntu"></i>
        <p>Tại sao bạn lại biến đến chúng tôi muộn vậy? Đó là điều thiệt thòi của bạn!</p>
      </div>
    </div>

    <div class="right">
      <div class="header">
        <p class="title">Chào mừng đến với dịch vụ Bessenger!</p>
        <div class="process">

          <i *ngIf="!register_process_service_ws.isChonGioiTinh() && !register_process_service_ws.isXacNhanEmail() && !register_process_service_ws.isChonHinhDaiDien()"
             class="far fa-circle"></i>
          <i *ngIf="register_process_service_ws.isChonGioiTinh() || register_process_service_ws.isChonHinhDaiDien() || register_process_service_ws.isXacNhanEmail()"
             class="fas fa-check-circle"></i>
          <i *ngIf="!register_process_service_ws.isChonHinhDaiDien() && !register_process_service_ws.isXacNhanEmail()"
             class="far fa-circle"></i>
          <i *ngIf="register_process_service_ws.isChonHinhDaiDien() || register_process_service_ws.isXacNhanEmail()"
             class="fas fa-check-circle"></i>
          <i *ngIf="!register_process_service_ws.isXacNhanEmail()" class="far fa-circle"></i>
          <i *ngIf="register_process_service_ws.isXacNhanEmail()" class="fas fa-check-circle"></i>

          <div class="line-done-1">
          </div>
          <div class="line-done-2">
          </div>
        </div>
        <div class="process-name">

          <p *ngIf="!register_process_service_ws.isChonGioiTinh()">Chọn giới tính</p>
          <p *ngIf="register_process_service_ws.isChonGioiTinh()" style="color: #4290f6;">Chọn giới tính</p>

          <p *ngIf="!register_process_service_ws.isChonHinhDaiDien()">Chọn hình đại diện</p>
          <p *ngIf="register_process_service_ws.isChonHinhDaiDien()" style="color: #4290f6;">Chọn hình đại diện</p>

          <p *ngIf="!register_process_service_ws.isXacNhanEmail()">Xác nhận email</p>
          <p *ngIf="register_process_service_ws.isXacNhanEmail()" style="color: #4290f6;">Xác nhận email</p>

        </div>
        <div class="line"></div>
      </div>

      <router-outlet></router-outlet>

      <div class="footer">
        <i class="far fa-question-circle"></i>
        <p>Mọi thắc mắc, câu hỏi hãy liên hệ với chúng tôi qua địa chỉ mail: bessenger@gmail.com, chúng tôi sẽ giải
          đáp cho bạn sớm nhất có thể. Cảm ơn!</p>
      </div>
    </div>
  </div>
</div>
