* {
    margin: 0;
    padding: 0;
  }

  .container {
    width: 100%;
    .select {
      cursor: pointer;
      transition: all 0.2s ease;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 8px;
      padding: 14px 10px;
      margin: 0px 5px 5px 10px;
      p {
        color: #050505;
        font-weight: 600;
        font-family: "Raleway";
        font-size: 14px;
      }
      .open {
        margin-right: 5px;
        filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
          hue-rotate(174deg) brightness(94%) contrast(86%);
        background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/W6QImUVyJuR.png);
        background-position: -130px -46px;
        background-size: auto;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        display: inline-block;
      }
      .close {
        margin-right: 5px;
        background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yH/r/W6QImUVyJuR.png);
        background-position: -63px -71px;
        background-size: auto;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        display: inline-block;
        filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
          hue-rotate(174deg) brightness(94%) contrast(86%);
      }
    }
    .select:hover {
      background-color: #f2f2f2;
    }
    .list-media-share {
      max-width: 250px;
      display: flex;
      flex-wrap: wrap;
      margin-left: 10px;
      margin-right: 5px;
      justify-content: center;
      .cover-media {
          width: 110px;
          height: 110px;
          border-radius: 5px;
          margin-right: 4px;
          margin-bottom: 4px;
          margin: 2px 2px 2px 2px;
          cursor: pointer;
        .img-file {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 5px;
        }
      }
      .cover-media:hover {
        opacity: 0.9;
        background-color: #e8ecf1a6;
      }
    }
  }
