.indexmain > div {
  width: 96%;
  margin: auto;
  display: flex;
  margin-top: 70px;
  position: relative;
  flex-direction: column;
}

.indexmain > div > div {
  width: 100%;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.leftheader {
  display: flex;
  background-color: white;
  height: 34px;
  border-radius: 10px;
  align-items: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  width: 35%;
}

.leftheader > select {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  padding-right: 3px;
}

.leftheader > div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.leftheadersort {
  overflow: hidden;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin-top: -5px;
}

.leftheadersearch {
  color: #9795b4;
  margin-left: 10px;
  cursor: pointer;
}

.leftnextpage {
  display: flex;
}

.leftnextpage button {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #9795b4;
}

.leftnextpage ul {
  display: flex;
  list-style: none;
}

.leftnextpage ul li {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-left: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 11px;
  font-family: sans-serif;
  box-shadow: 0 0 black;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  color: #9795b4;
}

.leftnextpage ul li:nth-child(1) {
  background-color: #4162fb;
  color: white;
  box-shadow: 0 3px 5px #90a3ff;
}

.leftnextpage .none {
  box-shadow: none !important;
  background-color: #f5f5fa;
}

.leftheadersearch > div input {
  outline: none;
  border: none;
  margin-left: 10px;
  width: 140px;
  margin-right: 12px;
}

.leftheadersearch > div {
  display: flex;
  border-radius: 50px;
  border: 1px solid #eef0f5;
  height: 25px;
  align-items: center;
  width: 193px;
}

.leftheadersort i {
  color: #9795b4;
  font-size: 28px;
  margin-left: -12px;
  transform: scaleY(0.5);
  margin-top: -2px;
}

.leftheadersort i:nth-child(2){
    display: none;
    margin-top: -9px;
}

.leftheadersearch > div > i {
  margin-left: 10px;
}

.leftheadersearch > div input::placeholder {
  color: #d5d7e9;
}

.leftheadersearch > div {
  display: none;
}

#leftheadersort2 {
  display: none;
  margin-top: -9px;
}

.leftnextpage > p {
  border: none;
  outline: none;
  margin-left: 20px;
  font-family: sans-serif;
  font-size: 13px;
  padding-right: 3px;
  margin: auto;
  color: #b8b8c8;
}

.leftnextpage > p > strong {
  color: #333333;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: center;
}

.item {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  margin-right: 11px;
  margin-bottom: 11px;
}

.item > div {
  position: relative;
  display: flex;
  padding: 30px 15px 30px 15px;
}

.itemleft > div {
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 14px 15px 35px 3px #e2e2e2;
}

.itemleft > div > img {
  width: 60px;
}

.star {
  position: relative;
  margin-top: 5px;
}

.star > div:nth-child(1) {
  color: #ececec;
  font-size: 16px;
}

.star > div:nth-child(2) {
  position: absolute;
  top: 0px;
  color: #fbb040;
  font-size: 16px;
}

.itemright > h3 {
  color: #1b1a26;
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  margin-top: 7px;
}

.noidungbl {
  width: 250px;
  height: 46px;
  overflow: hidden;
  margin-top: 15px;
}

.noidungbl > div {
  width: 107%;
  height: 140%;
  overflow: scroll;
}

.noidungbl > div > p {
  color: #a8a8af;
  font-size: 13px;
  font-family: sans-serif;
  width: 99%;
}

.action {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.action > div:nth-child(1) {
  cursor: pointer;
}

.action > div:nth-child(1) > button {
  border: none;
  outline: none;
  padding: 7px 0px;
  width: 100px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  box-shadow: rgb(226, 226, 226) 14px 15px 35px 3px;
}

.action > div:nth-child(1) > button > i {
  margin-right: 7px;
  font-size: 16px;
}
.action > div:nth-child(1) > button:nth-child(1) {
  background-color: #3acb84;
}

.action > div:nth-child(1) > button:nth-child(2) {
  background-color: #fff5e6;
  color: #ffbb45;
}

.action > a:nth-child(2) {
  margin-left: 15px;
}

.eyesanpham {
  display: flex;
  font-size: 13px;
  font-family: sans-serif;
  align-items: center;
  color: #ffbb45;
}

.eyesanpham > i {
  margin-left: 5px;
  font-size: 18px;
}

.itemright {
  margin-left: 15px;
}

.trashremove > i {
  color: #a8b0c0;
  font-size: 20px;
}

.trashremove {
  position: absolute;
  cursor: pointer;
  top: 19px;
  right: -10px;
  width: 34px;
  border-radius: 50%;
  height: 30px;
  background: white;
  cursor: pointer;
  box-shadow: 14px 15px 35px 3px #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  z-index: 2;
}

.baocao {
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  display: none;
}

.baocao > p:nth-child(1) {
  border-top-left-radius: 10px;
  font-family: sans-serif;
  font-size: 11px;
  padding: 6px 10px;
  padding-right: 5px;
  color: white;
  background: #ec3650;
}

.baocao > p:nth-child(1) i:nth-child(1) {
  margin-right: 5px;
  font-size: 13px;
}

.baocao > p:nth-child(1) i:nth-child(2) {
  font-size: 43px;
  position: absolute;
  top: -9px;
  color: #ec3650;
  left: 87px;
}

.baocao button {
  border: none;
  outline: none;
  padding: 7px 0px;
  width: 100px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  box-shadow: rgb(226, 226, 226) 6px 8px 20px 0px;
  position: absolute;
  background-color: #ec3650;
  color: white;
  left: 192px;
  top: 21px;
}

.baocao button i {
  font-size: 15px;
  margin-right: 2px;
}

.hienthibinhluan > button:nth-child(2) {
  display: none;
}

.anbinhluan > button:nth-child(1) {
  display: none;
}

.report .baocao {
  display: flex;
}

#div2 {
  display: none;
}

#leftheadersort4 {
  display: none;
  margin-top: -9px;
}

.itemdiv2 {
  background-color: white;
  border-radius: 5px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.itemdiv2 > div:nth-child(1) {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 40px;
  margin-right: 47px;
}

.itemdiv2 > div:nth-child(1) img {
  width: 30px;
}

.itemdiv2 > p {
  color: #5e6467;
  font-family: sans-serif;
  font-size: 12px;
  width: 180px;
  margin-left: 68px;
}

.maindiv2 {
  margin-top: 20px;
}

.maindiv2header {
  display: flex;
  margin-bottom: 15px;
  margin-top: 30px;
}

.maindiv2header p {
  color: #78909c;
  font-family: sans-serif;
  font-size: 13px;
  width: 200px;
  margin-left: 68px;
  font-weight: bold;
}

.maindiv2header p:nth-child(1) {
  margin-left: 47px;
  width: 92px;
}

.maindiv2header p:nth-child(2) {
  margin-left: 58px;
}

.maindiv2header p:nth-child(3) {
  margin-left: 61px;
}

.maindiv2header p:nth-child(4) {
  margin-left: 64px;
}

.maindiv2header p:nth-child(5) {
  margin-left: 63px;
}
.header > button {
  border: none;
  outline: none;
  padding: 7px 0px;
  width: 130px;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  position: absolute;
  background-color: #4162fb;
  color: white;
  left: 417px;
  top: 3px;
  box-shadow: 14px 15px 35px 3px #2141d65e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > button > i {
  margin-right: 5px;
}

.item > div > div:nth-child(5) {
  display: none;
}
