#div2 {
  width: 96%;
  margin: auto;
  margin-top: 70px;
}

#div3 {
  display: none;
}

.div1 {
  display: flex;
  position: relative;
}

.div1 > div:nth-child(1) {
  width: 344px;
  height: 200px;
  background-image: url("../img/profile-bg.jpg");
  background-size: cover;
}

.div1 > div:nth-child(1) > div {
  background-color: #ffffffad;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.div1 > div:nth-child(1) > div > p:nth-child(1) {
  color: #2a2a2a;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
}

.div1 > div:nth-child(1) > div > p:nth-child(2) {
  background: rgba(0, 0, 0, 0)
    linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) repeat scroll 0 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  margin-top: 12px;
  padding: 6px 20px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-size: 13px;
}

.headeright > div:nth-child(1) {
  height: 139px;
  display: flex;
  align-items: center;
  background-color: white;
}

.headeright > div:nth-child(1) button {
  border: none;
  width: 150px;
  height: 40px;
  background: #f4f8ff none repeat scroll 0 0;
  color: #333;
  font-size: 13px;
  font-family: sans-serif;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.headeright > div:nth-child(1) button:nth-child(1) {
  margin-left: 85px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.headeright > div:nth-child(1) button:nth-child(2) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.activebutton {
  background: rgba(0, 0, 0, 0)
    linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) repeat scroll 0 0 !important;
  color: #fff !important;
}

.headeright {
  display: flex;
  flex-direction: column;
  width: 772px;
}

.headeright > div:nth-child(2) {
  background-color: #f5f5fa;
  display: flex;
  width: 100%;
  height: 61px;
  align-items: center;
  justify-content: center;
}

.headeright > div:nth-child(2) button {
  background-color: #f5f5fa;
  outline: none;
  border: none;
  color: #333;
  font-size: 13px;
  cursor: pointer;
  margin-top: 5px;
}

.headeright > div:nth-child(2) button > i {
  margin-right: 10px;
}

.hinhdaidien {
  position: absolute;
  width: 95px;
  height: 95px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 24px;
  left: 295px;
}

.hinhdaidien > div {
  width: 86px;
  height: 86px;
  border-radius: 50%;
  overflow: hidden;
}

.hinhdaidien > div img {
  width: 86px;
}

.div121 {
  display: flex;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
}

.div121 > div:nth-child(1) {
  width: 50%;
}

.div121 > div:nth-child(1) h3 {
  font-size: 15px;
  text-transform: uppercase;
  font-family: "Open Sans";
  margin: 0;
  font-weight: normal;
  font-family: sans-serif;
  margin-top: 30px;
  margin-left: 40px;
}

.div121 > div:nth-child(1) p {
  color: #888;
  font-weight: normal;
  font-family: sans-serif;
  margin-left: 40px;
  margin-top: 20px;
  font-size: 14px;
  width: 85%;
}

.div121 > div:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
}

.div121 > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px;
  margin-right: 29px;
}

.div121 > div:nth-child(2) > div p:nth-child(1) {
  font-family: sans-serif;
  color: #333;
  font-size: 40px;
}

.div121 > div:nth-child(2) > div p:nth-child(2) {
  background: rgba(0, 0, 0, 0)
    linear-gradient(-135deg, #1de9b6 0%, #1dc4e9 100%) repeat scroll 0 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  padding: 7px 24px;
  text-transform: capitalize;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  font-family: sans-serif;
  margin-top: 20px;
}

button:focus {
  outline: none;
}

#div122 {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  padding-bottom: 51px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
}

.div122item {
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.div122item > p:nth-child(1) {
  color: #8f8e94;
  font-family: sans-serif;
  font-size: 13px;
}

.div122item > p:nth-child(2) {
  color: #333;
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 10px;
}

#div122 {
  display: none;
  background-color: white;
}

.adiv13 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 30px;
}

.div13 > div:nth-child(1) {
  width: 100%;
  margin-left: 0px;
}

.div31 {
  background-color: white;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  position: relative;
  margin-right: 3px;
}

.div31 > h3 {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: normal;
  margin-top: 28px;
  margin-left: 25px;
  margin-bottom: 30px;
}
.iconheader {
  width: 4px;
  height: 20px;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to right, #b275f0 0%, #7575f0 100%) repeat scroll 0 0;
  position: absolute;
  left: 0px;
}

.lineh3header {
  height: 1px;
  width: 100%;
  margin-left: -25px;
  background-color: #f1f1f1;
  position: absolute;
  top: 73px;
}

.div31 > div {
  width: 85%;
  height: 400px;
  margin: auto;
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: 50px;
}

.div31 > div > div {
  overflow: scroll;
  width: 108%;
  height: 108%;
}

.div31item {
  display: flex;
}

.div31item > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div31item > div:nth-child(1) > i {
  font-size: 13px;
  margin-top: -1px;
  display: flex;
}

.div31itemcolor1 > i {
  color: #1de9b6;
}

.div31item > div:nth-child(1) > div {
  width: 2px;
  margin-top: -1px;
  height: 80px;
}

.div31itemcolor1 > div {
  background-color: #1de9b6;
}

.div31item > div:nth-child(2) {
  margin-left: 25px;
}

.div31item > div:nth-child(2) p:nth-child(1) {
  font-size: 11px;
  text-transform: capitalize;
  font-family: sans-serif;
  font-weight: 400;
  color: #888;
}

.div31item div:nth-child(2) p:nth-child(2) {
  color: #4d4d4d;
  font-size: 13px;
  font-family: sans-serif;
  margin-right: auto;
  margin-top: 10px;
  width: 400px;
  line-height: 20px;
}

.div31itemcolor1 > i {
  color: #1de9b6;
}

.div31itemcolor1 > div {
  background-color: #1de9b6;
}

.div31itemcolor2 > i {
  color: #7045ff;
}

.div31itemcolor2 > div {
  background-color: #7045ff;
}

.div31itemcolor3 > i {
  color: #ff8f00;
}

.div31itemcolor3 > div {
  background-color: #ff8f00;
}

.div31itemcolor4 > i {
  color: #ff8684;
}

.div31itemcolor4 > div {
  background-color: #ff8684;
}

#div3 > div {
  width: 96%;
  margin: auto;
  display: flex;
  margin-top: 70px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.div11 {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 20%;
  align-items: center;
  border-right: 1px solid #f0f0f0;
}

.div11 > h3 {
  font-family: sans-serif;
  color: #9ea5ad;
  font-weight: normal;
  font-size: 14px;
  margin-top: 20px;
}

.div11daidien {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #f2f2f4;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 50px;
}

.div11daidien > div {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
}

.div11daidien > div > img {
  width: 90px;
}

.div11 > button {
  margin-top: 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  padding: 9px 20px;
  font-family: sans-serif;
  font-size: 12px;
  cursor: pointer;
}

.div11 > button:nth-child(5) {
  border: 1px solid #d5dee3;
  background-color: white;
  color: #8d97a3;
  margin-bottom: 230px;
}

.div12 {
  width: 50%;
  background-color: white;
  border-right: 1px solid #f0f0f0;
}

.div12 > h3 {
  font-family: sans-serif;
  color: #9ea5ad;
  font-weight: normal;
  font-size: 14px;
  margin-top: 20px;
  padding-left: 30px;
}

.linediv12 {
  background-color: #f0f0f0;
  width: 100%;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.div12input {
  display: flex;
  margin-left: 30px;
  margin-top: 20px;
  align-items: center;
  width: 350px;
}

.div12input > label {
  width: 30%;
  font-family: sans-serif;
  color: #444446;
  font-size: 12px;
  text-align: right;
  margin-right: 5%;
}

.div12input > input {
  width: 65%;
  border: 1px solid #e0e5e9;
  border-radius: 20px;
  padding: 5px 20px;
}

.trangthai {
  display: flex;
  justify-content: center;
  width: 100%;
}

.div12inputlv2 {
  margin: auto;
  margin-left: 5px;
  margin-right: 5px;
}

.div12inputlv2 > label {
  width: 30%;
  font-family: sans-serif;
  color: #444446;
  font-size: 12px;
  text-align: right;
  margin-right: 5%;
  margin-left: 20px;
}

.div12inputlv2 > select {
  border: 1px solid #e0e5e9;
  border-radius: 20px;
  padding: 5px 20px;
  color: #e0e5e9;
  margin-top: 20px;
}

.div13 {
  background-color: white;
  padding-top: 20px;
  width: 30%;
  display: block;
  margin-top: 0px;
}

.div13 .div12input {
  width: 100%;
  margin-top: 0px;
  margin-left: -20px !important;
}

.div11 > button:nth-child(4) {
  background-color: #4162fb;
  color: white;
  border: 1px solid #4162fb;
  margin-top: 50px;
}

.div13 button {
  border: none;
  outline: none;
  padding: 12px 0px;
  width: 151px;
  border-radius: 36px;
  font-family: sans-serif;
  font-size: 13px;
  color: white;
  cursor: pointer;
  background-color: #4162fb;
  color: white;
  box-shadow: 14px 15px 35px 3px #6c82e45e;
  margin-left: 7px;
  margin-top: 320px;
}

.div13 > button:nth-child(6) {
  left: 590px;
  box-shadow: 14px 15px 35px 3px #d3d3d3d6;
  background-color: #fafafa !important;
  color: #c5cbd5 !important;
}

.div13 button > i {
  margin-right: 5px;
}


.div12input > input::placeholder {
  color: #e0e5e9;
  font-size: 12px;
}