


<div class="friends-list">
    <div class="friends-list-content">
        <div id="id-{{i}}" [class.detail-selected]="item.id === iDUrl" class="detail-friend"  *ngFor="let item of friends_list_2; let i = index" (click)="onClickSelectedFriend(item, iDUrl)" >
                <div class="detail-sub">
                    <div class="detail-left">
                        <img [src]="item.img" alt="">
                    </div>
                    <div  [attr.data-id]="item.id" class="detail-center">
                        <div [class.non-mutual]="item.mutualFriends == 0" class="name">{{item.name}}</div>
                        <div *ngIf="item.mutualFriends != 0" class="mutual-friends">{{item.mutualFriends}} bạn chung</div>
                    </div>
                    <div class="detail-right">
                        <i class="fas fa-heart"></i>
                        <i id="icon-option-{{i}}" (click)="onClickOptionGroup(i)" class="fas fa-ellipsis-v" ></i>
                    </div>
                </div>
                <div id="option-{{i}}" class="option" [class.option-detail-block]="i === optionClick">
                    <div class="option-profile option-detail"><i class="fas fa-comment"></i><span>Nhắn tin</span></div>
                    <div class="option-abord option-detail"><i class="fas fa-user-times"></i><span>Hủy kết bạn</span></div>
                </div>
           
        </div>
       
    </div>
</div>