<div class="container">
    <div class="icon">
        <div class="child" matTooltip="Đính kèm một ảnh hoặc video" matTooltipClass="tooltip">
            <svg viewBox="0 -1 17 17" height="20px" width="20px" class="a8c37x1j ms05siws hr662l2t b7h9ocf4">
                <g fill="none" fill-rule="evenodd">
                    <path
                        d="M2.882 13.13C3.476 4.743 3.773.48 3.773.348L2.195.516c-.7.1-1.478.647-1.478 1.647l1.092 11.419c0 .5.2.9.4 1.3.4.2.7.4.9.4h.4c-.6-.6-.727-.951-.627-2.151z"
                        [attr.fill]="this.messenger_footer_service.object_chat_footer.mau"> </path>
                    <circle [attr.fill]="this.messenger_footer_service.object_chat_footer.mau" cx="8.5" cy="4.5"
                        r="1.5"></circle>
                    <path
                        d="M14 6.2c-.2-.2-.6-.3-.8-.1l-2.8 2.4c-.2.1-.2.4 0 .6l.6.7c.2.2.2.6-.1.8-.1.1-.2.1-.4.1s-.3-.1-.4-.2L8.3 8.3c-.2-.2-.6-.3-.8-.1l-2.6 2-.4 3.1c0 .5.2 1.6.7 1.7l8.8.6c.2 0 .5 0 .7-.2.2-.2.5-.7.6-.9l.6-5.9L14 6.2z"
                        [attr.fill]="this.messenger_footer_service.object_chat_footer.mau"></path>
                    <path
                        d="M13.9 15.5l-8.2-.7c-.7-.1-1.3-.8-1.3-1.6l1-11.4C5.5 1 6.2.5 7 .5l8.2.7c.8.1 1.3.8 1.3 1.6l-1 11.4c-.1.8-.8 1.4-1.6 1.3z"
                        [attr.stroke]="this.messenger_footer_service.object_chat_footer.mau" stroke-linecap="round"
                        stroke-linejoin="round"></path>
                </g>
            </svg>
        </div>
        <div class="child" matTooltip="Chọn nhãn dán" matTooltipClass="tooltip">
            <svg x="0px" y="0px" viewBox="0 0 17 16" height="20px" width="20px"
                class="a8c37x1j ms05siws hr662l2t b7h9ocf4 crt8y2ji">
                <g fill-rule="evenodd">
                    <circle fill="none" cx="5.5" cy="5.5" r="1"></circle>
                    <circle fill="none" cx="11.5" cy="4.5" r="1"></circle>
                    <path
                        d="M5.3 9c-.2.1-.4.4-.3.7.4 1.1 1.2 1.9 2.3 2.3h.2c.2 0 .4-.1.5-.3.1-.3 0-.5-.3-.6-.8-.4-1.4-1-1.7-1.8-.1-.2-.4-.4-.7-.3z"
                        fill="none"></path>
                    <path
                        d="M10.4 13.1c0 .9-.4 1.6-.9 2.2 4.1-1.1 6.8-5.1 6.5-9.3-.4.6-1 1.1-1.8 1.5-2 1-3.7 3.6-3.8 5.6z"
                        [attr.fill]="this.messenger_footer_service.object_chat_footer.mau"></path>
                    <path
                        d="M2.5 13.4c.1.8.6 1.6 1.3 2 .5.4 1.2.6 1.8.6h.6l.4-.1c1.6-.4 2.6-1.5 2.7-2.9.1-2.4 2.1-5.4 4.5-6.6 1.3-.7 1.9-1.6 1.9-2.8l-.2-.9c-.1-.8-.6-1.6-1.3-2-.7-.5-1.5-.7-2.4-.5L3.6 1.5C1.9 1.8.7 3.4 1 5.2l1.5 8.2zm9-8.9c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1zm-3.57 6.662c.3.1.4.4.3.6-.1.3-.3.4-.5.4h-.2c-1-.4-1.9-1.3-2.3-2.3-.1-.3.1-.6.3-.7.3-.1.5 0 .6.3.4.8 1 1.4 1.8 1.7zM5.5 5.5c.6 0 1 .4 1 1s-.4 1-1 1-1-.4-1-1 .4-1 1-1z"
                        [attr.fill]="this.messenger_footer_service.object_chat_footer.mau" fill-rule="nonzero"></path>
                </g>
            </svg>
        </div>
        <div class="child" matTooltip="Chọn file gif" matTooltipClass="tooltip">
            <svg x="0px" y="0px" viewBox="0 0 16 16" height="20px" width="20px"
                class="a8c37x1j ms05siws hr662l2t b7h9ocf4 crt8y2ji">
                <path
                    d="M.783 12.705c.4.8 1.017 1.206 1.817 1.606 0 0 1.3.594 2.5.694 1 .1 1.9.1 2.9.1s1.9 0 2.9-.1 1.679-.294 2.479-.694c.8-.4 1.157-.906 1.557-1.706.018 0 .4-1.405.5-2.505.1-1.2.1-3 0-4.3-.1-1.1-.073-1.976-.473-2.676-.4-.8-.863-1.408-1.763-1.808-.6-.3-1.2-.3-2.4-.4-1.8-.1-3.8-.1-5.7 0-1 .1-1.7.1-2.5.5s-1.417 1.1-1.817 1.9c0 0-.4 1.484-.5 2.584-.1 1.2-.1 3 0 4.3.1 1 .2 1.705.5 2.505zm10.498-8.274h2.3c.4 0 .769.196.769.696 0 .5-.247.68-.747.68l-1.793.02.022 1.412 1.252-.02c.4 0 .835.204.835.704s-.442.696-.842.696H11.82l-.045 2.139c0 .4-.194.8-.694.8-.5 0-.7-.3-.7-.8l-.031-5.631c0-.4.43-.696.93-.696zm-3.285.771c0-.5.3-.8.8-.8s.8.3.8.8l-.037 5.579c0 .4-.3.8-.8.8s-.8-.4-.8-.8l.037-5.579zm-3.192-.825c.7 0 1.307.183 1.807.683.3.3.4.7.1 1-.2.4-.7.4-1 .1-.2-.1-.5-.3-.9-.3-1 0-2.011.84-2.011 2.14 0 1.3.795 2.227 1.695 2.227.4 0 .805.073 1.105-.127V8.6c0-.4.3-.8.8-.8s.8.3.8.8v1.8c0 .2.037.071-.063.271-.7.7-1.57.991-2.47.991C2.868 11.662 1.3 10.2 1.3 8s1.704-3.623 3.504-3.623z"
                    [attr.fill]="this.messenger_footer_service.object_chat_footer.mau" fill-rule="nonzero"></path>
            </svg>
        </div>
        <div class="child" matTooltip="Đính kèm file" matTooltipClass="tooltip">
            <i [style.color]="this.messenger_footer_service.object_chat_footer.mau" class="fas fa-paperclip"></i>
        </div>
        <div class="child" matTooltip="Tạo cuộc thăm dò ý kiến" matTooltipClass="tooltip"
            *ngIf="this.messenger_footer_service.object_chat_footer.loai == 'nhom'">
            <i [style.color]="this.messenger_footer_service.object_chat_footer.mau" class="fas fa-poll"></i>
        </div>
        <div class="child" matTooltip="Gửi clip âm thanh" matTooltipClass="tooltip">
            <i [style.color]="this.messenger_footer_service.object_chat_footer.mau" class="fas fa-microphone"></i>
        </div>
    </div>
    <div class="khung-chat">
        <div class="parent-input" id="parent_input">
            <div contenteditable="true" #input class="input" (input)="inputMessenger(input.innerText)" id="input">
            </div>
        </div>
        <p class="place" *ngIf="this.tin_nhan == null || this.tin_nhan.length == 0">Aa</p>
        <i [style.color]="this.messenger_footer_service.object_chat_footer.mau" class="fas fa-smile c-btcx"
            matTooltip="Chọn biểu tượng cảm xúc" matTooltipClass="tooltip"></i>
        <!-- Khung để hiện chọn biểu tượng cảm xúc -->
        <div class="box-bieu-tuong-cam-xuc" id="box-btcx">
            <app-emoji></app-emoji>
            <div class="mui-ten"></div>
        </div>
        <!--------->
    </div>
    <div class="bieu-tuong-cam-xuc-chat" matTooltip="Gửi lượt thích" matTooltipClass="tooltip"
        *ngIf="this.messenger_footer_service.object_chat_footer.bieu_tuong_cam_xuc == 'khong'">
        <svg viewBox="0 0 16 16" height="20" width="20" class="crt8y2ji">
            <path [attr.fill]="this.messenger_footer_service.object_chat_footer.mau"
                d="M16,9.1c0-0.8-0.3-1.1-0.6-1.3c0.2-0.3,0.3-0.7,0.3-1.2c0-1-0.8-1.7-2.1-1.7h-3.1c0.1-0.5,0.2-1.3,0.2-1.8 c0-1.1-0.3-2.4-1.2-3C9.3,0.1,9,0,8.7,0C8.1,0,7.7,0.2,7.6,0.4C7.5,0.5,7.5,0.6,7.5,0.7L7.6,3c0,0.2,0,0.4-0.1,0.5L5.7,6.6 c0,0-0.1,0.1-0.1,0.1l0,0l0,0L5.3,6.8C5.1,7,5,7.2,5,7.4v6.1c0,0.2,0.1,0.4,0.2,0.5c0.1,0.1,1,1,2,1h5.2c0.9,0,1.4-0.3,1.8-0.9 c0.3-0.5,0.2-1,0.1-1.4c0.5-0.2,0.9-0.5,1.1-1.2c0.1-0.4,0-0.8-0.2-1C15.6,10.3,16,9.9,16,9.1z">
            </path>
            <path [attr.fill]="this.messenger_footer_service.object_chat_footer.mau"
                d="M3.3,6H0.7C0.3,6,0,6.3,0,6.7v8.5C0,15.7,0.3,16,0.7,16h2.5C3.7,16,4,15.7,4,15.3V6.7C4,6.3,3.7,6,3.3,6z">
            </path>
        </svg>
    </div>
</div>